[2020-09-22 16:37] shaijut opened #11 "How to send SMS and Email"
May I know when and how I can send SMS and Email using Azure communication services ?

Can anyone show me a simple demo in C# or Javascript ?

[2020-09-22 16:39] shaijut opened #12 "Provide Chat and Video Calling Examples In JavaScript or C#"
I can see below examples in React , Can anyone give same demos In JavaScript or C# ?

- Chat Hero Sample - Demonstrates rich text chat
- Calling Hero Sample - Demonstrates voice and video calling

[2020-09-22 16:40] NMuravlyannikov commented on #11
@shaijut  we are targeting availability of the Phone numbers (required to send an SMS) in October.

[2020-09-22 16:43] shaijut commented on #11
Nice, May I know the date please,  I am planning to use it in a Azure Hackathon project ? Or I will be using Twilio.

[2020-09-22 16:43] NMuravlyannikov commented on #11
For email we don't have the timeline now

[2020-09-22 16:48] NMuravlyannikov commented on #11
@shaijut  beginning of October, we can onboard you to the private preview of the feature. Please send me email if you are interested to onboard to private preview

[2020-09-22 16:56] ddematheu2 commented on #12
Take a look at quickstarts for Javascript  in our official documentation: https://aka.ms/communication-services-docs.

[2020-09-22 16:59] RinaRish commented on #12
Hi! C# sample is not available yet

[2020-09-22 17:12] bashan-git commented on #12
Please see Calling Client Libraries  Here.
https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/voice-video-calling/calling-client-samples

Please Chat Here
https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/chat/get-started?pivots=programming-language-csharp

[2020-09-22 17:22] shaijut commented on #11
Yes I am interested if i can use it with Azure free trial account, Which email id to send  ?

[2020-09-22 17:25] shaijut commented on #12
Nice 👍 I Just heard about Azure communication services today at Ignite by Satya, Thank you guys for quick response, JavaScript example will do. Excited to use Azure communication services. :)

[2020-09-22 17:29] NMuravlyannikov commented on #11
Please send to phone@microsoft.com @Prakulka  will be your onboarding buddy

[2020-09-22 17:30] shaijut commented on #11
Glad to hear that you have Email also in your Plan. Normally I use Mailgun for sending emails, It would be good if you could provide a options to send email easily using any Programming language.

Is there any other Azure services to send email ?

[2020-09-22 17:58] shaijut commented on #12
Can I get a sample for Group video call between 2 people in Javascript , Current example is in React. its better give examples in main Programming languages like Javascript, C# etc because  any Javascript frameworks will be outdated in long run.

[2020-09-22 18:53] NandaCodeBox opened #13 "Prompting to install aspnetcore-2.2.8 on running the code."
Prompting to install aspnetcore-2.2.8 on running the code.

Visual studio 2019 community

https://dotnet.microsoft.com/download/dotnet-core/thank-you/runtime-aspnetcore-2.2.8-windows-x64-binaries

Just want to cross check if this required as the latest version is installed already.

[2020-09-22 18:56] NandaCodeBox opened #14 "localhost is currently unable to handle this request."
Build successful but facing below issue.

https://localhost:44316/
This page isn’t workinglocalhost is currently unable to handle this request.
HTTP ERROR 500

node -v        v14.8.0
VS 2019

[2020-09-22 18:59] #13 closed

[2020-09-22 19:00] NandaCodeBox commented on #13
prerequisites

[2020-09-22 19:00] NMuravlyannikov commented on #14
Which quickstart do you use @NandaCodeBox ?

[2020-09-22 19:01] NandaCodeBox commented on #14
@NMuravlyannikov from
Readme.md

[2020-09-22 19:10] Prakulka commented on #11
Hello,

Thank you for your email.

Here are some resources to help you get started with Azure Communication Services SMS:

  1.  SMS Overview - https://docs.microsoft.com/en-us/azure/communication-services/concepts/telephony-sms/concepts
  2.  SMS Quickstart - https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/telephony-sms/send?pivots=programming-language-csharp
  3.  Azure

[2020-09-22 19:37] tophpalmer commented on #14
Hey @NandaCodeBox , there are several samples in this repo, can you please point to the specific one you're having trouble with?

[2020-09-22 20:05] NandaCodeBox commented on #14
@tophpalmer "Group Calling Hero Sample"

[2020-09-22 20:40] ddematheu2 commented on #14
Make sure to run the correct project on visual studio.

![image](https://user-images.githubusercontent.com/43075365/93935231-278ee380-fcd9-11ea-9e91-6bb793101314.png)

[2020-09-22 21:08] NandaCodeBox commented on #14
@ddematheu2 thanks tht works...can u help me out why the microphone and video are not enabled .. though the browser allowing it ?

![image](https://user-images.githubusercontent.com/17465542/93937649-bfc2b200-fd45-11ea-95d7-4d80cb0b31d6.png)

[2020-09-22 21:11] keithnicholson opened #16 "XAML: UWP and/or WPF SDK Clients"
**Is your feature request related to a problem? Please describe.**
We are needing to implement with an existing UWP solution which is used in a large number of field locations.  We were just assigned this a research user story with the goal of implementing probably in the next sprint.

**Describe the solution you'd like**
Integrate with a Teams meeting created by district, division, or corporate m

[2020-09-22 22:58] RinaRish commented on #16
Hi @keithnicholson! Could you please send us an email to acsfeedback@microsoft.com and we will get in touch with you regarding your particular situation?

[2020-09-22 23:00] tophpalmer commented on #12
Hey @shaijut thank you for the feedback. We're talking about this within the team and will bounce back here with direction on a pure JavaScript sample tomorrow. FYI @ddematheu , @chriswhilar

[2020-09-22 23:00] sphenry commented on #12
@shaijut group call is almost exactly the same as 1:1 call in the quickstart, instead of 'call' use 'join':

[code]

[2020-09-22 23:07] ddematheu2 commented on #14
The camera and mic can be configured on the configuration page:
![image](https://user-images.githubusercontent.com/43075365/93946274-aa219e00-fced-11ea-8e0f-e01cb8025fa8.png)

Once on the call, you can click them to enable them. (They are not enabled by default)

[2020-09-22 23:15] terrychen1122 opened #17 "iOS SDK: stopVideo is not working"
When we called `stopVideo` on the call, it did nothing.

Steps to reproduce the behavior:
On our demo app, joined an existing call with video and audio enabled. Once connected, we called `stopVideo` on the existing call object. However, the remote participants were still able to see my local stream. Also, the `stopVideo` completion handler did tell me no error so I assume stopping sharing the loca

[2020-09-23 00:46] NMuravlyannikov commented on #17
@mariusu-msft  can you please help here?

[2020-09-23 02:32] mariusu-msft commented on #17
Thanks for the report @terrychen1122.

As a parameter to `stopVideo` can you pass the `localVideoStream` instance that you used to start video with?

From your snippet it seems you are allocating a new localVideoStream, and while that stream might have the same camera as before, it's is not the same localVideoStream instance which is attached to the call for sending video to remote participants.

[2020-09-23 02:45] terrychen1122 commented on #17
@mariusu-msft I also tried to use the same `localVideoStream` when the device manager is setup. Will try using the same when joining the call and update the thread.

[2020-09-23 06:44] terrychen1122 commented on #17
@mariusu-msft now it works by passing the local video stream that was used to join the call. Thanks for the help. I'd recommend documenting this in the api so it becomes clearer.

[2020-09-23 06:44] #17 closed

[2020-09-23 07:03] terrychen1122 opened #19 "iOS SDK: Unable to identify when the remote participant's mute and speaking states have changed"
During the call, I was not able to get notified when a remote participant unmuted/muted or was speaking.

To Reproduce:
1. Establish a call
2. Mute one participant and the other end is not able to get notified by this action

Expected behavior:
I was assuming the state of remote participant should have been changed and I could get notified by implementing the `ACSRemoteParticipantDelegate` protoco

[2020-09-23 07:39] raosanat commented on #19
``` onParticipantStateChanged``` callback on delegate ```ACSRemoteParticipantDelegate ``` should be raised when state of the remote participant changes from mute to unmute and you should be able to read the current state by reading the following property on the ```ACSRemoteParticipant``` object

[code]

Please give us sometime to reproduce the scenario at our end. In the meanwhile can you attach t

[2020-09-23 14:04] johannesstock opened #20 "Roadmap is currently empty"
The Roadmap Section (Projects - Roadmap) currently does not show any items.

Do we get a glimpse on whats planned or is this empty by purpose?

![image](https://user-images.githubusercontent.com/2735399/94023271-5333cb80-fdb6-11ea-82a4-e8b73694f5ae.png)

[2020-09-23 14:08] HanzOhlo opened #21 "Is inbound PSTN on the roadmap?"
Inbound PSTN is a desirable feature.

With the ability to retrieve and use Caller ID as a variable.  Think a Call Center or Collections Dept app that routes an inbound call to an agent based on account ownership via Caller ID.

Thanks!

[2020-09-23 14:31] NMuravlyannikov commented on #21
@HanzOhlo  yes inbound PSTN is on roadmap. Can you please give brief description of the scenarios you have in mind for the inbound PSTN?

[2020-09-23 14:44] Githamza opened #22 "nhandled Rejection (SyntaxError): Unexpected end of JSON input ( after selecting avatar and name )"
I get these errors after running the app

I followed the steps mentioned
the run project `dotnet run`

I get this error on browser
[code]

And in console

[code]

[2020-09-23 14:56] legistek opened #23 "Video Chat Recording?"
This is fantastic! I can't find any reference to recording though. Is that going to be available? That would be essential if I were to use this in my application.

It would also be convenient - but not critical - if it were possible to record each participant's audiovideo feed separately. At minimum I would like to have each person's audio in a separate channel because we would want to run it thro

[2020-09-23 16:03] ganlbarone opened #24 "Protocol Documentation?"
Hello,
Is there anywhere to review the actual protocol documentation for this? Personally, I hate using libraries, and that is all I can find reference to in the material about this service.

Thanks much.

[2020-09-23 16:26] HanzOhlo commented on #21
Basically what was mentioned in the original post; being able to programmatically route an inbound call among a group of users and trigger actions based on the Caller ID and other inputs.  A "basic" customer service app for instance.  Thx!

[2020-09-23 16:40] NandaCodeBox commented on #14
it worked after enabling the microphone for apps in windows 10. Thanks for the support.

[2020-09-23 16:40] #14 closed

[2020-09-23 16:45] NMuravlyannikov commented on #21
Got it. Thanks, Yes on the roadmap. @boris-bazilevskiy

[2020-09-23 16:59] ddematheu2 commented on #22
On which of the samples is this happening?

[2020-09-23 18:29] alex-kwan commented on #22
I was wondering can you confirm you entered a resource connection string into the appsettings.json?

[2020-09-23 19:42] ryanespiritu opened #26 "iOS SDK: Joining a group call always unmutes microphone"
**Describe the bug**
Joining a group call always unmutes microphone.

**To Reproduce**
Steps to reproduce the behavior:
1. Set `ASCAudioOptions`'s `muted` property to `YES`
2. Join a call via a groupID
3. Observe microphone is not muted

**Expected behavior**
My microphone should be muted after specifying `muted = YES` for the audio options.

**Smartphone (please complete the following information

[2020-09-23 20:41] eliaspuurunen opened #27 "Possible to retrieve the Audio Stream for Spatial effects on JS?"
In WebRTC applications, it is possible to re-route a MediaStream through effects.

Are there any entrypoints known for the JS Azure Communication SDK?

[2020-09-23 21:35] raosanat commented on #26
Hi , Thanks for reporting the issue. This is a bug at our end and we will fix this in the upcoming release.

[2020-09-23 22:04] InventiveLabs opened #28 "Bring your own Carrier"
Teams has Direct Routing through an SBC.

When will you be adding similar feature to ACS?

This will open up many more applications when you can integrate to outside carriers.

[2020-09-23 22:47] svanvliet commented on #28
Yes, our plan is to offer a similar experience to Direct Routing for ACS. More details on our [blog here](https://azure.microsoft.com/en-us/blog/build-rich-communication-experiences-at-scale-with-azure-communication-services/). (I guess not more details, just a line in our roadmap 👍 )

[2020-09-23 22:57] jsandoval-msft commented on #23
Hi @legistek , the capability described is not currently supported as a feature. However, I've added your input into our feature prioritization process to help us refine our roadmap for new capabilities over the next several months. Thanks!

[2020-09-23 23:00] telecomsxchange commented on #28
@svanvliet what's the best way to be notified when BYOC becomes available ? We would love to be the best to test it our with our platform, we already have 300+ carrier interconnections, we can test across all pretty easily.

[2020-09-23 23:12] anthonysva commented on #23
@legistek - can you describe the desired functionality in a bit more detail? For example, bring your own storage, recording retention expectations, configuration and/or policies expected, etc.

[2020-09-24 00:01] terrychen1122 commented on #19
Is it this one? I found a file under Caches folder called `acs-sdk-0-4108691083.blog`. Zipped it.
[acs_sdk-0-4108691083.blog.zip](https://github.com/Azure/Communication/files/5272603/acs_sdk-0-4108691083.blog.zip)

[2020-09-24 00:46] anthonysva commented on #27
@eliaspuurunen - can you elaborate on the desired functionality? E.g. capture unmixed audio

[2020-09-24 00:49] anthonysva commented on #20
@johannesstock - at this time roadmap updates are posted to https://azure.microsoft.com/en-us/services/communication-services/

Are there specific features or capabilities you are seeking?

[2020-09-24 00:57] johannesstock commented on #20
@anthonysva - Besides being informed about the direction you go, specifically important for me would be:
-Recording
-Broadcast to broader audiences using Azure Media Services

[2020-09-24 00:57] NMuravlyannikov commented on #28
@telecomsxchange  we target early next year for this.

[2020-09-24 01:00] #21 closed

[2020-09-24 01:07] eliaspuurunen commented on #27
@anthonysva - on one of our WebRTC projects, we take the audio track from a MediaStream, then apply filters to it.

https://developer.mozilla.org/en-US/docs/Web/API/PannerNode

Does the JS library allow a developer to access the underlying MediaStream tracks?

[2020-09-24 01:10] mariusu-msft commented on #19
@terrychen1122 we have confirmed this is a bug. Should be fixed in an upcoming release. Currently targeting the week of 10/6.

cc: @raosanat

[2020-09-24 02:53] muheebhussain opened #29 "Is there a feature in ACS telephony-SMS service to restrict data to resides in preferred country such as Canada?"
We have a business requirement to integrate SMS service for appointment reminders, schedule and reschedule appointments with back and forth conversation via SMS. But we have this restriction that our data (such as message sent to phone number, message body .. etc) should always reside in Canada.

This is a show stopper for us to integrate SMS Service. I reached out to 10-15 providers starting with

[2020-09-24 03:03] RinaRish commented on #27
Hi Elias! it's currently not supported, but I'll discuss with the engineering team

[2020-09-24 06:21] Githamza commented on #22
Yes I have entreted connection string.
This is happening on chat sample

[2020-09-24 07:01] boris-bazilevskiy commented on #28
@telecomsxchange please drop me an email with relevant contact info, we will let you know when we start onboarding

[2020-09-24 13:44] alex-kwan commented on #22
Thanks for the clarification!

I understand the issue now. When creating a ChatClient you will require an additional URL in the constructor. By default, there is an empty string. You will need to fill this value with a string that matches your Azure Communication Services resource

![image](https://user-images.githubusercontent.com/704758/94153208-5750ff00-fe31-11ea-85e5-3b559da29d16.png)

[2020-09-24 14:37] InventiveLabs commented on #28
voiceelements.com has a multi-tenant software SBC that works with Teams currently.  We would also like notification, preview, or test when it becomes available.  Could you add voiceelements.com so I can send to acsfeedback.  Thanks.

[2020-09-24 14:58] telecomsxchange commented on #28
Done.

[2020-09-24 15:10] telecomsxchange commented on #28
@boris-bazilevskiy I tried emailing, however we got an error that we're not an allowed sender. JFYI

`Your message couldn't be delivered to multiple recipients.
--
The groups only accept messages from people in their organization or on their allowed senders list, and your email address isn't on the lists.`

[2020-09-24 17:11] lucasm107 opened #30 "Call to Teams User"
In this example I call an echo bot:
https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/voice-video-calling/getting-started-with-calling?pivots=platform-web

But how I can call a Teams User ? Is that posible ?

Great work thanks !

[2020-09-24 17:13] nmurav commented on #30
@lucasm107  can you please provide a use case? What scenario from business point you want to implement

[2020-09-24 17:24] boris-bazilevskiy commented on #28
please try again and put me in CC (boris.bazilevskiy@microsoft.com), we 'll check where the problem is

[2020-09-24 17:41] lucasm107 commented on #30
Hi @nmurav,

For example, a web for customer support, the customer enter on that website and ask for help, this make a call or videocall to company user that receive that call in his Teams Desktop Client

[2020-09-24 17:45] nmurav commented on #30
Got it will the call be to a individual Teams user or Call Queue, Bot?

[2020-09-24 17:52] lucasm107 commented on #30
For my POC it´s enough call to and individual Teams user, in the future I think Call Queue it´s going to be the right solution

[2020-09-24 17:57] telecomsxchange commented on #28
I think we have missed asking if BYOC will be for both Voice and SMS, am guessing protocols used will be SIP and SMPP, just want to reconfirm ?

[2020-09-24 18:14] rggammon opened #31 "PlayPrompt/Record/SubscribeToTone api"
Is there a way to access the audio stream of a call, to build IVR or call routing capabilities?

Eg: the Service-hosted media scenario from -
https://docs.microsoft.com/en-us/microsoftteams/platform/bots/calls-and-meetings/calls-meetings-bots-overview

[2020-09-24 18:17] nmurav commented on #30
Got you, we are working on the interoperability with Teams per our Ignite announcement. I don't have exact date, would appreciate if you can drop a email to acsfedback@microsoft.com so we can add you to the list of Private preview customers

[2020-09-24 18:20] nmurav commented on #28
Good question @telecomsxchange  we will enable it for PSTN only. What is the scenario for SMS?

[2020-09-24 18:20] lucasm107 commented on #30
Thanks a lot @nmurav ! I´ll subscribe to this email right now

[2020-09-24 18:21] #30 closed

[2020-09-24 20:27] ProbablePrime commented on #24
Hey @ganlbarone,

Thanks for your inquiry. I understand your ask and that you want to avoid using libraries and to potentially build your own, to your preferences.

Azure Communication Services has plans to release full REST API Documentation which closely matches REST documentation available for other Azure offerings. Using this documentation you should be able to talk directly to our services.

[2020-09-24 21:02] RinaRish commented on #31
@jsandoval-msft

[2020-09-24 21:05] telecomsxchange commented on #28
@nmurav just like voice, many enterprises have existing contracts / relationship with carriers. SMS/Texting is on the rise and businesses use it as much as PSTN calling, if not more in some scenarios. Two-way SMS, 2FA, promos campaigns etc...

All CPaaS provider failed to provide perfect and consistent quality because they lack end to end control and don't have the resources to interconnect with e

[2020-09-25 00:34] Prakulka commented on #11
@shaijut sorry for my earlier comment about free trials. That is an upcoming functionality for the next year. As part of public preview, you will not be able to access SMS using Azure free trial. If you have requested access for private preview here https://aka.ms/ACS-EarlyAdopter you can try out the functionality for free.

[2020-09-25 00:43] Prakulka commented on #29
Hi @muheebhussain, we do not store SMS messages persistently. You can be in complete control of where the data gets stored at your end. As a data processor, if a message cannot be delivered to the recipient (example if phone is switched off), we temporarily store the data to retry delivery for 24 hours (at most). All data gets deleted upon delivery. Please email us at phone@microsoft.com if you ha

[2020-09-25 01:14] muheebhussain commented on #29
Thanks @Prakulka!  I have few more questions I will be sending those in email.

[2020-09-25 02:51] muheebhussain opened #32 "SMS Pricing?"
I would like to clarify on SMS Pricing, is SMS cost same as Chat? It doesn't specify in documentation.

$0.0008 USD per SMS?

[Pricing Model ](https://docs.microsoft.com/en-us/azure/communication-services/concepts/pricing)

[2020-09-25 06:59] VoxboneTGooch commented on #28
Have also sent a registration e mail for this when BYOC launches

[2020-09-25 12:44] ganlbarone commented on #24
Thanks for the update on this. Will await the rest docs. I am pretty familiar with Graph api and the other azure related apis so should be all set once this is released.

[2020-09-25 13:18] muheebhussain commented on #29
Hi @Prakulka,

Sharing details below, might be helpful to understand our requirements.

Ontario’s Personal Health Information Protection Act (PHIPA)

Data Centre Location
The location of the data center is an important factor for diversifying risk. If 100% of your data is being stored on Canadian soil, it is protected from external legislation. However, data that is moved across the border either

[2020-09-25 15:08] nmurav commented on #28
Makes sense, appreciate the reply. I added you on the waitlist of customers for the Direct Routing

[2020-09-25 15:15] #28 closed

[2020-09-25 16:08] anthonysva commented on #32
We will be updating the pricing on this page as new services are released to public preview.

https://docs.microsoft.com/en-us/azure/communication-services/concepts/pricing

[2020-09-25 19:56] #32 closed

[2020-09-25 20:53] iamalexmang opened #34 "Reserved capacity for calling minutes/messages and more"
It would be amazing if the service would have the ability to allow for reservations.
Similarly to how one can reserve for a lower price compute compute, Cosmos DB, SQL Database, Storage capacity and more, I would appreciate if, in exchange for a year/3-years term I could save the overall cost on my subscription(s) for Azure Communication Service.

[2020-09-25 21:48] RinaRish commented on #34
Hi Alex! Thanks for the feedback, we will look into this.

[2020-09-25 23:00] anthonysva commented on #20
Can you elaborate on the broadcasting and recording feature details? For example, with Broadcasting - what platforms, how large of an audience, do you need features to change cameras which are broadcasting, presenter specific controls, audience specific controls, etc.

Thank you again for your feedback!

[2020-09-26 00:53] timheuer opened #35 "Samples need to be upgraded to .NET 3.1"
**Describe the bug**
.NET Core 2.2 is out of support and no samples should be published using them.  Upgrade to .NET 3.1 targeting.

Some changes to the web apps will be required to remove Obsolete API usage.

Changes to:

- [ ] Group Chat Hero Sample
- [ ] Group Calling Hero Sample

**Expected behavior**
Microsoft samples use supported softare.

**Additional context**
https://dotnet.microsoft.com

[2020-09-26 06:57] sipsorcery opened #37 "Is this a browser only API?"
Given the browser compatibility list it seems this SDK is relying on the client running in a browser supporting WebRTC. Will desktop or non-browser based clients ever be supported?

[2020-09-26 07:46] telecomsxchange commented on #32
How about PSTN termination pricing per country. Will that be added on the same page ? Probably need to add inbound/outbound rate per network.

Also for sms. Certain countries charge for sender id registration, there should some pricing on that as well.

[2020-09-26 13:33] legistek commented on #23
Hi @anthonysva happy to and sorry for the lag.

Essentially we need server-side recording of the meeting that's initiated, paused, and completed by API calls. either from our server or a privileged participant.

For our case specifically we really would prefer just getting the raw feeds from each participant as .WEBM streams, just as can be done with WebRTC. That plus a way to know which stream ca

[2020-09-27 03:39] mariusu-msft commented on #37
Hi Aaron,

The Calling Voice & Video client libraries are currently available for JavaScript (requiring a compatible browser), and for iOS/Android as native SDKs.

Documentation for library availability can be found here: https://docs.microsoft.com/en-us/azure/communication-services/concepts/sdk-options

Is there a platform in particular that you’d like to see support for?

Thanks,
Marius

[2020-09-27 07:05] sipsorcery commented on #37
Thx for the response.

I'd like to be able to place calls to Microsoft Teams from a .NET Core Console application and get access to the raw audio and video streams.

[2020-09-27 14:33] croninr opened #38 "Will Xamarin (Forms/iOS/Android be supported"
Will there be Xamarin bindings for the existing Android / iOS SDK, or ideally will there be a Xamarin Forms SDK in the near future?

Thanks

[2020-09-28 07:23] tompi commented on #38
@croninr I have bindings for the ios SDK, and a sample forms app. Let me know if you want to cooperate(could need help on the android bindings!) and Ill give you access to the repo

[2020-09-28 11:45] croninr commented on #38
Hi Thomas,

I’d be happy to help, but I’m afraid I’m not overly experienced at creating bindings for native libraries.  I’ve done it a bit on iOS in the past but never needed to on Android.

I might be of more help testing the bindings on both platforms if that’s any use?

Thanks,
Richard

From: Thomas Haukland <notifications@github.com>
Sent: Monday 28 September 2020 08:24
To: Azure/Communication

[2020-09-28 11:51] tompi commented on #38
That would be great also, added you now.

P.S. Im not affiliated with Microsoft, just doing this for my organization, so I cant promise you support :)

[2020-09-28 14:33] johannesstock commented on #20
Sure, I'm happy to provide you with input. Here are my more specific wishes.

Broadcast/ Recording Targets & Audiences:
-A possibility to broadcast to an RTMP service of choice would be great (Azure Media Services, Youtube, Restream, Custom)
-Having Azure Media Services Live Events as a target for streaming to a larger audience (>1000) would also suit our needs
-For a simple Recording an Azure sto

[2020-09-28 15:24] RinaRish commented on #35
Hi Tim! Thanks for reporting the issue, we are aware of that and working on a fix.

[2020-09-28 15:24] #35 closed

[2020-09-28 16:29] timheuer commented on #35
Cool I submitted a PR for the fixes.

[2020-09-28 16:29] timheuer commented on #35
@rinarish I'd recommend keeping this issue open until your fix is done to help others know that it is 'open' and not solved.

[2020-09-28 17:54] raosanat commented on #38
@tompi if you don't mind giving me access to the bindings for iOS ? Currently we dont have plans to support Xamarin as we first want to provide support for the native platforms first.

[2020-09-28 18:33] tompi commented on #38
@raosanat added you now. Will try to get android up and running and cleanup the shared api the next few days if I get the time. This is all published now, so it shouldnt be a problem to bundle this as a nuget, right? (makes it much easier for build server and other ppl...)

[2020-09-28 18:38] terrychen1122 opened #39 "Is it possible to host the iOS SDK on cocoapod as well?"
as the title suggested

[2020-09-28 19:00] raosanat commented on #39
Hi @terrychen1122 We do plan to support Swift Package manager soon and will consider adding CocoaPods support in the future if many customers are still asking for CocoaPods support after we have provided the support for Swift PM.

[2020-09-29 17:20] nmurav commented on #37
@sipsorcery thanks, .Net app on the roadmap. Quick questions can you please provide more information on the case for a Call to a Teams user from the .Net app? What is the use case here?

[2020-09-29 18:07] #11 closed

[2020-09-29 18:07] tophpalmer commented on #11
@shaijut I'm closing this issue. Please re-open as appropriate.

[2020-09-29 18:09] #16 closed

[2020-09-29 18:16] sipsorcery commented on #37
The request I've had from customers is the same as always with any new communications platform, to be able to call from their existing telephone/PBX systems into a Teams meeting or direct to a Teams user. There are two main facets to it:
 - First the ability to be able to integrate calls to Teams into existing application workflows.
 - Second to desire to avoid the constraints and costs imposed by

[2020-09-29 19:10] mariusu-msft commented on #39
Adding @bsiegel and @tjprescott

[2020-10-01 13:40] tompi opened #41 "Not able to push to testflight: BuildAzurePackages.sh creates a bundle missing "CFBundleVersion" in info.plist AND AzureCommunicationCalling is missing "CFBundleShortVersionString""
This is not a big problem until you try to bundle the app for distribution.

When trying to upload IPA from build server, I got this:

[code]

Added it manually to info.plist of AzureCommunication.framework and AzureCore.framework, and got this:

[code]

After I added this one as well, I was able to upload the IPA, but got this in a mail:

[code]

Is there a way to get around this last one? (I ass

[2020-10-01 15:23] williamzhao87 opened #42 "Unable to deploy Communication Service with resource name starting with `comm`"
**Describe the bug**
Deploying a Communication Service with resource name starting with `comm` results in the following error:
[code]

Perhaps either the uniqueness of the Resource Name is not being correctly validated, or `comm` is a reserved keyword and should not be allowed to be used.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a new Communication Service and under `Resource Name

[2020-10-01 16:18] chenxing105 opened #43 "ACS able to call existing Microsoft teams user?"
Hi,
From the calling hero sample, as I understand, is browser starting the call, then others who want to join will access through the given url.
But is it possible that browser/iOS/android using ACS libraries will be able to start a call to sip address of MS Teams users?

[2020-10-01 16:44] xtianus79 opened #44 "There seems to be no call video or ability to have another caller join a particular call from the group call sample"
**Describe the bug**
From the group call sample via the localhost, or deployed, there are 2 notable things.

1. There is no video on the call and
2. To whom am I calling or can there be a way to have 2 browser tabs to fulfill caller 1 and caller 2 to make it as if there are 2 callers on the call?
3. Otherwise the people button at the top of the web client doesn't' show anything or any directory of

[2020-10-01 19:25] nmurav commented on #43
@chenxing105  not available now on the roadmap. What is the specific scenario you want to implement? Why would you call from ACS to a Teams SIP address?

[2020-10-01 21:00] alex-kwan commented on #44
Hello.

I was wondering if we could verify a few things so we can help you out :)

- Did you enable permissions for the use of your camera in this tab?
- I was wondering if you entered a value resource connection string into your appsettings.json?

(To add someone to a call)
To add someone. Once you in the group call, there is a join link at the bottom right hand corner of the side pane you can co

[2020-10-01 23:47] xtianus79 commented on #44
@alex-kwan So I have boiled it down to this sdk xhr request that is being blocked by my vpn

post https://api3.cc.skype.com/conv

in relation to this call get

https://euaz.turn.skype.com/relay

(failed)net::ERR_CONNECTION_RESET
--

[2020-10-02 00:48] tophpalmer commented on #12
@shaijut I'm closing this, I think we got to a good spot but please re-open if appropriate.

[2020-10-02 00:48] #12 closed

[2020-10-02 05:27] chenxing105 commented on #43
Hi @nmurav
For Sample scenario, A customer visits my page and needs help from customer support from companyA, then my web will start  videocall to companyA user who will get a call on Teams client desktop app.

[2020-10-02 08:10] tompi commented on #41
@raosanat I suspect this might be because you compiled the framework with MinimumOsVersion=10, while IOSurface is an iOS 11 api. Could you possibly Change MinimumOsVersion to 12(I believe thats minimum version for AzureCore and AzureCommunication?) OR if I could get access or a copy of the source code I could compile it myself... I have a nice POC for iOS now, but having trouble distributing it to

[2020-10-02 08:16] raosanat commented on #41
Hi @tompi we are working on providing a release which will fix this issue. I will send you the link to the new release by tomorrow.

[2020-10-02 11:49] sabrimev opened #45 "Does it support React Native?"
I would like to use this on my React Native application. Anyone tried this before? Any suggestions?

[2020-10-02 12:48] eliaspuurunen opened #46 "Web: Microphone & Camera device names do not appear after permissions granted until page refreshed"
**Describe the bug**
Device names do not appear on Android Chrome after calling DeviceManager.AskDevicePermission(), then enumerating the Microphone List.

**To Reproduce**
1. Await deviceManager.askDevicePermission(true, true)
2. Fetch list of microphones & cameras using .getMicrophoneList and getCameraList.
3. Camera names do not appear, Microphone names do not appear.

If the user reloads the p

[2020-10-02 12:54] eliaspuurunen opened #47 "Web: audioDevicesUpdated/videoDevicesUpdated events are inconsistent between Desktop Chrome and Mobile Chrome"
**Describe the bug**
After permissions are granted by the user (call deviceManager.askDevicePermission), the desktop version of Chrome fires the audioDevicesUpdated and videoDevicesUpdated events. These events are not called when accessed from Mobile Chrome.

**Expected behavior**
Expected behavior is unclear from documentation. When should these events fire? Is a change defined as when a device i

[2020-10-02 12:55] eliaspuurunen opened #48 "Make Azure Communication Client Library Open Source"
**Is your feature request related to a problem? Please describe.**
At the moment, the Azure calling library/Javascript npm package is closed source (to my knowledge). Are there any plans to make this package open source?

[2020-10-02 18:01] xtianus79 commented on #23
@legistek this

[2020-10-02 21:04] manoskow commented on #42
Hi @williamzhao87 , thank you for filing this issue!

The resource could not be created because there are already resources out there named 'com', 'comm', and 'communication'.

I agree with you this should be validated sooner in the creation process and appreciate the feedback! I am filing a bug on our side to track this issue and work on a fix.

[2020-10-02 23:55] raosanat commented on #41
Hi @tompi sorry for the delay here is the link to the release that will fix your above problem

[AzureCommunicationCalling- v3.1.100120-prerelease](https://github.com/Azure/communication-preview/releases/tag/3.1.100120-prerelease)

Please note that you will still have to manually update the info.plist with version , the fix for this will come in the upcoming release.

[2020-10-03 15:16] nmurav commented on #43
Thank, @chenxing105  but in this case to you want to call the UserA directly or have some bot that will be distributing calls between Teams users (let say User A and User B)?

[2020-10-03 16:59] chenxing105 commented on #43
@nmurav  call userA directly. Is that possible or in the roadmap? Thank you very much.

[2020-10-03 19:16] RinaRish commented on #45
Hi @sabrimev! We don't have React Native Support now. Something we are considering. What is the scenario for React Native?

[2020-10-04 21:21] ankbs opened #50 "Camera and Microphone Setup can't be configure inside an iframe"
Hi,

I had the first customer demo / adhoc poc as a webcast last week.
So I worked with the two Hero Samples.

The Use Case of the customer (international enterprise service and manufactory) is to chat with endusers on his website.
They wan't to have the option, to chat inside an internal website inside an iframe.
The Hero sample for Video Call could not start inside an iframe with webcam and micr

[2020-10-04 23:08] bigbbri commented on #38
Hi @tompi,  I'd like to see what you have and I think I can help.  I have a video conferencing app using (Vidyo.io - which sucks but it's a Xamarin SDK).  I want to moved away from it immediately so I was looking for an alternative.  My team can help with the Android bindings.  Can you grant access please and we'll take a look and we can talk once we see what you have and what is needed?
Thanks,
B

[2020-10-05 05:28] sabrimev commented on #45
Hi @RinaRish , need to add one-one, one-many, many-many video & voice calling feature to our enterprise application. Can I use Communication Services with WebRTC in the client side? IS that possible?

[2020-10-05 12:34] xtianus79 commented on #44
@alex-kwan any update on this?

[2020-10-05 12:55] alex-kwan commented on #50
@ankbs

I was wondering if you could share which browser you are demo-ing on?

I was wondering if you are able to apply on additional properties on your iframe? If you are using a chromium browser it should enable the specific HTML5 permissions such as Camera/Microphone

https://sites.google.com/a/chromium.org/dev/Home/chromium-security/deprecating-permissions-in-cross-origin-iframes

[2020-10-05 15:37] ankbs commented on #50
@alex-kwan

Thanks for responding.
Edge Chrome (Version 87.0.654.0 (Offizielles Build) dev (64-Bit)) and FF....

But Thank you, this was a great Tip!
It's working!

<iframe src="https://example.com" **allow**="geolocation; **microphone; camera**"></iframe>

Perfect ;-)
Regards,
Michael

[2020-10-05 15:37] #50 closed

[2020-10-05 17:21] alex-kwan commented on #22
@Githamza I was wondering if this solved your issue and we can close this?

[2020-10-05 17:57] alex-kwan commented on #44
@xtianus79  I believe the SDK is only available on a specific range of IPs that we are currently writing additional documentation for. As a potential work-around, are you able to test without using a VPN?

[2020-10-05 19:31] RinaRish commented on #44
Hi @xtianus79 ! The document about supported API ranges is under construcrion. You should whitelist everything from this page https://docs.microsoft.com/en-us/microsoft-365/enterprise/urls-and-ip-address-ranges?view=o365-worldwide#skype-for-business-online-and-microsoft-teams. Let me know if that helps

[2020-10-06 07:20] tompi commented on #41
Thnx @raosanat I was able to deploy successfully to testflight now!

[2020-10-06 07:20] #41 closed

[2020-10-06 08:53] tompi commented on #38
@bigbbri Added you now. I uploaded android bindings, they compile and run, but missing some jackson lib runtime. I probably cant look at it until next week, let me know if you figure it out. ios seems to work

[2020-10-06 12:20] lucasm107 commented on #30
Hi @nmurav we can´t subscribe to this list, is restricted I think. I get an "Delivery restriction check failed because the sender was not authenticated when sending to this group" can you help us with that or is only for internal use ?

Thanks a lot!

[2020-10-06 18:27] xtianus79 commented on #44
@RinaRish so we can focus in our requests are there particular endpoints and ip's that need to be whitelisted. Everything is a lot on this page for our environment.

[2020-10-06 20:16] RinaRish commented on #46
Hi @eliaspuurunen ! Thanks for reporting, it's a bug on our side and we are working on it

[2020-10-06 20:18] RinaRish commented on #47
Hi @eliaspuurunen! Thanks for reporting the issue, we are looking into it

[2020-10-07 00:26] raosanat commented on #19
@terrychen1122  We have made a release which fixes this issue. Here is the link to the release  [AzureCommunicationCalling - v1.0.0-beta.4](https://github.com/Azure/Communication/releases/tag/v1.0.0-beta.4)
Please verify if the bug is fixed in the new release. Thanks.

[2020-10-07 00:27] raosanat commented on #26
@terrychen1122  We have made a release which fixes this issue. Here is the link to the release  [AzureCommunicationCalling - v1.0.0-beta.4](https://github.com/Azure/Communication/releases/tag/v1.0.0-beta.4)
Please verify if the bug is fixed in this new release. Thanks.

[2020-10-07 04:25] terrychen1122 opened #53 "when to use the two initializers of CommunicationUserCredential"
`CommunicationUserCredential` has two designated initializers (`initWithToken:error:` and `initWithInitialToken:refreshProactively:error:tokenRefresher`). Due to lack of documentation for these methods, I am not sure which to use or when to use one vs the other. Also, can we improve the documentation overall for the SDK?

Thanks

[2020-10-07 04:40] raosanat commented on #53
Hi @terrychen1122 yes we are aware of the lack of documentation in that area and we will address the issue very soon. Meanwhile there is a snippet of code [here](https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/voice-video-calling/calling-client-samples?pivots=platform-ios) you can check to get you started
I would suggest using the approach of `tokenRefresher` as SDK can a

[2020-10-07 18:00] terrychen1122 commented on #53
so, if I understand it correctly, when `refreshProactively ` is `true`, when the token expires or gets invalidated, `tokenRefresher` block would be called and as the consumer of the SDK, we are responsible for passing a new valid token right?

[2020-10-07 18:33] raosanat commented on #53
Yes that's correct in the sample provided provided above, `fetchTokenSync` will end up being called by the SDK whenever token needs to be updated. And yes you will be responsible for having an implementation that fetches the token

[2020-10-08 14:15] williamzhao87 opened #54 "Unable to get phone numbers on Pay-As-You-Go subscription"
**Describe the bug**
Unable to get phone number on my Pay-As-You-Go subscription

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Communication Service
2. Click Phone Numbers -> Click Get
3. See error `Your subscription isn't eligible to acquire phone numbers.`

**Expected behavior**
3. To see a list of available phone numbers

**Screenshots**
![image](https://user-images.githubuserc

[2020-10-08 22:12] terrychen1122 opened #55 "Can we add nullability annotation for the headers of this library?"
As the tittle suggest, I think it's just a good practice to follow. Otherwise, we need to manually disable warnings for this library.

[2020-10-09 05:53] mariusu-msft commented on #55
Thanks for the report @terrychen1122.

We are tracking to fix this in a future release.

cc: @RinaRish @raosanat

[2020-10-09 05:57] boris-bazilevskiy commented on #54
@williamzhao87 we need your Offer ID to clarify the issue, if you don't like the idea of publishing it here, drop an email to acsfeedback@microsoft.com.

[2020-10-09 15:45] williamzhao87 commented on #54
@boris-bazilevskiy
I've updated the screenshot with the Offer ID, which according to the following document, corresponds to a "Pay-As-You-Go" subscription:
https://docs.microsoft.com/en-us/azure/cost-management-billing/costs/understand-cost-mgt-data

Pay-As-You-Go | Pay-As-You-Go | PayAsYouGo_2014-09-01 | MS-AZR-0003P | October 2, 20182
-- | -- | -- | -- | --

[2020-10-09 15:56] nmurav commented on #54
@williamzhao87  is the Billing address on the subscription is a US address?

[2020-10-09 17:04] williamzhao87 commented on #54
@nmurav
No, it is a Canadian address

[2020-10-09 17:21] #54 closed

[2020-10-09 20:56] terrychen1122 opened #56 "What's the min Xcode version for this framework?"
In the release note, I saw 11.5+ is required for running the build script. So, I guess that (11.5+) isn't necessarily the min version for Xcode to run the frameworks. If true, what would be the min version?

[2020-10-09 20:59] terrychen1122 commented on #56
Also, since we are talking about the min version here. Regarding the iOS version, the current min is 12.0. How far behind the current iOS version do we expect the minimum App target version to be in the future?

[2020-10-09 22:22] likern commented on #45
My user scenario is to build high-quality cross-platform chat application using React Native. Like Telegram or WhatsApp competitor.

Microsoft heavily is investing into React Native and supports own port for Windows and even MacOS.

React Native allows do not write platform-specific code if libs support it out of the box.

[2020-10-09 22:31] likern commented on #45
Ideally I don't want to write and run backend neither. If Azure Communications Services could handle that scenario that would be ideal.

[2020-10-10 03:31] amarjeetsingh0021 opened #57 "Video group call with Angular and .net core"
Hi,
I went through with the group calling sample code, which is available on the azure communication service link. Here, the UI part is developed in reactjs.

By any chance, do we any sample code base using Angular and .net core for group video calling?

[2020-10-11 00:34] pvaillant opened #58 "Data channels"
**Is your feature request related to a problem? Please describe.**
I'm building a video app and would like to have functionality similar to a collaborative whiteboard. Currently there doesn't seem to be anything like WebRTC data channels available in Azure Communication Service.

**Describe the solution you'd like**
I'd like to have a mechanism similar to data channels in group calls to allow for

[2020-10-12 08:46] GeorgeTTD opened #59 "Screen share on IPad Safari"
We are trying to support screen share in the browser across multiple different OS. We have found a few products already which work well apart from IOS safari. This is a big problem for us as a large proportion of our userbase own an iPad.

Unfortunately we don't have the resource to create a separate mobile app natively so we need a solution that works in the default browser of most devices (or th

[2020-10-12 12:22] nikita-rane-22 opened #60 "Can a call be initiated in the same group as chat?"
We are trying to integrate the group calling application with the group chat application. We want the users to initiate a call in the same group in which the chat is in process. How do we achieve this?

[2020-10-12 13:18] tompi opened #61 "iOS crashes when trying to initiate another call (after hanging up on the first one)"
Maybe me not cleaning up something, but the SDK throws an exception on initiating call nr 2:

[code]

[2020-10-12 17:38] raosanat commented on #61
Hi @tompi Can you give more information, like
1. How often is this reproducible ?
2. Exact steps, API calls done to repro the issue
3. Can you attach the logs ?

Steps to get logs
1. In Xcode, go to Windows -> Devices and Simulators -> Devices -> Select your device -> Under Installed Apps -> Select your application -> Select  at the bottom -> Download container
2. You will get a file with extensio

[2020-10-12 18:29] sphenry commented on #58
@pvaillant have you looked at [Fluid Framework](https://fluidframework.com/)?

[2020-10-12 18:35] chriswhilar commented on #57
Hi @amarjeetsingh0021, our current samples are all in ReactJS. Another sample we have is the Web Calling Tutorial (https://github.com/Azure-Samples/communication-services-web-calling-tutorial) but this is also in reactjs. The web calling sdk can still be used in Angular though.

[2020-10-12 18:53] amarjeetsingh0021 commented on #57
Hi Chris,
Thanks for the update.
By any chance, do we have any tutorial to record the video stream using
react js?

On Tue, 13 Oct 2020, 00:05 chriswhilar, <notifications@github.com> wrote:

[2020-10-12 19:37] RinaRish commented on #60
Hi @nikita-rane-22! It's not currently supported, but it's something we'll be looking at. You are actually the first customer asking for it so we would love to hear more details about your use-case (if that possible)

[2020-10-12 19:44] RinaRish commented on #58
Hi @pvaillant! Thanks for your feedback, currently there is no support for Data Channels, we did not finalize plans about it.

[2020-10-12 19:55] mariusu-msft commented on #56
Hi,

As you have stated, min iOS version is 12. Do you have any use-case which require support for < 12 ?

@RinaRish can you help with guidance around how far behind do we plan on being compared to current iOS version in terms of long term support?

Regarding the build script, we're looking at ways to improve that. Indeed the version required for that is 11.5.

Thanks,
Marius

[2020-10-12 23:24] terrychen1122 commented on #56
Thanks @mariusu-msft what's the min XCode version to build this framework? I am using 11.2.1 and it seems to be working with the frameworks alright.

(we don't have any use-case for < iOS 12)

[2020-10-13 00:17] terrychen1122 opened #62 "iOS: dispose on ACSRenderer and ACSRendererView"
Hi, I realized both ACSRenderer and ACSRendererView have a method `dispose`. Since it doesn't have doc, when are we supposed to call this method?

[2020-10-13 00:33] terrychen1122 commented on #19
Thanks @raosanat . since we have new protocol methods, when the mute state changes, are we getting both `onParticipantStateChanged` and `onIsMutedChanged` or just getting `onIsMutedChanged`?

[2020-10-13 01:15] mariusu-msft commented on #19
@terrychen1122 you will only get `onIsMutedChanged`. `onParticipantStateChanged` will get called only if the in-call state of the participant changes, such as transitioning between `Connected` and `Disconnected`.

Please let us know if you have any feedback in general about the API. As part of our Public Preview we are trying to capture as much feedback as possible.

[2020-10-13 02:43] mariusu-msft commented on #62
API Reference Docs can be found here https://docs.microsoft.com/en-us/objectivec/communication-services/calling/acsrenderer but it seems we are missing documentation for this method.

@RinaRish can you track this please?

@sankum-msft what is the guidance for dispose method? Can you please update https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/voice-video-calling/calling-

[2020-10-13 03:41] sankum-msft commented on #62
Video rendering is a resource intensive task, these methods allow you to clean up resources when you don't need to render a video anymore. Having `dispose()` on both renderer and view objects will allow renderer in future to manage multiple views.

For now, when you stop renderering a video stream(incoming or preview), please call `dispose()` on the corresponding `ACSRenderer` object after removin

[2020-10-13 04:23] RinaRish commented on #60
Hi @nikita-rane-22! It's not currently supported, but it's something we'll be looking at. What is your scenario?

[2020-10-13 04:26] RinaRish commented on #59
Hi @GeorgeTTD! So screen sharing on ios/Android is not supported yet but it's on the roadmap. The number of people that could join a call as per now is 350. Can you give us a bit more details regarding the constraint of 5 -> 5000 users?

[2020-10-13 05:48] nikita-rane-22 commented on #60
Hi @RinaRish! I was just trying this out, but please do share updates regarding this.

[2020-10-13 07:12] GeorgeTTD commented on #59
Hi @RinaRish,

What we are really after is screen sharing in IOS safari using the javascript SDK, **not** a native mobile OS app. Our use case is we have a web platform for online tutoring in which we would like to connect students to their tutor and share the students screen with the tutor so they can assist them. This needs to be delivered via the browser due to the wide range of devices the stu

[2020-10-13 13:04] tompi commented on #61
@raosanat This crash was probably due to not disposing the renderers and/or the videostream after a call hangup. Works fine after I started doing that.

[2020-10-13 18:24] RinaRish commented on #48
Hi @eliaspuurunen! Thank you for the feedback, We have some components that we create to optimize the Audio and Video quality based on proprietary Microsoft technologies to ensure the highest quality.
What do we miss from your point of view by not offering the Open Source SDK?

[2020-10-13 18:48] eliaspuurunen commented on #48
Hi @RinaRish. My request has more to do with bugs #47 and #46. We have workarounds for those issues but it would be nice if we could have applied them to the JavaScript library directly. Since the JS library is (probably) transpiled from TypeScript and (looks) obfuscated, it's pretty much impossible for us.

Another reason - the documentation right now is sparse. We had to deduce how to use some f

[2020-10-13 19:10] chriswhilar commented on #57
Hi @amarjeetsingh0021, we currently do not support recording of anything. May i ask you to please describe in detail exactly what your scenario is? I can look into this and come back with some information.

[2020-10-13 22:08] RinaRish commented on #44
Hi @xtianus79! I  just wanted to follow up and see if you were able to unblock yourself and make it work?

[2020-10-13 22:10] RinaRish commented on #57
Hi @amarjeetsingh0021! Thanks for your feedback! As for now, we don't have .Net SDK but UWP is going to be available sometime in the future.

[2020-10-13 22:48] #62 closed

[2020-10-13 23:04] RinaRish commented on #59
So we already have the screen sharing support for javascript SDK and you can go and try it out but the amount of participants is currently limited to 350. You can learn more here https://docs.microsoft.com/en-us/azure/communication-services/concepts/voice-video-calling/calling-sdk-features

[2020-10-14 01:11] terrychen1122 commented on #62
Sorry, a few more questions:
1. Are we supposed to strongly hold a reference of `ACSRenderer`? If so, when we call its `dispose()`, and for the next time we want a view, am I supposed to call `createView` again? or should we create a new renderer

2. How about when a view controller that contains `ACSRendererView` in its hierarchy is dismissed by the user? Does the library auto `dispose` them (ren

[2020-10-14 02:20] chriswhilar commented on #59
Hello @GeorgeTTD, as @RinaRish mentioned, our calling sdk for javascript (browser) does support screensharing. The browsers we support are safari, chrome, and new edge chromium. Please give it a try it should work fine for you, let us know if any issues.

Please note that only 1 participant in the call can share their screen at any given time. Meaning that if participant A is screensharing, and an

[2020-10-14 02:31] chriswhilar commented on #45
Hey folks, yes we have client side javascript sdks for calling and chat which you should be able to use in your react native application. Please take a look at our Azure Communication Services docs to learn and understand how to use these sdks. We also have tutorials/sample applications which you can clone and run locally to try them out.

No need for you to do anything with webrtc, you can just u

[2020-10-14 03:26] sankum-msft commented on #62
1. Yes, you would need strong reference of `ACSRenderer` to dispose it off properly otherwise you will end up with memory leak. `ACSRenderer` is useless once it is disposed and you can let the object get garbage collected at that point. You should create a new renderer if you decide to render a stream after disposing the original renderer.
2. No, you don't need to keep `ACSRenderer` around once it

[2020-10-14 03:31] amarjeetsingh0021 commented on #57
Hi Chris,

I am using azure communication service for group video calling. I have
referred the communicstion service sample demo for the same.

Everything looks good to me like video group calling and screen sharing.

On top of that I wanted to impmenet the recording feature to record the
session but not sure how.

Hope this help to understand my problem statement.

 I would appreciate, If anythin

[2020-10-14 03:40] mariusu-msft commented on #62
@sankum-msft It may be helpful for later to have a good lifetime diagram of the renderer and what we expect to happen in various app lifecycle states

[2020-10-14 03:44] akania commented on #48
Hi @eliaspuurunen , Can you please elaborate more about documentation being sparse?
1) is intellisense not providing enough details? method/param/property description are not detailed enough?
2) We have [API docs available here](https://docs.microsoft.com/en-us/javascript/api/azure-communication-services/@azure/communication-calling/?view=azure-communication-services-js) - these are essentially th

[2020-10-14 04:05] terrychen1122 commented on #62
@sankum-msft Gotcha. I think all of these should be documented since it's very important for us to make sure we use the library properly otherwise I don't know it would cause memory leak. For #3, I think the only way I can ensure ACSRenderer and the view get properly disposed in all scenarios is to have a wrapper for `ACSRenderer` and dispose it in `dealloc`.

[2020-10-14 04:25] bigbbri commented on #38
@tompi  we are running behind on our work with some production bugs we have to get settled for another customer's go live and suddenly Google Play Store has slowed WAY down on their approvals and internal releases...  this is delaying us but this week we will be creating a ACS prototype on the web and I'm hoping by this Friday to talk with the mobile team and assign someone the mobile work.   My p

[2020-10-14 04:46] RinaRish commented on #60
to place a group call to a set of users you have a couple of different options:

**option1**: use the 1:n place call feature mentioned here,
https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/voice-video-calling/calling-client-samples?pivots=platform-web#place-a-11-call-to-a-user-or-a-1n-call-with-users-and-pstn
**option2**: to start a group call or join an existing group ca

[2020-10-14 07:30] GeorgeTTD commented on #59
Hello @RinaRish @chriswhilar,

Thanks for getting back to me, I raised this issue as we were testing using the demo calling app the other day and noticed there was no option to share screen when on an iPad (Worked fine on desktop). Having a quick look in the code there is this function:

Source: [Group Calling Hero Sample/Web/Calling/ClientApp/src/containers/Header.ts](https://github.com/Azure/Com

[2020-10-14 10:04] tompi commented on #61
Sorry, seems this is still happening.

I spent some time debugging, and it seems to happen every time I try to make an ACSRendererView from the local video stream(works fine first time, but not the second time). Even though I dispose this, and most of the others, I only reuse ACSDeviceManager, ACSCallClient and ACSCallClient, that should be fine right?

Anyway, exception is still the same, but I a

[2020-10-14 23:51] chriswhilar commented on #59
Hi @GeorgeTTD,

Some useful info:
On mobile browser, outgoing screensharing is not supported by the calling sdk. However incoming screensharing is supported, that is incoming screensharing from a remote participant that is using a desktop browser.

Desktop browsers that we support are:
- Chrome and Edge chromium on Windows.
- Chrome and Safari on MacOS

Mobile browsers that we support are:
- Safar

[2020-10-15 00:01] ddematheu2 commented on #24
REST API docs are published here: https://docs.microsoft.com/en-us/rest/api/communication/ let me know if this works to close the issue. @ganlbarone

[2020-10-15 07:45] GeorgeTTD commented on #59
@chriswhilar,

I understand that outgoing screensharing is not supported by the calling SDK, that is what I am trying to request as a feature. Will outgoing screensharing on mobile devices be in the roadmap?

Thanks,
George

[2020-10-15 08:34] dombat opened #64 "Sample App: Group Chat - instructions are incorrect"
This line in readme.md is incorrect. in the sample https://github.com/Azure-Samples/communication-services-web-chat-hero

5. Update the ENVIRONMENT_URL in `./Chat/ClientApp/src/constants.tsx` with the location of your resource. (e.g https://<RESOURCE_NAME>.communication.azure.com)

In the version I just downloaded, constants.tsx does NOT contain this item.

Here is the supplied constants.tsx

// P

[2020-10-15 10:25] pfresnay commented on #37
@nmurav
.NET on the roadmap is a great news! Can you confirm that we will be able to use calling in UWP app with video/audio/screen sharing ?
Any timeframe ? :-)

[2020-10-15 11:01] legistek commented on #37
Windows!

This is Microsoft I'm talking to right? :)

[2020-10-15 16:45] eliaspuurunen commented on #48
Hi @akania.

**Point 1 & 2** - Documentation Detail & intellisense

I find Intellisense/docs don't provide quite enough detail.

A particular example I just ran into - the `CollectionUpdatedEvent` type.

https://docs.microsoft.com/en-us/javascript/api/azure-communication-services/@azure/communication-calling/collectionupdatedevent?view=azure-communication-services-js

It doesn't actually specify t

[2020-10-15 16:53] eliaspuurunen opened #65 "Determining Stream Type is inconsistent between LocalVideoStream and RemoteVideoStream"
**Is your feature request related to a problem? Please describe.**
If a user is working with a `LocalVideoStream`, they can fetch the type through the method `getMediaStreamType()`.

https://docs.microsoft.com/en-us/javascript/api/azure-communication-services/@azure/communication-calling/localvideostream?view=azure-communication-services-js

If a user is working with a `RemoteVideoStream`, they ca

[2020-10-15 16:57] eliaspuurunen opened #66 "Is there a way to determine if the Local User is speaking?"
**Is your feature request related to a problem? Please describe.**
When in a call, if a remote participant is speaking, the property `isSpeaking` changes.

https://docs.microsoft.com/en-us/javascript/api/azure-communication-services/@azure/communication-calling/remoteparticipant?view=azure-communication-services-js#isspeaking

Is there a similar method/property that can be used on the local partic

[2020-10-15 17:29] AdamFrisby commented on #37
For the .NET API; being able to access the raw samples from each client would be very useful (not just forcing stuff to the default audio output device)

Is there a rough ETA on the .NET implementation?

[2020-10-15 17:30] eliaspuurunen opened #67 "Web: Is there a way to preview the local user's screen sharing stream?"
**Is your feature request related to a problem? Please describe.**
For remote users, it is possible to view their screen sharing stream by looking at the `RemoteParticipant` videoStreams array. Is the same possible for a local participant?

When the screen sharing request succeeds in a call, the `Call.localVideoStreams` array does not seem to update with the new screen share stream.

[2020-10-15 17:42] mariusu-msft commented on #37
@pfresnay Calling SDK for Windows will be usable from UWP for voice & video. Regarding the full feature set, we are aiming parity with iOS and Android at this time.

[2020-10-15 17:48] mariusu-msft commented on #37
@AdamFrisby do you mind giving us more details regarding your scenario? You referenced output devices, would you like access to the raw audio samples to build a custom audio output sink?

Currently raw access to audio samples is not planned, at API level you will have ability to switch between all OS audio output devices.

Would you mind emailing the team at acsfeedback@microsoft.com? @RinaRish an

[2020-10-15 17:49] akania commented on #65
Hi @eliaspuurunen , thank you for your feedback, that's a good catch and we'll address it in future release.

[2020-10-15 17:52] legistek commented on #37
I can't speak for @AdamFrisby but having access to the raw samples in the .NET platform could enable us to record too. See https://github.com/Azure/Communication/issues/23

[2020-10-15 17:56] akania commented on #66
Hi @eliaspuurunen , Call itself represents state of a local participant endpoint
https://docs.microsoft.com/en-us/javascript/api/azure-communication-services/@azure/communication-calling/call?view=azure-communication-services-js
With properties like state, isMicrophoneMuted etc..

Currently we're not exposing any property or trigger any event that would allow a developer to learn if local particip

[2020-10-15 18:01] mariusu-msft commented on #60
@nikita-rane-22 for your scenario we recommend option1 from @RinaRish' list.

You can get all the members in the chat thread, and place a call using option1 to all the members in the chat.

[2020-10-15 18:04] AdamFrisby commented on #37
Sure - will do. Our use case is 3D interactive worlds (running inside Unity3D) -- so having access to the samples is essential to spatialise the stream.

[2020-10-15 18:15] eliaspuurunen commented on #67
Update: it appears it is possible. But this feels like a dangerous hack.

After calling `startScreenSharing()` on the `Call` instance (and awaiting the result), the MediaStream can be fetched like so:

[code]

[2020-10-15 18:17] AdamFrisby commented on #37
Hi - that email address bounced with a "Not in organization" failure message.

This is what I sent;
========================================
We run a Virtual World platform - think VR/3D environments; we've been working with a number of providers for voice/video services and they've all had some degree of reliability issues that we want to replace with a more robust solution.

One of the requireme

[2020-10-15 18:19] mariusu-msft commented on #37
Thanks @AdamFrisby. We got the email, @RinaRish and myself will reach out.

[2020-10-15 18:22] eliaspuurunen commented on #27
Hi @RinaRish - to work with our WebRTC requirements, we found a workaround for displaying the local preview of a shared screen. See issue #67. It appears it is possible to go the undocumented route and grab MediaStreams, but for obvious reasons this is probably a bad/unsupported idea.

[2020-10-15 18:31] akania commented on #67
Hi @eliaspuurunen , thank you for feedback, it's a bug on our side, we'll fix it in future release.

Code snippet you've shared will indeed allow you to access media stream, although you're accessing 'private' fields that going forward won't be exposed from the Call - that's a great catch but I'd discourage using it, we'll come with proper implementation soon

[2020-10-15 18:48] sipsorcery commented on #37
Given Unity came up it's worth noting that a not dissimilar effort to this API is going on at [Unity WebRTC](https://github.com/Unity-Technologies/com.unity.webrtc). And similar to the requests above I'm also trying to [get access to the raw video samples from .NET](https://github.com/Unity-Technologies/com.unity.webrtc/pull/217).

There are quite a few separate substantive efforts all working on

[2020-10-15 19:58] ashwinder commented on #64
Hi @dombat We recently updated the chat sample and removed the need for updating environment_url. You can skip this step while we get the documentation updated to reflect the same.

[2020-10-15 21:00] ddematheu2 commented on #64
Documentation has been updated.

[2020-10-15 21:36] sankum-msft commented on #61
@tompi : This error indicates that previous `ACSRenderer` object for that `LocalVideoStream`/`VideoDeviceInfo` is not yet disposed. Your message also backs up this hypothesis. Please try disposing `ACSRenderer`. You don't need to dispose the view; disposing renderer disposes view as well.

But, agreed that this should not be a crash. I have created task to handle this gracefully and raise a more a

[2020-10-16 05:11] mariusu-msft commented on #19
Closing the issue as this should be fixed in latest release.

Thanks @terrychen1122 for the report!

[2020-10-16 05:11] #19 closed

[2020-10-16 05:12] mariusu-msft commented on #26
Closing issue. This should be fixed now.

Thanks for the report.

[2020-10-16 05:12] #26 closed

[2020-10-16 05:17] plato001ca commented on #23
Hi @anthonysva

As earlier legistek mentioned the recording feature is such an important part of any new applications that we want to build on top of the ACS, the goal in our use case is to process the video stream either in offline or online mode, as part of online mode we are looking to add some extra content on the live stream and also we are looking to detect some specific movement of particip

[2020-10-16 05:23] mariusu-msft commented on #56
@terrychen1122 We have not tried with anything less than 11.

If you find any issues please let us know. We're looking to improve\remove the build script. Closing this item. Feel free to reopen if you have more questions.

[2020-10-16 05:39] anthonysva commented on #23
@legistek - please DM me with more details

[2020-10-16 05:42] anthonysva commented on #23
@plato001ca - you mention "live stream" are you seeking to access and modify a real-time video stream or access the recording and modify the stream or streams? Please elaborate on the live stream capabilities sought or DM me if you prefer. Thank you again for your feedback!

[2020-10-16 07:06] RinaRish commented on #27
Hi @eliaspuurunen! Thanks for the feedback. I will encourage you to wait until there is a proper implementation of it. I'm going to close this issue and track it under #67. Feel free to reopen if you have more questions.

[2020-10-16 07:06] #27 closed

[2020-10-16 07:07] nikita-rane-22 commented on #60
Can we have something on similar terms for VOIP? We aren't looking for PSTN.

[2020-10-16 07:10] RinaRish commented on #59
Hi @GeorgeTTD yes, it's on the roadmap.

[2020-10-16 07:28] mariusu-msft commented on #60
@nikita-rane-22 The above links are applicable for VoIP as well.

[2020-10-16 12:01] eliaspuurunen commented on #27
Sounds great. Thank you @RinaRish!

[2020-10-16 12:24] eliaspuurunen opened #68 "Web: Group Call ends once all but 1 participant leaves?"
**Is your feature request related to a problem? Please describe.**
When a group call is started, it is possible for there to be 1 participant. Other participants can join. The call continues until there is only one participant left. At that point the group call terminates.

Unsure if this is intended behavior or a bug. Our thinking was that a group call continues until the last participant leaves.

[2020-10-16 12:25] eliaspuurunen commented on #67
Hi @akania - sounds great. We'll keep an eye on future releases. Can it be noted somewhere in release notes or documentation how best to retrieve said stream? It is a requirement for a client of ours. Thanks.

[2020-10-16 15:12] akania commented on #68
Hi @eliaspuurunen , you're correct , current behavior is that group call allows participants to join but it will terminate once participant count goes below 2.
Do you have a specific scenario in mind where you'd like last participant to stay connected?

[2020-10-16 16:22] eliaspuurunen commented on #68
Hi @akania - I do have a scenario.

Example: group calls where participants rotate between groups. Each group has 1 moderator. The participants are grouped together but rotate between calls as one. We currently have a workaround where we have _two_ people as moderators so the group call stays active.

[2020-10-16 16:45] jolguk commented on #20
johannesstock's wishes are similar to mine:
Broadcast enablement, ideally to Azure Media Services.
Recording facility.

[2020-10-16 18:45] chriswhilar commented on #57
Hi @amarjeetsingh0021, yes we will be adding support for recording in future releases.

[2020-10-16 19:24] RinaRish commented on #59
@GeorgeTTD apologies for the confusion, what I meant that ios/android screen sharing is on roadmap for native SDKs and no browsers. Hope that helps.

[2020-10-16 21:52] plato001ca commented on #23
Hi Anthony,

Thank you for reaching out to me!
regarding the live stream we are thinking about both options
1) access and modify a real-time video stream for either of participants,
let's say if I have 3 people/camera  in the chat I want to modify ( adding
a specific object ( chart, shape, gif) or detect the motions of some
objects in the video also detect specific noise ( with proper algorithm/AI

[2020-10-16 22:05] plato001ca commented on #23
@anthonysva I did not find any way to directly message/email you ?

[2020-10-16 22:43] ashwinder commented on #64
closing the issue as the documentation has been updated to reflect the correct steps.

[2020-10-16 22:43] #64 closed

[2020-10-17 03:52] amarjeetsingh0021 commented on #57
Hi Chris,

Thanks for the update.

Do we have any tentative timeline to get this feature available?

I will plan accordingly and commit to my team.

On Sat, 17 Oct 2020, 00:15 chriswhilar, <notifications@github.com> wrote:

[2020-10-18 09:02] shipon-eye opened #69 "Proguard Rules for Azure Communication Library"
We have developed an Android video chat application using Azure Communication Service. It is working successfully in Debug mode. But when we make release build, the app crashes when we initialize a call.

We are using 'com.azure.android:azure-communication-calling:1.0.0-beta.2'

Parts of Error Message:
CallClient: Native library $nativeLib failed to load during initialization.
    java.lang.Unsati

[2020-10-19 03:50] RinaRish commented on #59
@GeorgeTTD I'm closing this. Feel free to reopen or create another issue if you feel there is something we can help you with.

[2020-10-19 03:50] #59 closed

[2020-10-19 04:07] #44 closed

[2020-10-19 07:25] tompi commented on #61
@sankum-msft Hey, I did some more debugging on this, and I cant make it work. I tried disposing ACSRenderer, but same problem. I then tried disposing every object: ACSRenderer, ACSLocalVideoStream, ACSCall, ACSCallAgent, ACSDeviceManager and the ACSCallClient.

I could NOT manage to dispose the ACSCallClient: the app just hangs(indefinitely...). SO my theory is that the ACSCallClient is hanging on

[2020-10-19 14:54] alex-kwan commented on #22
@Githamza closing, feel free to reopen

[2020-10-19 14:56] kagbakpem commented on #69
Hello Habib,

Thanks for reaching out and glad to see you trying out the Azure Communication Services Calling SDK. The Calling SDK does not currently support ABIs armeabi-v7a and x86. It looks like you're attempting to use the library on an armeabi-v7a compatible device which will currently not work. Can you try a device/emulator with arm64-v8a or x86 ABI and report back if you're experiencing iss

[2020-10-19 15:20] rahulp108 opened #70 "Not able to export .ipa from Archive (Xcode 11.5 and Xcode 12.0.1)"
**When I try to export .ipa from archive in Xcode 11.5 and Xcode 12.0.1**
I am implement video calling feature using Azure Communication service. After that when I tried to share build on App Center we have pipeline setup. In that I got errors. So, we tried with manual distribute method. I archived build on Xcode 12.0.1 and tried to export .ipa from archive. For this I choose Ad Hoc Provisioning p

[2020-10-19 16:33] #22 closed

[2020-10-19 16:40] tompi commented on #70
Not sure if its the same as my problem, but If you are using beta 4, you probably need to change the cfshortbundleversion of azurecommunicationcalling/info.plist. It’s currently set to 1.0.0-beta-4. Which iTunes connect doesn’t like. Try changing it to eg 1.0.0 and build again. Ps: Microsoft needs to fix that

[2020-10-19 19:10] RinaRish commented on #53
@terrychen1122 closing this instance, feel free to reopen

[2020-10-19 19:10] #53 closed

[2020-10-19 19:24] RinaRish commented on #57
Hi @amarjeetsingh0021 currently we can't give any timeline, sorry about that.

[2020-10-19 19:34] jsandoval-msft commented on #31
Hi @rggammon , the capability described is not currently supported as a feature. However, I've added your input into our feature prioritization process to help us refine our roadmap for new capabilities over the next several months. Thank you, good sir.

[2020-10-19 21:19] raosanat commented on #70
Thanks @tompi thanks for reporting incorrect version in cfshortbundleversion.

@rahulp108 can you run  this command on the AzureCommunicationCalling library

`lipo AzureCommunicationCalling.framework/AzureCommunicationCalling -remove x86_64 -output output_path/AzureCommunicationCalling.framework/AzureCommunicationCalling

[2020-10-20 03:51] terrychen1122 opened #71 "[iOS] Getting EXC_BAD_ACCESS (code=1, address = 0x134) when setting the delegate of device manager"
<img width="384" alt="Screen Shot 2020-10-19 at 8 46 09 PM" src="https://user-images.githubusercontent.com/5403473/96537979-5a7eb580-124c-11eb-92a1-cff59ced8ce4.png">

The NSError code is 1.

Note that at this point I haven't asked for camera and microphone permissions yet. I am not sure if this is required for getting device manager.

Also, regardless, my suggestion is the completion should eithe

[2020-10-20 04:13] terrychen1122 commented on #71
My code was calling `createCallAgent` and `getDeviceManager` in parallel. I resolved it by calling `getDeviceManager` after the call agent is created. But why is this? I think they are not related. If so, we should document it.

[2020-10-20 04:56] terrychen1122 commented on #56
@mariusu-msft @RinaRish do you know the answer of this "How far behind the current iOS version do we expect the minimum App target version to be in the future?" Our app supports 2 versions. Hopefully, the sdk support is at least larger than 2.

[2020-10-20 06:54] AnsariNaushad commented on #12
**Provide Chat and Video Calling Examples In JavaScript or C#**
Hi Team,
Azure communication service for call and chat is available in "React based user interface which uses Redux".
https://docs.microsoft.com/en-us/azure/communication-services/samples/chat-hero-sample

I want to use this in my .net core application.
When I can expect C#, Java Script code for communication service.

[2020-10-20 10:10] AnsariNaushad opened #72 "AZURE COMMUNICATION SERVICE CALL FEATURE (.NET CORE, C# SDK)"
Microsoft has provided .Net SDKs for chatting and sending SMS using Azure communication services.
We want to implement call feature in our application, as per the documentation call is not available in .Net SDK.
https://github.com/Azure/communication

When we can expect .net SDK for call, or Microsoft have provided any alternate solution?
Thanks

[2020-10-20 11:05] shipon-eye commented on #69
Hello Komivi,
Thanks for the answer.
By the way, I have tried with arm64-v8a and found following new errors:

2020-10-20 16:12:01.565 31363-31363/? W/System.err: java.lang.ClassNotFoundException: Didn't find class "com.skype.rt.RootToolsHandler" on path: DexPathList[[zip file "/system/framework/org.apache.http.legacy.boot.jar", zip file "/data/app/com.xpertmemos.inpocket-iZ8YADsfac-vZvbU0FYhGA==/b

[2020-10-20 12:42] tompi commented on #69
@shipon-eye NOW you are on the R8 stripped away classes I think :)

Here is my proguard file, which seem to work.
(you can probably strip more, but I didnt bother)

[code]

[2020-10-20 13:52] #70 closed

[2020-10-20 13:55] rahulp108 commented on #70
Thanks @tompi and @raosanat
As per above suggestion I made changes in my project and it worked for me. So, I am closing this issue.

Thanks once again both of you.

[2020-10-20 14:38] rggammon commented on #31
Thank you @jsandoval-msft! I will close this issue, thank you for considering this feature request :)

[2020-10-20 14:38] #31 closed

[2020-10-20 16:18] JaKoBowden opened #73 "Video freezing after a few seconds"
I've set up a group video call in my own web application but after a few seconds I see JS.TsCalling.SignalingAgent shows "received status 498, stop subscribing" As soon as that message appears in the chrome console, the remote video stream freezes.
I've tried replicating in the 'hero' calling app, but it doesn't exhibit this behavior. As the documentation doesn't contain much in the way of error c

[2020-10-20 16:59] RinaRish commented on #72
Hi @AnsariNaushad! Thanks for your feedback. So .NET SDK is on the roadmap but we can't commit to any timeline, unfortunately. Regarding your second question could you please give us more details about your specific scenario and we can see if there is an alternative.

[2020-10-20 17:06] RinaRish commented on #73
Hi @JaKoBowden! Thanks for your feedback. We are working on our error code documentation but meanwhile, @akania or @chriswhilar will look into the error and get back to you.

[2020-10-20 17:41] akania commented on #73
Hi @JaKoBowden , can you repro consistently?
if so ,can you please share a call id, you can read it by accessing
[code]
property
https://docs.microsoft.com/en-us/javascript/api/azure-communication-services/@azure/communication-calling/call?view=azure-communication-services-js#id
In addition if you can provide a full console output and attach to this ticket - that will help us to troubleshoot it.

[2020-10-20 17:47] JaKoBowden commented on #73
Hi @akania, I'll get the call.id shortly and the console output, but the assumption about the issue related to network configuration is incorrect, as the calling/hero example works on the same endpoint without any freezing issues.

[2020-10-20 18:19] parkjohnston commented on #68
I have a need for this as well - is this group open to external PRs?

Would be more than happy to correct this.

[2020-10-20 19:08] nawab1990 opened #74 ".net calling sdk for telephony and for teams calling"
**Is your feature request related to a problem? Please describe.**
I would like to implement calling in my application using .net

**Describe the solution you'd like**
I would like a .net sdk that contains quick starts and samples for telephony and group calling

**Describe alternatives you've considered**
Implementing using Java Script

**Additional context**
Add any other context or screenshots

[2020-10-20 19:44] kagbakpem commented on #69
Right @tompi, that's the issue indeed. I missed portion of @shipon-eye message where he mentioned the issue was specifically with the release build type. These proguard rules will definitely work out. Give it a try and let us know if you're still experiencing isssues, @shipon-eye.
Thanks @tompi.

[2020-10-20 20:00] RinaRish commented on #74
Hi @nawab1990! Thanks for your feedback .Net SDK is on the roadmap but meantime you can start building your solutions with JavaScript https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/voice-video-calling/calling-client-samples?pivots=platform-web. Let us know if you have any other questions.

[2020-10-20 21:06] #24 closed

[2020-10-20 21:16] shipon-eye commented on #69
Thanks a lot, @tompi. Yes, it works now.
Also thank you @Komivi for drawing attention to current ABIs support of Communication SDKs.

[2020-10-20 21:21] #69 closed

[2020-10-20 21:29] raosanat commented on #71
@terrychen1122  yes that's correct we have a known issue where for now you will have to getDeviceManager only only successfully creation of callAgent. We will update the documentation to reflect that. Thanks

[2020-10-20 21:29] #71 closed

[2020-10-20 21:32] JaKoBowden commented on #73
Hi @akania Turns out if you join a group call with a call option where the local stream is specified like so:
`const placeCallOptions = { videoOptions: { localVideoStreams: [localCameraStream] } };
const context = { groupId: "7a4b034e-dfc8-44da-9eb8-69bdcd9ad8ce" };
call = await callAgent.join(context, placeCallOptions);`
the video will freeze at the other end after 15-30 seconds or so.
However, i

[2020-10-20 21:32] plato001ca commented on #23
@anthonysva  , is t here any way to email you directly, I want to share all the details with you if it's possible?

[2020-10-20 21:35] raosanat commented on #61
Hi @tompi if you download your app data there will be a file called "acs_sdk.blog" in Caches folder, can you attach that ?

[2020-10-20 21:41] plato001ca opened #75 "get live caption from graph api during the call?"
we are looking to get access on the live caption (text) during a live event ( live conversation) without show and record it as part of video call that help us to process the live caption text and make a proper action once we receive some specific words/ phrases ...

Solution:
1) Adding new rest api on the Graph Api  to retrieve the conversation live captions by time and attendants
2) setup a web h

[2020-10-20 22:22] RinaRish commented on #60
@nikita-rane-22 I'm closing this issue, feel free to reopen if you have any other questions.

[2020-10-20 22:22] #60 closed

[2020-10-21 06:33] AnsariNaushad commented on #72
Thanks Rina for quick response.
I got sample application from your Git repository. It has calling (samples\Group Calling Hero Sample\Web\Calling) feature but application is build on node with redux.
I want to integrate same features in my .net core application using C#, Java Script.

Second question is like can I utilize these Java Scripts for my .net application.

[2020-10-21 20:37] RinaRish commented on #45
@likern @sabrimev are there still any questions?

[2020-10-22 07:53] tompi commented on #61
Hey @raosanat , sorry about the delay, I downloaded the container, zipped it and attached to message:
[acs-container.zip](https://github.com/Azure/Communication/files/5421022/acs-container.zip)

[2020-10-22 07:55] tompi commented on #61
Just to be clear: this happens when I make two consecutive calls to the same group.
I dispose everything, except the ACSCallAgent, since trying to dispose this object just hangs the app(no crash, just hang)

[2020-10-22 11:46] amarjeetsingh0021 commented on #57
Hi Trishna,

Thanks for the quick update.

It is fine for me. Please keep me posted Once its available.

Thanks,
Amarjeet Singh

On Tue, 20 Oct 2020, 00:55 Ekaterina Trishina, <notifications@github.com>
wrote:

[2020-10-22 14:46] eliaspuurunen opened #76 "Web: Guidance for releasing/reusing resources after call finished"
**Is your feature request related to a problem? Please describe.**
Currently the documentation is sparse re:
- how to properly release resources when a call is finished.
- which resource types are long-lived (app lifetime) vs. short-lived (call lifetime)

For instance, in our app we allow people to hop between calls. They may spend 5 minutes on call 1, leave that call, spent 5 minutes off a call,

[2020-10-22 15:54] likern commented on #45
# - No, no questions yet

[2020-10-22 17:29] akania commented on #76
Hi @eliaspuurunen, let me answer in order

1) how to properly release resources when a call is finished:
When call is finished our SDK will terminate signaling&media sessions leaving you with an instance of the call that holds the last state of it, so you can check callEndReason etc.., if your app won't hold the reference to the Call instance - JavaScript GC will clean up everything so in terms of

[2020-10-22 18:08] eliaspuurunen commented on #76
This is fantastic clarification, thank you!

Re: mic/camera active indicator - we narrowed down the issue. It was due to a workaround we put in place for issue #46.

Re: short/long lived - this would be amazing to have in the docs. What's clear from docs and samples is how to start a call. What is fuzzy is switching/leaving/starting new calls (i.e. after hello world).

Thank you!

[2020-10-22 18:12] eliaspuurunen commented on #48
Update from our end: we have worked around a few of the above limitations re: video streams, audio streams, mixing, and effects. We're aware that many of these workarounds are using "undocumented" parts of the JS SDK to get access to audio/video streams.

In our application, we are mixing multiple video streams together for recording collaborative calls.

IMO, if web SDK users had just a bit more

[2020-10-22 19:34] terrychen1122 commented on #56
bump ^^

[2020-10-23 01:49] mariusu-msft commented on #56
We’re discussing internally and will provide an update soon.

cc: @RinaRish ans @tophpalmer

[2020-10-23 02:57] #45 closed

[2020-10-23 03:47] akania commented on #76
Thank you @eliaspuurunen , it's a really valuable feedback , we'll update our documentation.

[2020-10-23 13:25] tompi commented on #61
@raosanat and @sankum-msft : I just figured out that this was entirely my own fault... Sorry!
I had commented out the dispose method in the bindings(due to a warning). Once I commented in this I can du multiple calls fine after disposing the renderer.

My fix is here if you are curious: https://github.com/Laerdal/Xamarin.AzureCommunicationCalling/commit/d68a94ffe916c25209c7efebb416878c25b642be

Ag

[2020-10-23 13:25] #61 closed

[2020-10-23 19:23] raosanat commented on #61
Good to know, that's ok 👍

[2020-10-23 20:38] akania commented on #73
@JaKoBowden this indeed sounds like a bug - can you please gather full console output from both scenarios ( join with video, join -> add video ) and attach to this ticket - we'll investigate based on that.

[2020-10-25 13:23] jeevcat opened #77 "HoloLens 2 support"
Are there any plans to support HoloLens 2 for any of the components of this service? I'm guessing this would at least require C++ or .NET SDKs which can target ARM64 Windows.

[2020-10-26 20:36] akania commented on #72
@AnsariNaushad can you please clarify what's the goal, what that .net application should do? enable users to make/receive calls? would it utilize UWP - that would be one potential solution.

[2020-10-26 21:31] terrychen1122 opened #78 "[iOS] when an expired token is used, callAgent's completion is not called"
When an expired token is used to create `userCredential` and using that credential to create call agent, the call agent creation's completion is not called, so the app would be stuck in a loading state forever. The idea graceful handling should be that either `userCredential` is not created and return error or callAgent's completion block should return and contain error

[2020-10-26 21:47] mariusu-msft commented on #78
@terrychen1122 which constructor for credential are you using?

[2020-10-26 23:57] terrychen1122 commented on #78
[code]
this is the constructor I am using

[2020-10-27 00:05] terrychen1122 opened #79 "[iOS] when do we start/stop actually using the camera?"
Since iOS14, Apple will display an indicator on the status bar for camera usage. I am curious which of the following steps we start using the camera (to make sure we do the right thing at the right timing and step):
1. When `ACSDeviceManager` is created by `ACSCallClient`
2. When a `ACSLocalVideoStream` is initialized by a video device info from the device manager
3. When a `ACSRenderer` is initia

[2020-10-27 02:36] RinaRish commented on #77
Hi @jeevcat! Can you please tell us more about the scenario you are trying to achieve?

[2020-10-27 02:44] #58 closed

[2020-10-27 06:18] raosanat commented on #39
Hi @terrychen1122 We have some initial support for cocoa pods if you want to try it out. The specs aren't published to trunk yet but we will be doing for the next release of ACS Calling SDK. Following is the example podfile you can use for now

[code]

[2020-10-27 07:47] tophpalmer commented on #23
Hey @plato001ca , can you please hit up the team over email at acsfeedback@microsoft.com. I'm also going to close this issue but we are tracking the scenario as a feature enhancement.

[2020-10-27 07:47] #23 closed

[2020-10-27 13:14] rahulp108 opened #81 "In Group Video Call speaker is not working"
**In Group Video Call speaker us not starting **

**To Reproduce**
Steps to reproduce the behavior:
1. Implemented sample code.
2. Created token from internal server.
3. Using token create userCredential.
4. Using callClient and userCredential created callAgent.
5. Then fetching device manager using getDeviceManager method.
6. Then fetching speakers and setting first speaker to device manager.
7.

[2020-10-27 16:40] mariusu-msft commented on #81
@rahulp108 to use speaker on iOS you need to use OS APIs to route audio to speakers:

https://developer.apple.com/library/archive/qa/qa1754/_index.html

We're currently working on better defining a better story around device management.

[2020-10-27 20:10] jsandoval-msft commented on #75
Hi @plato001ca , the capability described is not currently supported as a feature. However, I've added your input into our feature prioritization process to help us refine our roadmap for new capabilities over the next several months. Thanks!

[2020-10-28 01:34] ryanespiritu opened #82 "[iOS] iOS 14 Orange Dot + Microphone Usage"
With the introduction of iOS 14, the iPhone OS now displays an orange dot at the top right corner of the screen when an app is currently accessing the microphone.

I noticed that this dot persists in an active ACS call even after calling the `mute` API. I verified that no audio was streaming to the call at the time by calling "Echobot" and listening for a playback.

I wanted to confirm if this is

[2020-10-28 02:31] terrychen1122 commented on #82
it sounds like the SDK should just not continue using the microphone if `muted`

[2020-10-28 06:30] AnsariNaushad commented on #72
Yes Artur, I want to  enable users to make/receive calls.
That can be audio or video.
What is UWP kindly let me know, and how it is going to help me to do the
same.

On Tue, Oct 27, 2020 at 2:06 AM Artur Kania <notifications@github.com>
wrote:

[2020-10-28 20:10] xixian73 commented on #79
#2 throws exception because we can't read camera settings without it.

#4 is when the camera is actually opened and iOS will start showing the indicator in status bar for camera usage and it will stay like that unless the app invokes ACSRenderer.dispose()

[2020-10-28 21:07] mariusu-msft commented on #78
Hey @terrychen1122,

We’re following up internally and will get back to you in a few days.

Meanwhile can you tell me if the token you are subsequently providing is also expired?

Thanks,
Marius

[2020-10-28 22:27] terrychen1122 commented on #39
That's great. Since our side replies to the published specs on Cocoapods, I would wait until that then. Do you have an estimate on when this will be done?

[2020-10-28 22:31] #79 closed

[2020-10-28 22:35] terrychen1122 commented on #78
Oh, are you saying that in this case `tokenRefresher ` is triggered (I didn't check that). If so, yes, due to a caching issue on our side, the token it provided was subsequently was expired as well.

[2020-10-28 22:44] mariusu-msft commented on #78
It is possible, we're investigating too, can you check if when triggered you are returning an expired one or not?

[2020-10-28 23:00] raosanat commented on #78
If `tokenRefresher` continuously returns expired token then it will be stuck in an endless loop until an un-expired token is provided.

[2020-10-29 04:19] akania commented on #48
Hi @eliaspuurunen
First of all - your feedback is really appreciated, I admit that documentation doesn't have great number of details and so intellisense - we'll improve it.

Let me give you some hints & explanation meanwhile

1) regarding Point 1 & 2
As you've already found our CollectionUpdatedEvent is fired when collection of elements (T) updates , meaning new elements are added or some element

[2020-10-29 09:08] rahulp108 commented on #81
I am using deviceManager object from Azure Communication service then why I need to go with default one? Please clarify.

[2020-10-29 12:11] eliaspuurunen commented on #48
Hi @akania,

Re: order of remote participant video streams. In our case, we use Vue which allows us to do deep watch of variables. If the intent of the API is to only allow a remote participant to have 0-1 Camera feeds and 0-1 Screen Share feeds, either knowing the order or being able to access those streams via dedicated property would help. Otherwise, it is good to know that order is not guarant

[2020-10-29 20:32] raosanat commented on #82
Hi @terrychen1122 We will look into the issue. It indeed seems like an issue in our SDK.

[2020-10-30 01:21] ryanespiritu opened #85 "[iOS SDK] Unexpected delegate callbacks after disconnecting from a call"
Hi All,

We came across an interesting scenario regarding the lifecycle of an `ACSCall`.  Locally we have a “Call Manager” class setup that maintains a reference to the `ACSCall` and implements `ACSCallDelegate` and `ACSRemoteParticipantDelegate`. We noticed that after disconnecting from a call and releasing our “Call Manager” object, we still would receive callbacks for `ACSCallDelegate` and `ACS

[2020-10-30 01:27] ProbablePrime opened #86 "TESTING MSFT BOT IGNORE"
This is a test issue.

[2020-10-30 01:38] #86 closed

[2020-10-30 02:13] ProbablePrime commented on #85
Hey @ryanespiritu, Thanks for your issue. I've assigned @mariusu-msft to take a look at your inquiry. They should reply soon.

[2020-10-30 02:26] devwheel commented on #68
I would add a scenario - think of telemedicine with virtual receptionist/doctor + patient.  virtual receptionist (or video helpdesk) works with patient and then drops out waiting for doctor.  It bumps the patient out of the call?

[2020-10-30 03:25] terrychen1122 commented on #85
To add a little color here,
1. we can not release the reference of `ACSCall` even after the `hangup` completion block tells us success until all the delegate methods have been invoked, acs tells us via delegate that:
- remote participants' states become 'disconnected'
- video streams of these remote participants are removed
- remote participants are removed from the call
As Ryan mentioned, if we r

[2020-10-30 18:54] mariusu-msft commented on #85
Hi,

For 2nd point, we can take that under consideration as a feature request, it does not currently happen. Please open a new issue for this one so we can track the ask.

For 1st point, that is a known bug, after hang-up there should be no more events showing up.

-Marius

[2020-10-30 20:21] ProbablePrime commented on #29
@Prakulka Could you review Muheebhussain's new questions? Thank you

[2020-10-30 20:31] ProbablePrime commented on #81
Hey @RinaRish , the issue author has additional questions, could you please take a look? Thank you.

[2020-10-30 21:53] RinaRish commented on #48
Hi @eliaspuurunen! Thanks for your feedback! I'm just wondering if you have any plans to deploy your scenarios for Android native as well?

[2020-10-31 14:41] jeevcat commented on #77
@RinaRish using for example the Chat component with HoloLens and C++.

[2020-11-02 03:22] mariusu-msft commented on #68
Hi folks,

Quick update here, this should be fixed in the next release.

-Marius

[2020-11-02 05:58] terrychen1122 commented on #85
Thanks @mariusu-msft . When should we expect a fix for the known bug?

[2020-11-02 06:01] terrychen1122 opened #87 "[iOS SDK] Avoid orphaned ongoing ACSCall"
We found out that if we release the reference to `ACSCall` but do not hang up the call, the call is still running and there is no way we could hang up. My expectation is when the reference of an activeACSCall is released, the call should end automatically. Could we add support for this or fix this?

[2020-11-02 06:22] mariusu-msft commented on #85
Bug is assigned to @sankum-msft, targeting current sprint.

We will try to do a public release in week of 15th.

-Marius

[2020-11-02 09:30] tompi opened #88 "[iOS/Android] Audio volume is turned way down after call connected"
I am playing a sound regularly(think metronome), and this works fine until ACS call is connected, then the volume is turned way down(for my sound...) and doesnt come back up until call is disconnected.

This is happening on both iOS and Android, so Im wondering if ACS sets the output volume somehow, and if we can control it somewhere? (I would like to keep the volume for my sound player...)

[2020-11-02 13:02] eliaspuurunen commented on #68
Epic! Will we need to do anything to our code?

[2020-11-02 13:04] eliaspuurunen commented on #48
Hi @RinaRish - it's not part of our roadmap, we're 100% web/PWA at the moment.

[2020-11-02 17:16] Prakulka commented on #29
@ProbablePrime Thanks for bringing up this thread. This conversation was continued in email. We are good to close this issue.

[2020-11-02 17:16] #29 closed

[2020-11-02 21:18] terrychen1122 opened #89 "[iOS] takes 30+ seconds to get the remote participant update to come through when a participant kills their app"
As the title suggests, is this a technical limitation that it gets this long? is there something we can improve here to reduce this time and make the experience more responsive and instant?

[2020-11-03 06:24] terrychen1122 opened #90 "[iOS] App crash when joining a call with muted and audio permission was not granted"
I encountered a crash when I did `joinWithGroupCallContext:joinCallOptions:` with `audioOptions.muted` being true and the audio permission was not granted.

If the user wants to join the call with muted option, why would they grant permission? Shouldn't they only grant permission when they want to unmute?

[2020-11-03 06:42] terrychen1122 commented on #90
Is it related to https://github.com/Azure/Communication/issues/82 ?  cuz I realized that on iOS14 even when I joined the call while I was muted, the orange indicator still showed up. That explained the crash since regardless of the option it will access the microphone.
Are we aiming to fix it in the next release?

[2020-11-03 06:43] akania commented on #68
no, this will be internal change. we'll update this thread once we have it published.

[2020-11-03 07:14] terrychen1122 commented on #78
We can close it. Actually, we found a bug on our side. The infinite loading state was due to that. Sorry for the false alarm.

[2020-11-03 13:01] #73 closed

[2020-11-03 17:59] mariusu-msft commented on #90
This should not result in a crash, but throw an exception that audio permissions were not granted. Is that what you are seeing @terrychen1122? @raosanat can you take a look?

Regarding the requirement to allow permissions beforehand, right now the design indeed requires permissions to be granted before application connects to a call, regardless of audio or video modalities.

We can tag this a futu

[2020-11-03 18:04] terrychen1122 commented on #90
Yes, it was an exception. But why would you need permission if we are not using the microphone at all. And the users shouldn’t see the orange indicator if they mute.

[2020-11-03 23:54] shipon-eye opened #91 "Android App Client call to web App Client receiver failed very often"
**Describe the bug**
I am trying to call from Android App Client to WebApp Client. Most of the time I get CallState=None in the Caller app(Android App) and on the web client nothing happens after generating the token. 60-70% of the times it fails.

Sometimes, the call connected with the web client but shows lots of error log(mentioned below) and the Video quality is not good.

By the way, Android

[2020-11-04 01:11] jaytarang92 opened #92 "Typo in README.md"
**Describe the bug**
There is a typo in the README.md

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/Azure/Communication/blame/master/README.md#L55
2. Click on Source File
3. Scroll down to Line55
4. See typo

**Expected behavior**
It should be Azure and Azrue

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete t

[2020-11-04 04:38] mariusu-msft commented on #91
Hi,

Thanks for your report. Would you mind sharing a couple of call Ids for 100% failed cases?

You can get the call Id by inspecting the property Id of the Call object. https://docs.microsoft.com/en-us/azure/communication-services/concepts/troubleshooting-info?tabs=csharp%2Candroid%2Cdotnet#access-your-call-id

@kagbakpem can you help investigate and reproduce this? Have you encountered any of t

[2020-11-04 07:37] devgokhan opened #93 "'AzureCommunication/AzureCommunication-Swift.h' file not found"
Hi. I am unable to run the sample add with "Azure Communication Calling iOS SDK version 1.0.0-beta.4". I installed this SDK with following all steps of the this document : https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/voice-video-calling/getting-started-with-calling?pivots=platform-ios

In documents says do same thing (says download zip and place it in the project) for

[2020-11-04 07:42] raosanat commented on #93
Hi @devgokhan you can use the shell script  `BuildAzurePackages.sh` that came with the [release ](https://github.com/Azure/Communication/releases/tag/v1.0.0-beta.4)

You will get the path to the AzureCore and AzureCommunication packges after you run the script.

[2020-11-04 08:34] devgokhan commented on #93
Hi @raosanat,

Still I can't see .framework files in project path and the path which shared in terminal

Code runned:
`sh ./BuildAzurePackages.sh`

![Screen Shot 2020-11-04 at 11 13 57](https://user-images.githubusercontent.com/8233432/98086959-7f9c3680-1e90-11eb-9bf7-37c81732ec9d.png)

Then I searched files in my computer I found and  I copied the .framework files into my project then I still get

[2020-11-04 09:30] shipon-eye commented on #91
Hello Marius,
Thanks for the reply.

Failed Call Ids:
e1f6d94e-e48a-4358-b51a-b0589ad13eec
274426f9-d17d-489f-b0d5-a38cea914dd2

Successful Call Id:
424c4ffb-1c75-4127-aa8a-7d763e9c9650

Regards
Habib

[2020-11-04 17:28] tomaschladek commented on #92
Hi jaytarang92, thank you for reporting the typo, I've started the pull request with fix.

Regarding your question, can you please help me understand which example do you mean? I've noticed that you are sending SMS from python code. But I'm not sure what do you mean by getting the example once you are done.

Thank you

[2020-11-04 18:12] fxsrt10 commented on #77
I'd also like to know if HL2 support can be added in the future, we're really interested and have difficulty building other rtc solutions that work well with HL2

[2020-11-04 18:27] raosanat commented on #93
@devgokhan to unblock you for now, we have some initial support for cocoapods.  You can create a PodFile like below

[code]

[2020-11-04 18:32] mariusu-msft commented on #89
The duration you are seeing is how long it takes for all timeouts to expire and endpoint being forced out of the call.
This includes the time we allow the endpoint to recover from intermittent connection issues.

Due to retry strategies, allowing reconnect attempts and timeouts this cannot be instant.

I'm making this as a documentation issue, to better document the behavior.

[2020-11-04 18:54] mariusu-msft commented on #91
Hi,

Telemetry indicates that we were not able to reach the Web endpoint.

In case of a failed call, from a web endpoint, can you collect full logs and share them here if they don't contain any sensitive information?

[code]

Thanks,
Marius

[2020-11-04 19:06] suriab commented on #77
I would also like to know about C++ SDK for a/v communication between HL-2  and mobile/web.

[2020-11-04 21:14] RinaRish commented on #77
Adding @ashwinder to answer Chat question.

[2020-11-04 22:28] jaytarang92 commented on #92
Ahh yeah . I meant getting it added as an example in the readme . But I found it would be better added to the python sdk directly. I actually meant 'Once I am done' .

[2020-11-04 22:28] #92 closed

[2020-11-05 07:01] #74 closed

[2020-11-05 07:13] mariusu-msft commented on #87
This is by design.

You can always get the Call instance by using the Calls property on ACSCallAgent object instance

https://docs.microsoft.com/en-us/objectivec/communication-services/calling/acscallagent

If you dispose of CallClient or CallAgent, it should tear down any active calls.

-Marius.

[2020-11-05 07:19] mariusu-msft commented on #78
Thanks for the report

[2020-11-05 07:20] #78 closed

[2020-11-05 07:32] devgokhan commented on #93
Hi @raosanat  I could download 3 framework via pod. But error is same. What is missing?

![Screen Shot 2020-11-05 at 10 30 26](https://user-images.githubusercontent.com/8233432/98210761-1bda4200-1f52-11eb-81b8-ce9132fe095d.png)
![Screen Shot 2020-11-05 at 10 30 31](https://user-images.githubusercontent.com/8233432/98210759-1b41ab80-1f52-11eb-8616-99851833bab0.png)
![Screen Shot 2020-11-05 at 10 30

[2020-11-05 07:39] raosanat commented on #93
It could be that you architecture is not set properly. Under “Build Settings” make sure the architecture matches to what you building it for.

[2020-11-05 08:47] devgokhan commented on #93
I don't actually understand what do you mean? Everything seems normal, I think maybe file is missing in AzureCommunication framework? Could you download and run successfully with same way? (same pod download)
This is your sample project but I can upload all project with all framework files with you if you wish & need?
![Screen Shot 2020-11-05 at 11 43 52](https://user-images.githubusercontent.com/

[2020-11-05 10:23] shipon-eye commented on #91
Hello Marius,
Please check the log below:

﻿Failed Call ID: a4f7aa7d-e306-4daa-bf39-f703c7487a2d

**Android client self-created Log:**

2020-11-05 14:59:16.008 3086-3086/com.xpertmemos.inpocket E/ACS: createAgent: creating
2020-11-05 14:59:16.864 3086-5845/com.xpertmemos.inpocket E/libc: Access denied finding property "vendor.camera.aux.packagelist"
2020-11-05 14:59:16.868 3086-5845/com.xpertmemos

[2020-11-05 17:18] akania commented on #91
Hi Habib, can you please capture web log - from the very beginning ( have console open before page loads ) , crucial part we're missing here is logged earlier, log that you've attached unfortunately doesn't show the full picture and it's difficult to pin point what's the issue.

Thank you,
Artur

[2020-11-05 21:32] ryanespiritu opened #95 "[iOS] Releasing `ACSRenderer` removes `ACSRemoteVideoStream` as well"
**Describe the bug**
Disposing and releasing my reference to an `ACSRemoteParticipant`'s `ACSRenderer` causes the associated `ACSRemoteVideoStream` to be removed as well. In other words, the stream no longer appears in the `videoStreams` array maintained by the remote participant.

**Expected behavior**
I would expect that the removal/disposal of an `ACSRenderer` should not have an effect on an `A

[2020-11-05 21:37] #87 closed

[2020-11-05 23:35] sankum-msft commented on #95
Disposing `ACSRenderer` raises a `ACSRemoteVideoStream` removed event which should be followed by another `ACSRemoteVideoStream` **added** event almost immediately. If your observation is based on these events, please make sure your app is handling both these events in the right order.

From the issue it seems you are talking about the `ACSRemoteParticipant.VideoStreams` collection. I was not able

[2020-11-05 23:45] ryanespiritu opened #96 "[iOS] Issue with hanging up an `ACSCall` in the connecting state"
Hanging up an `ACSCall` while its state is `ACSCallStateConnecting` results in the call getting stuck in `ACSCallStateNone` and the completion block for `hangup:withCompletionHandler` never gets invoked.

Is this intended? If so, what is the suggested way for handling calls to `hangup:withCompletionHandler` while the `ACSCall` is still early on in its lifecycle?

[2020-11-06 00:31] ProbablePrime commented on #96
Hey @ryanespiritu thanks for your query, can you clarify which SDK you're using. Thank you!

[2020-11-06 00:38] ProbablePrime commented on #96
Ahh Apologies, I missed the iOs on the issue, thank you!

[2020-11-06 02:19] ryanespiritu commented on #95
Hey @sankum-msft thanks for the response! My observation was based off on `onVideoStreamsUpdated:`, I verified that after disposing the renderer I am only seeing **removed** streams and not **added** ones.

To add a bit more context here, I am attempting to dispose the renderers of remote participants when I background my app, in order to avoid any unnecessary overhead while the app is in the back

[2020-11-06 18:37] terrychen1122 opened #97 "[iOS] is there a way to detect the speaking state of the current user?"
I know we can know if a remote participant is speaking. Is there a way to get this info for the current user? our use case is to highlight the person who is speaking regardless of local or remote

[2020-11-06 19:58] sankum-msft commented on #96
We have identified a bug in the hangup code path that is causing this to fail. Calling team will work to fix this.

Thanks for reporting this issue.

[2020-11-06 21:54] sankum-msft commented on #95
There is a known bug in ACS Calling SDK is not raising `ACSRemoteVideoStream` added event here. We have a fix in works and should be included as part of the next release.

[2020-11-07 00:22] ryanespiritu commented on #96
Awesome, thanks for looking into this!

[2020-11-09 10:40] meteorra commented on #45
@likern @sabrimev did you manage to make it work with react-native?

[2020-11-09 21:20] ProbablePrime commented on #97
@raosanat are you able to answer this question or should we find an appropriate owner?

[2020-11-09 21:23] mariusu-msft commented on #97
@terrychen1122 "speaking" currently just means unmuted.

For local call you can just check if you are locally muted or not.

We do not have actual "speaking" detection.

Can you use local mute flag to drive the UI per your requirements?

[2020-11-09 21:41] mariusu-msft commented on #93
I tried this on a new project and was not able to repro with pods.

Can you try with the sample @raosanat?

@devgokhan what is your Xcode version?

[2020-11-09 23:13] rkprasad-ks commented on #97
@terrychen1122 can you clarify the use case on what you need this for our benefit?

[2020-11-10 00:38] #48 closed

[2020-11-10 01:23] ProbablePrime commented on #43
@nmurav Do you have an answer to the question above? Thank you

[2020-11-10 01:26] ProbablePrime commented on #39
@raosanat Do you have an answer to Terry's question above? thank you.

[2020-11-10 01:38] terrychen1122 commented on #97
This is not a hard requirement as for the priority of this ask.
@rkprasad-ks we need this to indicate the current user is speaking which will show an indicator. Since we will show indicator on anyone who is currently speaking, it would be nice to include the current user as well, as we want to have some visual feedback to let the user know that their voice is being sent out
@mariusu-msft for this,

[2020-11-10 01:40] terrychen1122 commented on #96
@sankum-msft Thanks! Good to know that this is a bug we've identified. Do you know if there is an estimate when we can see the fix released?

[2020-11-10 01:53] sankum-msft commented on #96
We don't have a date yet but we'll update when we pull it into current sprint.

[2020-11-10 08:57] nielscup opened #98 "No push notifications received on iOS"
**Describe the bug**
No push notifications received on iOS.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up pushnotifications according to [this documentation ](https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/voice-video-calling/calling-client-samples?pivots=platform-ios#push-notification)
2. Make a call to an (iOS) device

**Expected behavior**
Incoming push

[2020-11-10 09:06] raosanat commented on #98
Hi @nielscup can you please attach the logs from the device? You can download it from the apps container and in Library/Caches folder you will see a file `acs_sdk.blog`

[2020-11-10 09:39] nielscup commented on #98
Issue is probably caused by Notification Hub not set correctly for ACS in Azure

[2020-11-10 09:56] raosanat commented on #93
Hi, I was able to get the sample here to work with pods, but since we have recently started supporting cocoapods we need to update the sample and we will fix it soon. For now after you have done the pods install like this
[code]

you will see this warning after you do `pod install`.
[code]
Please update the `Framework search paths` under `Build settings` to only the entry `$(inherited)`
Open the `

[2020-11-10 10:56] nielscup commented on #98
Did anyone manage to receive push notifications on iOS for an incoming call? I would like to implement CallKit (Native dialer experience). I went through all the docs again below and it even says _Use APNS VOIP through Notification Hubs **(not officially supported)**_ So I would like to know if it is even possible to get a push notification through ACS?

1. https://docs.microsoft.com/en-us/azure/c

[2020-11-10 12:10] tompi opened #99 "Call initialisation fails on windows chrome if camera is already in use"
Not sure if this is a bug, but a bit annoying for windows users at least.
If you are already on e.g. a teams call using the camera and try to join a group call in chrome, the javascript sdk will report no permission for video:

[code]

The same thing works fine on mac, and if you do it "the other way around": pause your video on teams , join group call, then resume video in teams call.

P.S. Im as

[2020-11-10 17:04] mariusu-msft commented on #98
Hi @nielscup,

Yes it’s possible to receive VoIP push notifications for iOS.

Have you gone through all the steps and linked your ANN resource to the ACS resource?

If not sensitive, please share you ANH and ACS resource names.

Thanks,
Marius

[2020-11-10 21:18] mariusu-msft commented on #99
@tompi thanks for the report.

You are starting the JS call with or without Video?

-Marius

[2020-11-11 01:19] razvansalajan commented on #98
Is the Anh hub linked to the Acs resource configured for the apns platform using [certificate authentication mode](https://docs.microsoft.com/en-us/azure/notification-hubs/configure-apple-push-notification-service#configure-apple-push-notification-service) ?
The hub should be configured using token authentication mode as mentioned in the link above: https://docs.microsoft.com/en-us/azure/notificat

[2020-11-11 01:56] ProbablePrime commented on #86
AB#2308482

[2020-11-11 07:20] devgokhan commented on #93
Hi. Thank you @raosanat my problem is resolved.

[2020-11-11 07:20] #93 closed

[2020-11-11 10:45] nielscup commented on #98
Yes I have gone through all steps and docs as described in my earlier post and notificationhub is successfully linked to ACS according to the activity log. I am also using Token authentication.

I have checked certificates and provisioning profile setup by using RegisterForRemoteNotifications in AppDelegate for the same notificationhub and using Test Send in Azure. Notifications are received. Is t

[2020-11-11 16:31] mariusu-msft commented on #98
1. we are working on a sample for this scenario, but we don’t have an ETA for publishing. I’ll check when we can share it and get back to you.

2. We are sending the notification when a call is placed to an user which is registered for notifications. It you have set everything up, we should investigate what is going wrong.

Could you provide us with a couple of details so we can investigate?
a) Wh

[2020-11-11 22:00] tophpalmer commented on #20
Hey @johannesstock , @jolguk , I'm closing this issue as we have published a roadmap now and we have a card tracking this feature request. I do want to be candid that this feature area is pretty far off in the backlog but we'll continue to update our roadmap and appreciate your continued feedback!

[2020-11-11 22:00] #20 closed

[2020-11-11 22:39] tophpalmer commented on #34
Thank you again for the feedback @iamalexmang !

We're tracking this on the backlog but it's fairly deep in the queue for us. FWIW you can accomplish a similar arrangement with [Azure Monetary Commit as part of an Azure Enterprise Agreement](https://docs.microsoft.com/en-us/azure/cost-management-billing/understand/review-enterprise-agreement-bill).

[2020-11-11 22:39] #34 closed

[2020-11-11 22:51] tophpalmer commented on #16
AB#2211519

[2020-11-11 22:58] tophpalmer commented on #42
AB#2309517

[2020-11-11 23:03] tophpalmer commented on #16
Tracked on the roadmap
https://github.com/Azure/Communication/projects/1

[2020-11-11 23:17] tophpalmer commented on #57
Hey @amarjeetsingh0021 , I'm closing this issue as it's tracked on [our roadmap](https://github.com/Azure/Communication/projects/1) and we are working on it. Thank you for reaching out with a request and please let us know of any questions or concerns.

[2020-11-11 23:17] #57 closed

[2020-11-11 23:22] tophpalmer commented on #42
We've introduced validation earlier in the creation process, thank you @williamzhao87 for the feedback!

[2020-11-11 23:22] #42 closed

[2020-11-11 23:26] tophpalmer commented on #72
hey @AnsariNaushad , we want to make sure that we're supporting the exact Windows platform you need. You can see a [list of platforms here](https://docs.microsoft.com/en-us/windows/apps/desktop/). The choices are UWP, C++/Win32, WPF, or Windows Forms.

[2020-11-11 23:32] tophpalmer commented on #55
AB#2283736

[2020-11-11 23:36] tophpalmer commented on #55
Thank you for the feedback! I'm closing this issue but we have a [tracking card](https://github.com/Azure/Communication/projects/1) that is linked to this item.

[2020-11-11 23:36] #55 closed

[2020-11-11 23:38] tophpalmer commented on #38
hey @croninr and @bigbbri , I think you've started a healthy dialogue offline, so I'm closing this issue for now. There is a card on our roadmap for official support of Xamarin but it's not scheduled at this time. Thank you for the feedback!

@tompi  thank you as well for building on ACS and helping customers!

[2020-11-11 23:38] #38 closed

[2020-11-12 04:31] amarjeetsingh0021 commented on #57
Thanks Chris.

I will let you know if I have any questions.

On Thu, 12 Nov 2020, 04:48 Christopher Palmer, <notifications@github.com>
wrote:

[2020-11-12 07:45] nielscup commented on #98
a) CallId: 9c85bcb5-f148-4152-9373-84b0e4b74a40
b) /subscriptions/6ed61357-5248-446a-9afe-68bf49ef97ec/resourceGroups/WSPCommunicationServicesResourceGroup/providers/Microsoft.Communication/CommunicationServices/WSPCommunicationServices

[2020-11-12 14:39] devgokhan opened #100 "Main Thread Checker: UI API called on a background thread: -[UIApplication statusBarOrientation]"
Hi. In IOS SDK when I delegate remoteParticipants application crashes because of UI trying to call the UI on background thread in SDK.
`Main Thread Checker: UI API called on a background thread: -[UIApplication statusBarOrientation]`

[code]

[code]

Note: SDK installed today via pod:
`
pod 'AzureCommunicationCalling', :podspec => 'https://raw.githubusercontent.com/Azure/azure-sdk-for-ios/master/A

[2020-11-12 14:59] FlapperA opened #101 "Switch audiosource from remote stream (multi audiostream support)"
**Is your feature request related to a problem? Please describe.**
My remote stream has multiple audio streams for the various languages (and participants) it outputs. Currently I can only receive the default audio stream and the other available languages are not available for the local client.

**Describe the solution you'd like**
On the client side I want to be able to select the audio stream I

[2020-11-12 15:49] mariusu-msft commented on #100
Hi,

What iOS version is your app running on?

Thanks,
Marius

[2020-11-12 19:53] sankum-msft commented on #100
Hi @devgokhan !

I noticed following in my testing:
 1. This happens only in iOS simulator, never on a real device.
 2. This is a warning and has never caused a crash for me.

Are you also seeing these symptoms?

Can you please double check if the crash is because of a different issue? If this error is indeed the cause of crash, please share full error message, iOS version, XCode version and the d

[2020-11-12 22:10] raosanat commented on #98
Can you please provide client side logs ?

c) collect logs from the client not receiving notification
https://docs.microsoft.com/en-us/azure/communication-services/concepts/troubleshooting-info?tabs=csharp%2Cjavascript%2Cdotnet#enable-and-access-call-logs

[2020-11-12 22:40] RinaRish commented on #56
Sorry, it's taking a bit longer than expected. @terrychen1122

[2020-11-12 22:41] mariusu-msft commented on #98
Thanks for the details Niels.

Based on ACS\ANH telemetry we saw the following progress:
- ANH hub was not linked
- ANH configuration was using cert-based auth, which is incompatible with APNS Push
- (and currently) we see APNS accepting our push notifications

Based on current state, this looks properly set up, and expecting this to work now. We're looking to make the provisioning story better in

[2020-11-12 23:13] terrychen1122 commented on #56
@RinaRish that's ok. Do we have an estimate?

[2020-11-13 01:52] razvansalajan commented on #98
Hi Niels,

Have you looked in [Anh hub metrics](https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-push-notification-fixer#azure-portal-2) to see if Anh has successfully delivered to notifications to Apns ? There are detailed metrics for different types of errors that Anh could receive from Apns in case of an unsuccessful delivery.

The "Incoming Messages" metric should say

[2020-11-13 02:11] tophpalmer commented on #76
AB#2284971

[2020-11-13 02:15] tophpalmer opened #102 "test"

[2020-11-13 02:15] #102 closed

[2020-11-13 02:17] tophpalmer commented on #81
AB#2309710

[2020-11-13 02:17] tophpalmer commented on #89
AB#2309708

[2020-11-13 05:13] tsubasaxZZZ commented on #58
+1
We hope Data channels in ACS. We released following application, and then this application is using WebRTC service and cognitive.
http://writewith.jp/

But WebRTC is not Azures service. We want to replace it to ACS.

[2020-11-13 06:42] devgokhan commented on #100
Hi,

Development Target iOS version 12. Xcode 12.1. Tried in simulator iPhone 8 (iOS 14.0)
App is crashes in my case. After I delegate a participant then some seconds after app crashes because something tries the change in UI.

In device (iPhone 6s iOS 14.0) first I joined when there is no participant nothing happened then I joined to the group which already participant available then following er

[2020-11-13 08:39] tompi commented on #88
Hey @mariusu-msft I suddenly realized whats happening and feel pretty stupid right now ;-)
My sound is playing just fine, its just that ACS switches output from "loudspeaker" to "earspeaker"... Sorry about this

[2020-11-13 08:39] #88 closed

[2020-11-13 11:26] devgokhan commented on #100
Hi,

Development Target iOS version 12. Xcode 12.1. Tried in simulator iPhone 8 (iOS 14.0)
App is crashes in my case. After I delegate a participant then some seconds after app crashes because something tries the change in UI.

In device (iPhone 6s iOS 14.0) first I joined when there is no participant nothing happened then I joined to the group which already participant available then following er

[2020-11-13 17:23] lanierc opened #103 "Video buffering issues on Safari when communicating with other browsers."
**Describe the bug**
Video calls from Safari to other browsers (Chrome/Vivaldi/Edge/Brave) does not buffer properly, causing video freezes on the other side.

**To Reproduce**
Steps to reproduce the behavior:
1. Initiate a video call on one side using Safari
2. Receive the call from a Chromium-based browser
3. Both sides instantiate video

**Expected behavior**
Video should be clear on both sides.

[2020-11-13 19:14] akania commented on #103
Hi @lanierc , you can find currently supported browsers in the documentation https://docs.microsoft.com/en-us/azure/communication-services/concepts/voice-video-calling/calling-sdk-features

We do not support all "chromium" based browsers, but rather focus on Chrome/Edge (on Windows/Linux.. ) and and limited support for Safari.

[2020-11-13 19:32] mariusu-msft commented on #100
Likely this bug is related something else and not the usage of UI thread.

[code]

On this piece of code, currently we require applications to keep a strong reference to the objects on which delegates are set.

When you do `item.delegate = self`, you should also save the `item` in a local array. This is a known friction point at this time and we are looking to improve it.

https://docs.microsoft.c

[2020-11-13 20:30] lanierc commented on #103
Hello @akania,

Thanks for this. I understand that Vivaldi isn't support. Unfortunately, I tried to replicate this issue communicating between Chrome & Safari, and succeeded.

It seems that the limited support of Safari is the culprit, as there is definitely some sort of buffer or bottleneck issue in sending video from Safari in ACS, while receiving video appears to be fine.

[2020-11-13 20:33] ashwinder commented on #77
Thanks all for your questions.
1. HoloLens support - Our .Net SDK (available [here](nuget)) is expected to work with HoloLens. We havent built an experience using HoloLens & .NET SDK yet but we plan to test it soon. In the meantime, if you try it out and encounter any problems, please create a new issue and we will look into it.
2. C++ SDK is not on our roadmap.

[2020-11-13 21:11] chriswhilar commented on #73
Hey @JaKoBowden can you please repro and provide us the logs?

Also, how are you testing this out? Are you doing everything on one machine locally so that the same physical camera is being used accross the different browsers you have opened on this 1 machine?

I did some investigation on my side and i noticed the following with these 2 scenarios below:

**Scenario 1:** The video freezing is only h

[2020-11-13 21:16] mariusu-msft commented on #103
Hi @lanierc,

Can you check if you see the same behavior using the groupId call concept?

Thanks,
Marius

[2020-11-13 22:10] chriswhilar commented on #103
Just tried this out and is working fine on Safari Version 14.0.1 (16610.2.11.51.8) on macOS

[2020-11-13 22:48] chriswhilar commented on #103
@mariusu-msft @akania I have also tried video group call with the web calling sample and im not seeing video freezes at all.

For group call scenario i did:
1 participant is using safari (same version from my last comment) on macOS.
1 participant is using chrome (Version 86.0.4240.198) on windows
1 participant is using safari (version 13.1.2) on iOS
All particpants do CallAgent.join() API with vid

[2020-11-13 22:51] lanierc commented on #103
@chriswhilar

This is part of the issue that I see, is a lot of pixelation (compared to normal when going from chrome to chrome. This happens on both iOS and macos for me if that helps?

[2020-11-14 01:38] mariusu-msft commented on #68
@eliaspuurunen, @devwheel this has now been released with version 1.0.0-beta.2

Can you please verify all works as you are expecting?

I am closing this, please reopen if you encounter any issues.

AB#2290702

[2020-11-14 02:21] mariusu-msft commented on #90
Hi @terrychen1122,

We will revisit this design for future releases. Marking this as Enhancement.

Thanks,
Marius

[2020-11-14 02:24] mariusu-msft commented on #91
Hi @shipon-eye,

Could you capture log from the very beginning please and share?

Please see Artur's message above.

Thanks,
Marius

[2020-11-16 10:59] nielscup commented on #98
Thanks for the advise. I currently see the following ANH metrics:

1. **Incoming messages:** When I make a call from 1 device to another, an _Incoming messages_ appears. This tells me that ACS is sending messages correctly to ANH
2. **APNS Successful Notifications:**  When I make a call from 1 device to another, _APNS Successful Notifications_ do not appear. This tells me that ANH is not sending t

[2020-11-16 13:30] FlapperA commented on #72
Any progress on this? I am also waiting on .Net SDK.  I want to use with .Net Core and ASP.Net

[2020-11-16 13:32] FlapperA commented on #101
Was hoping on some news on this. Is it possible to do this, maybe by switching audiostreams in the client?  If so, how would I do that?

[2020-11-16 13:39] mariusu-msft commented on #72
Hi @FlapperA,

Currently we are planning a client-side Windows SDK that will be available for the following app platforms: `UWP, C++/Win32, WPF, or Windows Forms.`

If you require a Windows server SDK to be used with ASP.NET Core or such, can you provide us with some scenarios you are looking at? We will direct the feedback to the team looking at Server scenarios.

Thanks,
Marius

[2020-11-16 13:42] mariusu-msft commented on #101
Hi @FlapperA,

Currently this is not supported. We'll keep this feedback open and consider it as a feature request.

Thanks,
Marius

[2020-11-16 14:45] FlapperA commented on #72
The reason for using .Net Core (ASP.Net) over Angular or ReactJS is maintainability. Recent experiences with Angular (and a bit ReactJS) has learned that very rigorous updating of the platform is needed to not expose any security leaks.

As we intend to use ACS in a scenario where security is of the utmost importance, we want to stay away from platforms with an unpredictable roadmap. .Net Core is

[2020-11-16 14:48] mariusu-msft commented on #72
@FlapperA do you mind sharing a server scenario or API you would like to use from ASP.Net Core?

[2020-11-16 15:22] FlapperA commented on #72
@mariusu-msft That is possible, but preferably in a private message as this might be company sensitive.

[2020-11-16 15:26] mariusu-msft commented on #72
@FlapperA sounds good, please sends us an email at `acsfeedback @ microsoft.com`

[2020-11-16 19:07] mariusu-msft commented on #98
@nielscup I see you are using Xamarin? Are you using this project here?https://github.com/Laerdal/Xamarin.AzureCommunicationCalling

Please check the metrics Razvan is pointing too and let us know. Meanwhile, we will investigate if this works as expected in Xamarin.

[2020-11-16 19:36] ProbablePrime commented on #72
I've removed the author feedback label as we have multiple reports and requests for this item.

[2020-11-16 21:49] lanierc commented on #103
Hi Marius, sorry to keep you waiting on this question.

We are using the groupId call concept in our project, so this behaviour does happen with this as well.

[2020-11-16 21:57] kdhuynh opened #104 "[Android] Can not increase/decrease group call volume"
While using the Android ACS SDK I encountered the following issue:
Once there is an ongoing group call, started by performing CallAgent#join, the volume of of the call does not seem controllable. Using the physical volume buttons to change the system's media/call volume did not effect the volume of the group call. This was consistently reproducible on my Pixel 3 test device.

Is this expected?

It

[2020-11-16 21:59] lanierc opened #105 "Video freeze issue on desktop client from mobile to desktop when mobile browser loses focus"
**Describe the bug**
When a mobile user navigates away from the browser (either to home screen or another app), when the browser regains focus, the desktop user sees a frozen frame of video from the mobile caller.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a call between a mobile browser and a desktop browser
2. Return to home screen or move to another app on mobile.
3. Return to b

[2020-11-17 05:37] mariusu-msft commented on #104
@kagbakpem can you take a look please?

[2020-11-17 05:39] mariusu-msft commented on #98
@nielscup We're still investigating if this is Xamarin related. We are not able to reproduce on a Swift or Obj-C app.

We'll keep you posted. @raosanat and @razvansalajan are investigating

-Marius

[2020-11-17 08:10] nielscup commented on #98
There are channel errors. Any ideas on what they are and why they occur?
![Screenshot 2020-11-17 at 08 35 42](https://user-images.githubusercontent.com/3483085/99360446-e10cce00-28b0-11eb-83f9-6d3cb99ebf74.png)

I would expect to see any errors in the anh overview when they occur, but that is not the case apparently:
![Screenshot 2020-11-17 at 08 37 23](https://user-images.githubusercontent.com/34

[2020-11-17 08:18] nielscup commented on #98
Hi Marius,

Can you send me the swift app project? This problem is either ANH related
or I am missing a step in my code. To rule out the latter, I would like to
cross check with a working example. I see Channel errors in ANH,  but I
can't find any documentation on this. Any ideas?

Kind regards,

Niels Cup.

On Tue, Nov 17, 2020 at 6:40 AM Marius U <notifications@github.com> wrote:

[2020-11-17 08:22] nielscup commented on #98
Can you send me the swift app project? I may be missing a step in my code. To rule this out, I would like to
cross check with a working example.

[2020-11-17 16:16] mariusu-msft commented on #98
@nielscup those errors occur when the push token provided is not valid.

Can you double check if you are using the same bundleId as your provisioned ANH hub?

[2020-11-17 16:34] nielscup commented on #98
App bundleId is the same as bundlId provided in ANH. Anything wrong with the ANH name perhaps? I read in the docs that the ANH name should be BundleId + .voip, so mine is net.cupit.testapp1.voip.

[2020-11-17 17:25] kagbakpem commented on #104
@kdhuynh, are all devices you're joining the call with using the Android SDK? I've tried reproducing the issue with a device on Android and 2 and 3 endpoints on web and increasing the volume on Android device worked fine. Can you please elaborate on this, share a call id and also send us logs of recent try when you can.
Thanks

[2020-11-17 18:13] mariusu-msft commented on #98
Great! Happy to hear something is happening.

[2020-11-17 21:53] kdhuynh commented on #104
@kagbakpem That's correct, I'm using two pixel 3 devices and both are using the Android ACS SDK. I'm using the default device speakers on both devices. Adjusting volume with a bluetooth earpiece connected works as expected, it is only when trying to use the phone's own speakers that I encounter this issue

Steps I'm using to reproduce:
1) Set Device 1 volume to 0 for all volume channels (media, ca

[2020-11-18 02:33] kagbakpem commented on #104
@kdhuynh, apologies for not getting back earlier. We're in a middle of a release at the moment. I'll take a look at this tomorrow, Nov 18th, PST and will get back to you before EOD.
Thanks

[2020-11-18 02:50] ProbablePrime commented on #105
Hey @RinaRish Could you take a look at this?

[2020-11-18 02:55] kdhuynh commented on #104
Sounds good, thanks for letting me know
Hope your release goes smoothly

Also I just want to emphasize that I'm only able to reproduce this issue using a google pixel 3 device, I was not able to reproduce with a samsung device

[2020-11-18 05:37] RinaRish commented on #105
Hi @lanierc! Thanks for reporting the issue. The engineering team will take a look and will get back to you

[2020-11-18 07:09] devgokhan commented on #100
Hi currently I am able to use it in device and also simulator with following code. However I think there is some risks available. Risk is when delegation methods call same time and at the same time just a short time after if I remove the object or set null delegation of object, I think application may crash.. But currently I am not having any problem with this.

[code]

[2020-11-18 07:32] devgokhan opened #106 "[IOS] App is frozen when dismiss ViewController"
Hi. When I call dismiss to ViewController application is frozen and takes no action.

This happened before when I call start local video capture or dispose  and short after something to resolving this problem I did use dispatchAsync.main.after some seconds and I resolved the problems with this ways.. Anyway.. With same way to resolve freeze I tried to dispose and remove the objects before call dis

[2020-11-18 08:22] devgokhan opened #107 "[iOS] Join & Call needs delegate immediately"
Hi.

I faced this problem one time. Joined to the session however  I couldn't get state because it was too late so I couldn't continue the next steps. I am doing something like starting local video stream and hiding welcome screen after state connected received but when I can't catch the state updates I am unable to doing it. And when I missed it, and press the join button which calls join call de

[2020-11-18 13:54] devgokhan opened #108 "[iOS] There is no choice for bottom speaker of iPhone, speaker name localization and unable to close speaker sound"
Hi.

When we call getSpeakerList method, in the list only Build-in Speaker (top speaker (handset) of iPhone) is returns. However we need more sound and want to use bottom speaker but we can't.

We want also volume off the sound but I could not see any option for that. There is option mute available for call which only mutes microphone. But we need do that for speaker (mute/volume off). I thought m

[2020-11-18 18:00] mariusu-msft commented on #108
@devgokhan - we will be removing the audio part of the DeviceManager soon and will revisit such need in the future.

As you pointed out, the stack will always default to earpiece. From there on, we expect developers to use native iOS APIs to switch the audio sink.

You can do this using something like this:

[code]

Please refer to Apple documentation on proper use: https://developer.apple.com/doc

[2020-11-18 18:10] mariusu-msft commented on #107
This is good feedback, we'll take this into consideration. @rorezende @sankum-msft

That being said - we currently expect that after stetting any delegate, developers check the current state of the object model:

Your call above would become:
[code]

Can you please let us know if this works as expected?

[2020-11-18 18:11] mariusu-msft commented on #106
@sankum-msft can you take a look please?

[2020-11-18 19:15] raosanat commented on #106
Hi @devgokhan this is most likely a issue that we are aware of and we have a fix for this coming in an upcoming release. Meanwhile to confirm its the same issue , can you please provide logs ?
You can follow the instructions below to get the logs

https://docs.microsoft.com/en-us/azure/communication-services/concepts/troubleshooting-info?tabs=csharp%2Cios%2Cdotnet#tabpanel_CeZOj-G++Q-3_ios

[2020-11-18 23:49] aaronpowell opened #109 "Can't catch exceptions if camera is in use"
I've come across a problem that if you try and create a `LocalVideoStream` from a camera that is in use (say, you have a virtual camera running but you select the physical camera) an exception is thrown telling you that the device is in use.

The exception makes sense, but I can't seem to catch the error. It manifests itself as a promise failing, but the `LocalVideoStream.switchSource`'s `catch` m

[2020-11-18 23:49] aaronpowell commented on #109
This is somewhat related to #99

[2020-11-18 23:51] aaronpowell opened #110 "Need to create a CallAgent before creating a DeviceManager"
I came across an issue where if you try and create a `DeviceManager` using `CallClient.getDeviceManager` before you've created a `CallAgent` ('CallClient.createCallAgent')`, an error is raised.

Since you don't need the `CallAgent` yet, it doesn't make sense that you need to create it first.

_Aside: The docs do state that you need to create it first_

[2020-11-19 01:41] ryanespiritu opened #111 "[iOS] `ACSRendererView` Issues when joining a call with a reused `groupId`"
**Describe the bug**
When joining a call with a `groupId` that was previously used, the `ACSRendererView` for a remote participant that was also previously in the call will be blank.

**To Reproduce**
Steps to reproduce the behavior:
1. On two separate devices, join a call using a given `groupId` (make sure you join with video)
2. Create `ACSRendererView`s for each participant and add them to the

[2020-11-19 02:05] mariusu-msft commented on #111
This is an odd issue, since if you hangup on 3) it's considered a new call when you do 4.

@sankum-msft can you investigate please?

[2020-11-19 03:42] sankum-msft commented on #106
Hi @devgokhan!
You are hitting a known bug in `ACSCallAgent`'s destructor. I was able to repro this issue locally using your code and have verified that root cause is the issue @raosanat mentioned.

We have a fix for this issue which is going to be rolled out as part of the next release.

[2020-11-19 07:29] ashwinder commented on #77
Closing this ticket. If you face an issue with using .Net SDK with HoloLens, please open a new ticket and we will get back to you. Thanks!

[2020-11-19 07:29] #77 closed

[2020-11-19 07:58] devgokhan commented on #107
Hi @mariusu-msft

Thank you for solution. Yes it resolves any this kind of problems. If you do my suggestion next release users will not need do same things twice.  I changed the code:
[code]
 I was also did before this for remote participant video check. Same thing happened here too.  Problem was when I delegate remote participant in some cases onVideoStreamsUpdated called before remoteParticipan

[2020-11-19 08:32] devgokhan commented on #106
Hi thank you both.  @raosanat according to @sankum-msft last comment this is known issue, if you still need these logs please tell me then I will attach the logs here.

@sankum-msft I saw new version released yesterday? Did you mean this version?

Yesterday a new version released.  https://github.com/Azure/Communication/blob/master/releasenotes/2020-November-18.md
Today I tried it with reintegrate

[2020-11-19 10:06] tompi commented on #108
@mariusu-msft I think this behaviour causes a lot of confusion and should be considered a bug. If you cant change speaker using ACS, I dont think ACS should SET speaker. It feels a bit strange that I now have to figure out WHEN to reset speakers, since I need to do it AFTER ACS has changed them...

[2020-11-19 10:32] devgokhan commented on #108
Hi @mariusu-msft  thank you for suggestion. Yes with this way we can switch handset to speaker and speaker to handset. But I am not sure is it better way or not. On the other hand I am still unable to volume off to output sound it seems it should be handled in audio source..

I write this code to handle this.Yeah currently I can say I can change speaker and handset.. I am not sure my code is corre

[2020-11-19 13:17] tompi commented on #108
For anybody else struggling with this, if you need loudspeaker output by default, it seems to work okay to override audio output like marius suggested on call state-change, when call has gone into "connected" state. ACSCallDelegate -> OnCallStateChanged -> call.state == connected

[2020-11-19 14:57] devgokhan opened #113 "[iOS] Bundle invalid error during upload to the App Store"
Hi. I am tried to upload a new test package to TestFlight. To do this I was uploading to App Store. Then this message occurred:

ERROR ITMS-90058: "This bundle is invalid. The value for key CFBundleVersion [1.0.0-beta.5] in the Info.plist file must be a period-separated list of at most three non-negative integers. Please find more information about CFBundleVersion at https://developer.apple.com/do

[2020-11-19 16:05] rdweaver opened #114 "Call end reason=NoNgcEndpoint"
**Describe the bug**
I am having intermittent trouble with my calls to an acs user not going through, and getting two error messages in response.

**To Reproduce**
Steps to reproduce the behavior:
1. create callClient
`      const tokenCredential = new AzureCommunicationUserCredential(userToken);`
       `let callAgent: CallAgent = await callClient.createCallAgent(tokenCredential);`
2. Set callOpt

[2020-11-19 16:48] mariusu-msft commented on #114
@rdweaver to make this easier to debug, we are in the process to document the error codes, will have something published soon. cc: @RinaRish

Regarding your error,`Call end reason=NoNgcEndpoint, code=480, subCode=10037` this means the remote user was not online.

Do you have another browser tab with the other user logged in?

Thanks,
Marius

[2020-11-19 16:54] rdweaver commented on #114
yes I do have another browser window open with the user logged in.

[2020-11-19 17:04] mariusu-msft commented on #114
It should not go automatically offline. Can you share logs from the endpoint that is not ringing?

This is how you can gather logs:
https://docs.microsoft.com/en-us/azure/communication-services/concepts/troubleshooting-info?tabs=csharp%2Cjavascript%2Cdotnet#enable-and-access-call-logs

Please make sure you capture logs (open console) before the time you do `callClient.createCallAgent`.

This shoul

[2020-11-19 17:12] kagbakpem commented on #104
Hello @kdhuynh, we do not have a Pixel 3 device readily available so won't be able to investigate this issue for a while. Just to make sure i got this right, this issue is only reproduceable on a Pixel 3 at the moment as far as you're aware?
Thanks

[2020-11-19 17:36] ozanurkn opened #115 "When i use hangup method ,i have some problem."
My problem is when i want to close meeting for when i  press to end button, call backpressed() method or in my onDestroy() method i killed my activity in there. when i try to same logic, my local camera isn't work like before.

Step by step my behavior like this.

- First of all i was join meeting with my group id and comminicate with other person.
- After i closed the meeting with my stopCall() m

[2020-11-19 17:40] mariusu-msft commented on #115
@kagbakpem, @sankum-msft can you take a look please?

@ozanurkn can you share how you open and render the localVideoStream?

Thanks,
Marius

[2020-11-19 17:48] kdhuynh commented on #104
Correct, when using a physical device, I was only able to reproduce using a physical Pixel 3
However, I can also reproduce using an Android Studio Emulator. I was able to reproduce using a Pixel 4 emulator running API 30 (Android 11.0, CPU x86_64).

[2020-11-19 18:13] ozanurkn commented on #115
Sure,

[code]
this code just for preview and i determinated some feature for meeting like open cam ,close mic. It didn't share anything. Screen Shot at below.

![Screenshot_2020-11-19-20-28-41-216_preview_call](https://user-images.githubusercontent.com/11214217/99704248-2b589f80-2aa9-11eb-9655-aaf864103e3a.png)

'KATIL' mean join . When i press the join button.

[code]
When the callState is be Con

[2020-11-19 18:19] akania commented on #110
Thank you reporting @aaronpowell , currently this is by design - we'll remove this limitation going forward.

[2020-11-19 18:26] akania commented on #109
Thank you @aaronpowell for feedback, we'll fix it in future release.

[2020-11-19 21:02] rdweaver commented on #114
@mariusu-msft Do you have a way that I can submit the logs privately?

[2020-11-19 21:20] tophpalmer commented on #113
Hey @devgokhan , @raosanat from our team is investigating this issue now, thank you for reporting.

[2020-11-19 21:36] tophpalmer commented on #114
Hi @rdweaver , you can submit logs as part of a support ticket [using these instructions](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request). If you don't have an eligible support plan please let us know and we'll scrum on another method.

[2020-11-19 21:50] rdweaver commented on #114
Here are the logs for the us
[user627 localhost-1605822382566.log](https://github.com/Azure/Communication/files/5569935/user627.localhost-1605822382566.log)
er that does not appear online.

[2020-11-19 22:24] mariusu-msft commented on #114
[code]

This looks suspicious. Are you trying to run within the same browser window? Or create multiple CallAgent instances? We currently do not support multiple CallAgent instances.

The current limitation is 1 active CallAgent\browser page.

Can you try same setup with this restriction in place please?

[2020-11-20 12:54] devgokhan opened #116 "[Mobile] Sending user display name"
Hi. How can we send our display user name to the meeting?
When I join a meeting my display name will be empty in web. But I can see web users display name.
How we can send it? If this feature not available can will it be added?

[2020-11-20 13:46] devgokhan commented on #106
Hi. I did some changes and then I am able to dismiss the screen. I was forgot set call.delegate = nil. After I did this problem resolved. However one time I saw app is crashed, but generally works fine.. We will understand the situation after do more tests.

[code]

[2020-11-20 14:49] mariusu-msft commented on #116
Adding @akania

This feature should be available on our December release. We will update this thread after release.

Note, that while Display Name will be there, we will generally recommend that applications do user lookups if such information is available.

Thanks,
Marius

[2020-11-20 18:23] rdweaver commented on #114
Yes that error was the culprit. When I resolved that, it is working fine.
Thanks for your help! I am going to close this issue.

[2020-11-20 18:23] #114 closed

[2020-11-20 18:26] mariusu-msft commented on #114
Great to hear.

@rdweaver did the error get bubbled up to console regardless of having logs enabled? I believe for fatal errors as such we should be bubbling up exceptions.

[2020-11-20 18:33] rdweaver commented on #114
Yes the "A Call Agent instance has already been created" error was showing in console regardless of logs. I had ignored/not paid attention to it... :(

[2020-11-20 19:54] terrychen1122 commented on #111
@mariusu-msft by "old issue", did you mean this is a known issue to the team?

[2020-11-20 19:58] mariusu-msft commented on #111
@terrychen1122 "odd" issue.

This is not expected, between two call instances there's nothing being reused internally in respect of video stream state.

@sankum-msft will be investigating next week

[2020-11-21 00:38] terrychen1122 opened #117 "[iOS] About CocoaPods"
I saw from the release note that the lates release is now available for cocoapods. When I looked for the SDK on https://cocoapods.org/, I didn't see it. Any reasons why I am not seeing it

[2020-11-21 00:45] sankum-msft commented on #106
Glad to hear that you found a workaround. We have confirmed a bug with CallAgent's disposal that is causing the crash you posted. We are planning a release next week to address that bug.

[2020-11-21 00:52] mariusu-msft commented on #117
We are waiting for Azure SDK to publish multiple Specs to Trunk. That should happen Monday or Tuesday next week.

[2020-11-21 01:16] sankum-msft commented on #115
I will investigate this next week.

[2020-11-21 01:22] terrychen1122 commented on #117
awesome, thank you. Will keep an eye on that.

[2020-11-21 13:01] #91 closed

[2020-11-22 18:39] lanierc opened #118 "[Typescript] "Window undefined" error on server when calling both CallClient + LocalVideoStream"
**Describe the bug**
If you import `CallClient` and `LocalVideoStream` of `@azure/communication-calling` package and write the code, a window undefined error occurs on the server side when running.

**To Reproduce**
Steps to reproduce the behavior:
In React:
[code]

**Expected behavior**
Importing both should not cause error.

**Additional context**
In order to avoid this currently, `CallClient` a

[2020-11-22 19:17] eliaspuurunen opened #119 "Web: Remote user display name not available on first call answer"
**Describe the bug**
When a user answers an incoming call, their display name (as set by callAgent.updateDisplayName) is not sent to the remote party.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a user start a group call.
2. Invite another user to the group call.
3. Set display name via callAgent.updateDisplayName on remote user
4. Accept the group call on the remote user.

**Expect

[2020-11-22 19:23] mariusu-msft commented on #119
Hi,

@eliaspuurunen thanks for your report. We are working on fixing this and providing a better interface for displayName.

It should be available in the next release. DisplayName will be immutable for a CallAgent session. cc: @ashishvirani7

Keeping this open until new functionality is available.

Meanwhile for your issue I believe there’s a workaround available. @akania can you help?

Thanks,
M

[2020-11-22 19:25] mariusu-msft commented on #118
Hi,

Currently the library only works in browser environments, and window is required to access WebRTC browser APIs.

Can you describe what functionality you are looking for from a Node.JS SDK?

Thanks,
Marius

[2020-11-23 06:37] devgokhan commented on #116
Hi @mariusu-msft thank you. We will be waiting next release to use this feature then.

[2020-11-23 08:48] nielscup commented on #98
@mariusu-msft  Could you please share your swift project?

[2020-11-23 16:07] mariusu-msft commented on #98
@nielscup we’re unable to send the project as is right now. We’re planning to have a push notification E2E sample on GitHub in the next few months.

Do you still have issues with push notifications?

Let me know which part you are having trouble with and I’ll try to see if we can extract some code bits to share.

[2020-11-23 17:13] mariusu-msft commented on #113
Hi,

@devgokhan we will be releasing a fix for this today.

Thanks for your report.

-Marius

[2020-11-23 20:13] eliaspuurunen opened #120 "Web: Two participants on group call cannot see each other's video"
**Describe the bug**
When two people are connected to a group call, they cannot see each other's video.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a group call, and invite a remote user
2. Have remote user accept the invitation
3. Make sure both users have a camera selected

Result: no video seen by either party. Switching cameras, stopping video has no effect.

Hopefully some of

[2020-11-23 20:27] eliaspuurunen commented on #120
More information:

When the remote user connects, the log looks something like this:

[code]

At this point, the videoStreamsUpdated event fires. Both the ScreenSharing and Video streams are removed.

Having the remote user switch off and switch on camera does not restore these streams. The remote stream array remains empty for the rest of the call.

[2020-11-23 20:28] eliaspuurunen commented on #109
We've experienced this too. In our case, if the camera is in use and you select another camera, the SDK doesn't actually display the newly selected camera. We have to refresh the page and select the not-in-use camera. Happening on Chrome, Windows 10.

[2020-11-23 20:29] eliaspuurunen commented on #68
We are still seeing existing behavior - if a group call has 1 member left, it is ended.

[2020-11-23 20:44] mariusu-msft commented on #68
Reopening while investigating.

@eliaspuurunen can you confirm you are running latest library on all endpoints

Please share a call Id for investigation please.

[2020-11-23 21:23] eliaspuurunen commented on #68
Call ID: "732d8000-c887-42bc-8b47-c879056464c2"

Confirmed latest library on all web endpoints and server too.

[2020-11-23 22:40] mariusu-msft commented on #85
This should be now fixed. Please reopen if you encounter same issue again.

[2020-11-23 22:40] #85 closed

[2020-11-23 22:41] mariusu-msft commented on #96
This should now be fixed. Closing, please reopen if you encounter same issue again.

[2020-11-23 22:41] #96 closed

[2020-11-23 22:42] mariusu-msft commented on #113
@devgokhan please give the latest release a try and let us know if it fixes your issue.

[2020-11-23 22:58] mariusu-msft commented on #68
@eliaspuurunen this seems to be a different issue than before. We're investigating.

Meanwhile - you please provide a snippet of how you are establishing the group call? There seems to be something weird about how the call is being set up.

[2020-11-23 23:43] chriswhilar commented on #120
Hi @eliaspuurunen, can you please also provide us with a snippet of your code to see how you are handling the streams?

Also as a reference, you can refer to our web calling tutorial sample. I has code examples on how to handle video streams: https://github.com/Azure-Samples/communication-services-web-calling-tutorial

[2020-11-24 05:54] devgokhan commented on #113
Hi @mariusu-msft how can I download latest release. I can't see any information anywhere?
https://github.com/Azure/Communication/tree/master/releasenotes
https://github.com/Azure/Communication/tags

I saw beta 6 4 days ago.. Do you mean this?

[2020-11-24 06:55] mariusu-msft commented on #113
@devgokhan, beta.6 was published today. Yes that's the latest.

You can grab it from https://github.com/Azure/Communication/releases/tag/v1.0.0-beta.6 or from Cocoapods with the spec you used. The podspec has been updated .6, so `pod update` should download .6 for you.

[code]

Note the bug fix in the release notes:
`Info.plist has version following semantic version schema for CFBundleVersion and

[2020-11-24 10:00] FlapperA commented on #72
Hi Marius,

I tried several times to send you an email to that address, but it looks like it bounces all the time.

[2020-11-24 10:53] ozanurkn opened #121 "I can't choice my meeting output voice."
Hi,

When i join a meeting, i can't choice speaker from output. It has just default output. I tried with headphone. It is working but i need to change output voice like speaker. Is it possible?

`deviceManager.getSpeakerList().size` equal 1. this is default option.

thanks.

[2020-11-24 13:10] devgokhan commented on #113
Hi @mariusu-msft. Latest release fixed this problem. We successfully uploaded to the App Store. Thank you

[2020-11-24 13:10] #113 closed

[2020-11-24 19:38] mariusu-msft commented on #121
Hi @ozanurkn,

On which platform is this? Android?

Thanks,
Marius

[2020-11-24 19:40] ozanurkn commented on #121
Hi @mariusu-msft , my platform is Android.

Thanks.
Ozan

[2020-11-24 20:17] sankum-msft commented on #106
We've released [beta6](https://github.com/Azure/Communication/releases/tag/v1.0.0-beta.6) that should fix this issue.

[2020-11-24 20:18] mariusu-msft commented on #106
Closing. Please let us know if you see any more issues related to this.

[2020-11-24 20:18] #106 closed

[2020-11-24 20:19] sankum-msft commented on #95
We've released [beta6](https://github.com/Azure/Communication/releases/tag/v1.0.0-beta.6) that should fix this issue.

[2020-11-24 20:26] mariusu-msft commented on #95
Closing. Please let us know if you encounter this problem again.

[2020-11-24 20:26] #95 closed

[2020-11-24 20:27] sankum-msft commented on #107
Created enhancement work item AB#2319476

[2020-11-24 22:46] sankum-msft commented on #111
Hi @terrychen1122, I was not able to repro this issue using iPhone XS or simulator.

From the description, it seems like the `Renderer` wasn't disposed off properly. Please note that you need to dispose `Renderer`s for both incoming video and preview of local video, if you have one. After hangup, if you still see the green dot in iPhone's status bar (which indicates camera is in use), that would m

[2020-11-25 04:27] mariusu-msft commented on #117
https://github.com/CocoaPods/Specs/blob/a3d59f7f97f398a5196e039bd71f9c2eb0394143/Specs/f/c/c/AzureCommunicationCalling/1.0.0-beta.6/AzureCommunicationCalling.podspec.json

This has been published to CocoaPods Specs repo. It may take a couple of days to show up on https://cocoapods.org/

Closing issue

[2020-11-25 04:27] #117 closed

[2020-11-25 08:46] nielscup commented on #98
1) CallAgent.HandlePushNotification() returns an error: "failed".
2) Another problem I have is that the CallId coming from the voip notification is different from the CallId I see in the ACSDelegate. This makes it difficult to manage callkit. Is this by design?

[2020-11-25 08:56] raosanat commented on #98
Having logs will help to investigate further. We have sent instructions on how to fetch the logs in previous comments.

[2020-11-25 12:48] nielscup commented on #98
@raosanat Logs: https://1drv.ms/u/s!Ar7iCD_v5seIltFWkUrP-WZnOLjQBA?e=YL05ns

[2020-11-25 19:45] ryanespiritu commented on #111
Hi @sankum-msft, thank you for your response. I just double checked and we are indeed disposing both the local and remote participant video renderers upon hangup of a call. The green dot also disappears once we exit the call.

I wasn't sure which `.blog` file would be the most helpful, so I've attached all of the ones in my app container:
[ACS_logs.zip](https://github.com/Azure/Communication/files

[2020-11-25 21:20] raosanat commented on #98
@nielscup thanks for the logs. I see that call to API `handlePushNotification` is failing  because a `Call` object for that payload was already created. When are you calling the API `handlePushNotification` ?

Also before reproducing the issue again:

1. Uninstall the app.
2. Reproduce the issue again.
3. Attach the blogs again here.

[2020-11-26 07:25] ozanurkn commented on #115
Hi, my code is working now with beta.2. I will check all think and approve beta.4 version.

Thanks.
Ozan

[2020-11-26 07:44] nielscup commented on #98
Does this mean ACS is not working on your end as well? Otherwise making an example shouldn't take a few months. If so I will continue with something else because this is taking too long.

[2020-11-26 07:55] raosanat commented on #98
From the logs it looks like delegate on ACSCallClient should have got the incoming call event notification . The false returned from handlePushNotification is an incorrect one, we should return True, that’s the bug on our side.
 But functionality wise incoming call notification , at-least according to the logs, should be working as expected.

[2020-11-26 08:51] nielscup commented on #98
I receive the voip notification, so that works. HandlePushNotification fails, as mentioned above.

How about point 2 from my previous post?

[2020-11-26 09:13] devgokhan opened #122 "[iOS] Unable to close local video stream, other people in meeting still see me even my camera is closed locally"
Hi. I am testing beta6.
We are unable to close local video stream.We are able to close local video render and I can successfully remove it from myself. However other people in meeting still able to see me even I close the video.

Here is my code:
[code]

[2020-11-26 09:25] mariusu-msft commented on #122
@devgokhan by doing

`let localVideoStream = LocalVideoStream(camera: firstCamera)`

you are creating a new local video stream, and then on following line

`call.stopVideo(stream: localVideoStream...`

you try to stop it.

From the same camera, you can have multiple instances of `LocalVideoStream` running in parallel.

You must stop the same instance as the one you passed to `start`.

Can you pers

[2020-11-26 09:42] raosanat commented on #98
1. If your app is in foreground and when there is incoming call , are you receiving  incoming call notification event (without making the registerPushNotification or handlePushNotification API calls) ?

2. Also please can you send us the logs after uninstalling the app and reproducing the scenario? In the previous link you sent there were multiple logs and it is difficult to say which logs corresp

[2020-11-26 09:49] devgokhan opened #123 "[iOS] Remote Participant Count Unable To Updated Sometimes"
We are testing Beta 6. When we tried, at the beginning we saw that we could't see anybody (no remote video available and remote participant count was zero) in a meeting, but our voices was available and we could hear each others. We couldn't do anything until it is fixed, we were unable to see eachothers, couldn't see the display names and also we could not understand how many people in the meetin

[2020-11-26 10:02] devgokhan commented on #122
Hi @mariusu-msft. Thank you for your fast answer. Yes you are correct, sorry about that this is my mistake.

I resolved the issue with storing local video stream in self. Code is:

[code]

[2020-11-26 10:02] #122 closed

[2020-11-26 10:07] mariusu-msft commented on #122
No problem. Thanks for all the feedback so far!

[2020-11-26 10:11] devgokhan commented on #123
I can share group id if you need. We started meeting around 11:48 GMT +3 (26.11.2020)

[2020-11-26 10:55] devgokhan commented on #123
We did new test today. Started at 13:40 GMT 3.. My friends started testing. There was 2 person was testing however they couldn't see each others. They were hear each other but remote participant was not updated and cameras disabled. Then I joined some minutes after.  Then remote participant seems fixed we were see some people camera videos. Anyway I also joined in web demo with this way 4 person w

[2020-11-26 11:51] ozanurkn opened #124 "Fatal Exception: java.lang.UnsatisfiedLinkError"
Hi,

I published my application apk from Firebase App Distribution. I saw a crash a device from firebase crashlytics.
This crash;

`Fatal Exception: java.lang.UnsatisfiedLinkError
No implementation found for com.azure.communication.calling.status com.azure.communication.calling.NativeLibrary.sam_call_client_create(com.azure.communication.calling.Out) (tried Java_com_azure_communication_calling_Nat

[2020-11-26 14:52] nielscup commented on #98
Were there any updates today? I cant even make a call anymore. Device is ringing but as soon as I answer the call, callstate is updated to None from ACSCallDelegate  and participant is removed. This was working fine this morning.

[2020-11-26 16:26] nielscup commented on #98
I recieve a voip notification as well as the event from ACS in OnRemoteParticipantUpdated when running the app in foreground. The pushnotification triggers callkit, which is required by apple otherwise the app is killed by iOS. So the Callkit is triggered with a different callId than the one is coming in via OnRemoteParticipantUpdated.

I am unable to make a second call: Immediately after answerin

[2020-11-26 18:10] mariusu-msft commented on #98
Hi @nielscup,

Any reason you are looking at OnRemoteParticipantUpdated for callId?

Call Id is best to get from the Id property of the Call object, and use OnCallsUpdated event to be notified of new calls.

Regarding the failure when you answer, that is not a expected. Seems there are two issues here:
1) when you process HandlePushNotification; you get back Failed, this is due to a race condition

[2020-11-27 06:58] devgokhan commented on #123
I was testing with simulator and device together before. Then we could start releasing testing packages in test flight. Then my other colleagues started testing. Anyway we were testing with same token, because we hadn't token changer api. Then oapi developers created one and started testing with different tokens per device. Seems it is fixed. Problem must e causing because using same token. We are

[2020-11-27 23:00] lanierc commented on #118
Hi Marius,

Sorry for the late reply. Currently we are using React with SSR to load into the component that contains the video call. This above import behaviour causes this `Window undefined` issue, which, as you said, is required for ACS to run properly. The only way currently we've found to circumvent this issue is to lazy load each import into functions where they are needed. It would of course

[2020-11-28 12:29] i-mahmud opened #125 "Android app crashed on 2nd call initiation"
I implemented the android sdk on an app and it functioned properly on the first attempt. After the call is disconnected when ever another attempt is made to establish call the app crashes with the following error:

A/libc: Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x0 in tid 21750 (pool-13-thread-), pid 21323 (tmemos.inpocket)

please let me know if the error is related to ACS sd

[2020-11-30 14:01] devgokhan opened #126 "[iOS] Unable to hangup if connection lost - completionHandler is not working correctly"
I wrote the below code to dismiss page after hangup.
Anyway if connection successfully continues and then I press hangup I can handle all the business code correctly. However if I close my internet connection, then if I press hangup I can't handle the business here..

Yeah probably I can dismiss immediately after call hangup without waiting it, however I don't think that it is correct usage.
My ex

[2020-11-30 19:07] sankum-msft commented on #115
Happy to know that you are unblocked. If possible, please share what you were doing wrong for future reference.

I'm closing this issue as you are unblocked now. Feel free to re-open if issue persists.

[2020-11-30 19:07] #115 closed

[2020-11-30 19:32] ryanespiritu opened #127 "[iOS] ACSRendererView layout is off after a device rotation"
**Describe the bug**
Using autolayout to update the constraints of an `ACSRendererView` after a device rotation seems to update the `frame` correctly (verified this by checking to see if the `height` and `width` values were what I expected). However, visually, the `ACSRendererView` is not adhering to the new frame/constraint values; it overflows and looks off after a device rotation.

**To Reprodu

[2020-11-30 23:56] terrychen1122 commented on #127
From my testing, this issue also exists with manually changing the frame when rotation happened (regardless auto-layout)

[2020-12-01 12:12] devgokhan opened #128 "[iOS] Video freezing in landscape mode"
Hi. My app orientation settings is Portrait only. When I rotate my phone 90 degree (to landscape orientation) my video is freezing in other participants. After rotate 90 degree again (to portrait orientation) my video is back and continues normally.  My local video still works in portrait and landscape orientation however other people can't see me, in their remote participant view my video is free

[2020-12-01 13:01] nielscup commented on #98
Thanks, I ll try using `OnCallsUpdated`. The reason I use `OnRemoteParticipantUpdated` because `OnCallsUpdated` doesn't fire when joining group, `OnRemoteParticipantUpdated` does.

Another thing I noticed: in `call?.Hangup(hangupOptions, OnHangup);` `Onhangup` is not fired when callState = `ringing`.

[2020-12-01 14:29] devgokhan opened #129 "[iOS] Bitcode error in architecture arm64"
I am able to build the code with bitcode when debugging in simulator. However if I archive the project to upload new package to the App Store or debug in device, then this error occurs:

`.../Pods/AzureCommunicationCalling/AzureCommunicationCalling.framework/AzureCommunicationCalling' does not contain bitcode. You must rebuild it with bitcode enabled (Xcode setting ENABLE_BITCODE), obtain an updat

[2020-12-01 23:02] sankum-msft commented on #111
In your app, you are sharing a `LocalVideoStream` object between multiple calls. There is a bug in `LocalVideoStream` where it doesn't start properly in this re-use case. I've opened an internal bug ( AB#2325309 ) to get this fixed. For now, workaround is to create/destroy LocalVideoStream when you start/end a call.

Please confirm that the workaround works for you.

[2020-12-01 23:10] sankum-msft commented on #127
Thanks for reporting the issue @terrychen1122 !

I was able to repro this in a more general form - resizing `RendererView` doesn't actually resize/reposition the drawing area. I have opened a bug (AB#2325318) on our board to get this fixed.

[2020-12-02 00:55] sankum-msft commented on #128
Thanks for reporting this issue @devgokhan . I was able to repro this and have opened an bug (AB#2325411) to get this fixed.

[2020-12-02 07:01] #120 closed

[2020-12-02 08:11] devgokhan commented on #126
This is probably thread problem or dispose problem.. I am sharing logs and full code with you;

Logs:
[code]

Code:
[code]

There is nowhere calls dismiss method except close().. As you can see it is too strange that  "Screen dismissing" log shown after internet reactivate (some more seconds after).  I also tried with removing DispatchQueue.main.asyncAfter(deadline: .now() + 0.2).. Result is same.

[2020-12-02 10:10] nielscup commented on #98
Another issue when I use hangup while ringing: `call.Hangup(hangupOptions, OnHangup);`
The call is ended on both devices but `OnHangup` does not fire. I can work around this by firing `OnHangup` manually when call state is ringing, but if I do this a second time, hangup does not work anymore, the (ringing) call is not ended at all.

Maybe related to this issue?: https://github.com/Azure/Communicat

[2020-12-02 23:56] raosanat commented on #129
We do not support Bitcode at the moment. But we do have plans to support Bitcode in the future. But it may be post-GA. We will keep you posted. @RinaRish can you please create a card for this ?

[2020-12-03 06:21] kagbakpem commented on #125
hello @i-mahmud, can you please reproduce the issue again and send us a recent call id, a stack trace if possible as well as logs from your app?
Call id and logs can be obtained by following [these instructions](https://docs.microsoft.com/en-us/azure/communication-services/concepts/troubleshooting-info?tabs=csharp%2Candroid%2Cdotnet)

Thanks

[2020-12-03 06:23] kagbakpem commented on #124
hello @ozanurkn,

Our SDK currently supports x86_64 and arm64-v8a ABIs. Is it possible you're trying to use the SDK on a non supported ABI, like x86 or armeabi-v7a?

Thanks

[2020-12-03 06:26] kagbakpem commented on #104
@kdhuynh, apologies for the delay. I was able to reproduce the issue on x86_64 simulator. We're currently looking into it and will keep you posted on our findings.

Thanks

[2020-12-03 07:29] tompi commented on #124
This seems like the exact issue reported here:

https://github.com/Laerdal/Xamarin.AzureCommunicationCalling/issues/10

He got this on a galaxy note 8, LG Q5 and emulator, and I havent been able to repro or figure out whats happening...

[2020-12-03 08:21] ozanurkn commented on #124
I found that issue. He got LG Q6 and it's android sdk version is 24. ACS support min sdk 26. I am thinking about that.

Thanks.
Ozan

[2020-12-03 08:52] ozanurkn opened #130 "(Android)When i lost my internet connection nothing happen"
Hi,
When i click to open the airplane mode, all video streamming was stopped. thats fine but i know nothing. cause ACS not response to me like CallState. I am thinking disconnected state will be call or maybe can add a new state in callstate for connecting loss state.

After that when i click to close airplane mode, video streamming not resume again. Is this possible provide to resume again.

Than

[2020-12-03 08:56] mariusu-msft commented on #130
How long are you waiting for to get the call state change?

It may take upwards to 30s to 1minute.

When you disconnect from network we continue trying to send/receive media and reconnect you back for about a minute.

We’ll try to reproduce this and see what is happening. Can you let us know what you are after 30+ seconds?

Thanks,
Marius

[2020-12-03 16:28] vovanb opened #131 "Azure Communication Service with Bot service"
Idea is to get handling on incoming calls/chat using some flow designer. Get Voice/Chat Bot for incoming call treatment.

I want to connect Azure Communication Service with Azure Bot service. Is it possible to connect Azure Communication Service with MS BOT Framework to manage Voice (IVR) and chat flows?

[2020-12-03 17:06] kagbakpem commented on #124
@ozanurkn, ACS Calling SDK support Android SDL level 21 as minimum. So that shouldn't be the issue. Are you saying you solved the issue? If so, how? Please share your findings.

Thanks

[2020-12-03 21:17] ryanespiritu opened #132 "[iOS] ACSRendererView is blank when not added to the window right away"
**Describe the bug**
Creating an `ACSRendererView` but not adding it to the window right away results in a blank rendering for the view when it is eventually added to the window.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an `ACSRendererView`
2. Do not add the view to the window right away (I delayed ~5s in my local testing)
3. Add the `ACSRendererView` to the window
4. Observe t

[2020-12-03 21:47] ryanespiritu commented on #111
Hi @sankum-msft thanks for your help, I've verified that this workaround fixes the issue for us

[2020-12-04 09:56] devgokhan opened #133 "[iOS] Client needs to send last status after re-connect"
If I close my internet connection then if I mute my microphone and then reconnect, remote participant sees my microphone still open.

Also, I saw once time I do same thing with closing my camera, I closed my internet then closed my camera and then reconnect I saw that camera is frozen.. Camera issue happened before not currently happens. But I wanted to inform you.

I think if client is lost inter

[2020-12-04 10:22] devgokhan opened #134 "[iOS] Remote participant is still available after hangup/disconnect"
I am tried this with 2 iOS device.
Both cameras was open I called hangup to leave from meeting in first user. First user locally disconnected and closed the meeting ViewController successfully. However second users sees that first user still in the meeting and camera is frozen. Anyway I hangup the second user then this user left from meeting and then I rejoined the meeting with second user. I see

[2020-12-04 10:27] raosanat commented on #134
Hi @devgokhan thanks for reporting the issue. But is it possible to attach the logs as well ? so that we can get information on the CallId and the order in which the API’s were called and other relevant information.

[2020-12-04 10:32] devgokhan opened #135 "[iOS] Everything getting weird after weird hang up/disconnect"
I tried too much ACS meeting these days and I am still in development. In my some tries when I press hang up after that somethings getting weird. Normally if I press hang up, then app closes in a second and then I can rejoin again. However sometimes when I press hang up, I it takes more longer to do this (maybe 2-3 seconds) and everything started getting weird. If it happens I can't rejoin again u

[2020-12-04 10:34] devgokhan commented on #134
Hi @raosanat, which logs do you mean? How can I send this logs to you how can I reach them?

[2020-12-04 10:42] raosanat commented on #134
Here are the instructions

https://docs.microsoft.com/en-us/azure/communication-services/concepts/troubleshooting-info?tabs=csharp%2Cios%2Cdotnet#enable-and-access-call-logs

You can upload the logs to one drive and send us the link?

[2020-12-04 12:28] devgokhan commented on #134
Hi @raosanat, this problem happened in other device device that I didn't install the app via cable in debug mode, I was installed the app from TestFlight.. Because of that I am unable to see my app in the list of "Installed Apps".

I tried to face this error in my other second device, which I install with cable in debug mode, however it is not happened. But I remember that this problem happened in

[2020-12-04 21:53] raosanat commented on #134
Hi @devgokhan I tried to reproduce this with our internal app and i was not able to repro the issue. Following is what i did
1. Logged in from my 2 iPhones.
2. Both of them joined a group.
3. 1st user disconnects from the group call and 2nd user is still in the group call but does not see any video from the 1st user, as expected.
4. 1st user again joins the same group call and 2nd user can see tha

[2020-12-04 23:08] raosanat commented on #126
Hi @devgokhan . Following are the steps i followed to repro the issues

1. Logged on 2 iphones.
2. Both users join a group call.
3. 1st user i have put a break point when hangup button code gets called and before `call.Hangup` is invoked on 1st user.
4. I pressed hangup button , break point is hit , I put the 1st phone in airplane mode.
5. Then i did continue and now hangup API completely runs wit

[2020-12-04 23:44] #129 closed

[2020-12-07 06:46] devgokhan commented on #134
Hi. Actually I saw that twice time happened in my one device which is installed from TestFlight. However I am unable to send this device logs to you that's why explained it before above. But I will try to debug it via cable and try again. I hope problem happens again.

Anyway, this is my group id that I faced the issue;
b132ac00-307f-11eb-8d17-735c039966b1
Problem happened 3 days ago, probably aro

[2020-12-07 06:53] ozanurkn commented on #124
@kagbakpem i read doc. I saw there. I was thinking about min sdk version.

https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/voice-video-calling/getting-started-with-calling?pivots=platform-android

"Select Minimum client library of "API 26: Android 8.0 (Oreo)" or greater."

thanks.
Ozan

[2020-12-07 06:55] devgokhan commented on #126
Hi @raosanat please put the phone in airplane mode first and then press hang up button please. Problem happens calling hang up when phone is offline.

Note: In my code hang up button is also has close screen ability. I mean call ends or can't ends I want to force to dismiss ViewController. In this case I think that ACS ignores me to that but I have to that because if internet goes user must have a

[2020-12-07 08:00] devgokhan commented on #134
Hi again. Today I tried again.
In my device first I removed the app and reinstall it again then I tried this problem not yet happened. I tried a lot of time but never reproduced..

Anyway, at the same time I was trying in simulator as second particapant. Problem occurred in simulator when I pressed hang up. Application is freezing second or third press of hang up (join close + join close + join cl

[2020-12-07 08:04] raosanat commented on #126
That's exactly what i did, phone is in airplane mode before `Hangup` is called on the SDK and also while the `Hangup` is executing within the SDK. Please confirm that order of the steps executed above matches with what you are facing. Also we will need the client side logs and the CallId.

[2020-12-07 08:57] i-mahmud commented on #125
First call id: 03246292-b7cd-4c19-ab9a-cba8f3570a9f
This call was successfully initiated and ended.

On initiating the next call this was the log:
I/EventStreamHandler: ✅ sink is not null
D/Ringtone: Successfully created local player
V/MediaPlayer: resetDrmState:  mDrmInfo=null mDrmProvisioningThread=null mPrepareDrmInProgress=false mActiveDrmScheme=false
    cleanDrmObj: mDrmObj=null mDrmSessionI

[2020-12-07 10:37] raosanat commented on #134
Hi @devgokhan Can you confirm that freeze is happening because the  completion handler on `Hangup` is not being invoked by the SDK ? I will try to reproduce this tomorrow, Thanks.

[2020-12-07 12:12] vscherban opened #136 "Participant tile is visible for 2 minutes after patients leave from the call"
1.Join to the call with 3 patients
2.Join as a provider
3.1 patient leaves the call by closing the browser.
Expected result: Patient's video disappears with the related tile, after short time duration
Actual result: Patient's video is gone but tile remains for almost 2 minutes

![image](https://user-images.githubusercontent.com/19576040/101349578-905b1600-385b-11eb-80bd-d8fd6de45a43.png)

So here

[2020-12-07 12:17] ozanurkn commented on #130
hi, when i open airplane almost after 30sec state changed as None.

Thanks.
Ozan

[2020-12-07 13:22] devgokhan commented on #134
Hi @raosanat  I am not sure it is happening in completion handler or not. But I can say it happens when hangup is called. I wanted to try again to find is it happening when the call method or is it happening after call inside completion handler, I tried again. Anyway, thankfully problem, that I firstly reported, happened again. I pressed hangup, then everything getting strange. And then I was unab

[2020-12-07 13:52] devgokhan commented on #126
It is so strange that if I try with your suggested code, meeting was able to close that I expected..
Code:

[code]

If I try with my code that I shared above every time problems that I explained above happens.  Probably some item dispose calls occurs this problem when if I call this method offline. I think somethings calls before hangup, occurs this problem:
[code]

Can you try with my code too? E

[2020-12-07 17:43] kagbakpem commented on #124
Thanks, @ozanurkn. Will close this as its resolved now. If you have further questions, feel free to reach out.

[2020-12-07 17:43] #124 closed

[2020-12-07 18:46] akania commented on #136
@vscherban thank you for reporting, can you please repro and gather 'call id' ( https://docs.microsoft.com/en-us/azure/communication-services/concepts/troubleshooting-info?tabs=csharp%2Cjavascript%2Cdotnet#access-your-call-id )

I couldn't repro - I've tested locally with ACS user in a meeting with 2 other Teams users, ACS user closed the browser and he was immediately removed from Teams meeting

[2020-12-07 18:54] kagbakpem commented on #125
@i-mahmud, can you please send over the call log as well. Instructions to obtain the call logs are located [here](https://docs.microsoft.com/en-us/azure/communication-services/concepts/troubleshooting-info?tabs=csharp%2Candroid%2Cdotnet#enable-and-access-call-logs).

[2020-12-07 23:53] raosanat commented on #134
Thanks for the logs @devgokhan . We might have found out the issue that causes after `Hangup`. Some of the other issues you reported could be related because of the same bug. We will keep you updated. Also please do attach the logs for the bugs you report like this one. Thanks

[2020-12-08 01:43] sankum-msft commented on #134
@devgokhan For the time being, can you please try disposing `Renderer` objects before calling `hangup()` as a workaround for this issue?

[2020-12-08 07:08] devgokhan commented on #134
Hi @sankum-msft , actually I am doing this already?

`
private func close() {
      print("Meeting -> Closing..")
       if self.remoteParticipants.count > 0 {
           for item in self.remoteParticipants {
               item.delegate = nil
           }
       }
       self.remoteParticipants.removeAll()
       self.call?.delegate = nil
       self.timer?.invalidate()
       self.timer = nil

[2020-12-10 12:37] nielscup opened #137 "Hangup completionHandler not executed if State == ringing"
**Describe the bug**
If you hangup a call that is ringing, Hangup completionHandler is not executed

**To Reproduce**
Steps to reproduce the behavior:
1. Start call
2. Hangup call while ringing
3. **Result:** Hangup completionHandler is not executed

**Expected behavior**
Hangup completionHandler should be executed in order to cleanup and dispose the call, video, etc.
**Additionally:** If I make a

[2020-12-11 01:24] akania commented on #136
I was able to repro - by closing the browser, patient prevents our SDK to send last terminating request to our platform, without that we'll keep user as part of the call roster for full 2minutes - only after that service will remove user from the roster.
Currently this is desired behavior on ACS side and can't be changed.

As a workaround I'd suggest to try and utilize onunload and/or onbeforeunlo

[2020-12-14 19:35] mehrandvd commented on #47
We have the same problem here:

**Desktop:**
 - OS: Windows 10
 - Chrome: 87.0.4280.88 (Official Build) (64-bit)

**Mobile:**
 - Xiaomi: Redmi 8A
 - Chrome: 86.0.4240.198

And it's really annoying...

[2020-12-14 22:21] ryanespiritu opened #138 "[iOS] ACSRendererView is blank after returning from background"
**Describe the bug**
The `ACSRendererView` of a remote participant is blank after returning from background.

**To Reproduce**
Steps to reproduce the behavior:
1. Join a call with another participant
2. Add the remote participant's `ACSRendererView` to the window/view hierarchy
3. Background the app
4. Once `UIApplicationWillResignActiveNotification` is received, dispose and release the `ACSRender

[2020-12-15 10:35] nielscup opened #139 "ACSCall.IsIncoming = false for an incoming call"
**Describe the bug**

ACSCall.IsIncoming is only true when ACSCall.State = Incoming. I would expect IsIncoming to be true for an incoming call regardless of the ACSCall.State, what is otherwise the purpose of the IsIncoming property?

[2020-12-16 01:37] sankum-msft commented on #138
Are you creating a new `Renderer` and `RendererView` for the `RemoteParticipant` when app comes to foreground?

[2020-12-16 19:34] rdweaver commented on #119
I'm running into this issue as well. When is the next release? Any updates? @mariusu-msft @ashishvirani7 @akania

[2020-12-16 20:16] mariusu-msft commented on #119
@rdweaver today for JS SDK and in next couple of days for iOS and Android

[2020-12-16 20:21] sankum-msft commented on #134
We've identified a bug in `Renderer` disposal where video object is not cleaned up properly if disposed too early. This snowballs into call connectivity issues as a thread is waiting for that to be cleaned up. I've opened an internal bug AB#2337884 to get it fixed.

[2020-12-16 21:46] raosanat commented on #137
@nielscup Are you calling the `Reject` or `Hangup`  in this case?
If call hasn't been answered you should call `Reject` instead of `Hangup`.

[2020-12-16 21:54] ryanespiritu commented on #138
Hi @sankum-msft, yes we are creating new `ACSRenderer`s and `ACSRendererView`s via the array of `ACSRemoteVideoStream`s owned by each `ACSRemoteParticipant`

[2020-12-17 04:19] miyamam opened #141 "SMS support in Japan"
Our customer in Japan would like to use SMS feature in Japan. Their system is IoT. When their system detects connected devices (NC lathe and other working machinery in factories) failure or something emergency case need to action, they would like to send SMS. __From the system architecture view, they would like to send SMS from LogicApps and Functions.__

But currently Communication Services is on

[2020-12-17 07:43] nielscup commented on #137
I am calling `Hangup` call in this case because I am ending an outbound call. According to [this documentation](https://docs.microsoft.com/en-us/objectivec/communication-services/calling/acscall) `Reject` is for an incoming call. And `Ringing` is the state of an outbound call, according to [this documentation](https://docs.microsoft.com/en-us/objectivec/communication-services/calling/acscallstate)

[2020-12-17 16:44] mariusu-msft commented on #139
Hi,

This is a bug, we’ll fix in a future release.

Thanks,
Marius

[2020-12-17 18:31] terrychen1122 opened #143 "[iOS] Volume is very low"
We've been playing around with the SDK for a while and we notice that in a group call, the sound volume of the remote participants on my phone is very low. Even though I change my device's volume to highest, I need to move my ears next to the speaker in order to hear the other participants' speaking. Is this a known issue? It seems it has been for a while.

Device:
iPhone 11 Pro

[2020-12-17 19:11] tompi commented on #143
I’m with you in calling this a bug. It’s not actually adjusting the volume, it’s switching which speaker is used from loudspeaker to ear speaker. Not logical for a video call if you ask me... my code waits for the call to be established and then switches back to loudspeaker...

[2020-12-17 19:16] mariusu-msft commented on #143
@terrychen1122 is your issue the same as @tompi is highlighting? By default the library only uses the ear speaker, you need to route audio to loudspeaker if you want to use loudspeaker.

You can do that by using `overrideOutputAudioPort`

https://developer.apple.com/documentation/avfoundation/avaudiosession/1616443-overrideoutputaudioport?language=objc

[2020-12-17 19:31] terrychen1122 commented on #143
@mariusu-msft let me verify and report back here.

[2020-12-17 19:37] mariusu-msft commented on #143
@tompi I agree that for group calls this behavior is not ideal, but the earpiece is the smallest common denominator and hence we default to it for all audio.

For the time being we expect applications to route audio correctly, to speaker or bluetooth, and in the future we will revisit the device manager once more and see if we can make the experience better, abstracting the OS primitives

[2020-12-17 19:46] tompi commented on #143
@mariusu-msft its the same for a one to one videocall isn’t it? Not a big deal to compensate for once you realize what’s happening, but I suspect you will get a lot of these issues

[2020-12-17 19:53] Prakulka commented on #141
Hi @miyamam, thank you for sharing your use case with us. We do have plans for expansion next year and more info on this will be available on this [page](https://microsoft.sharepoint-df.com/:w:/t/SpoolSMS/EQc8CJFY2lxHkJOu4rQsPSIBdRD1lUZxvdTRGsxYFgDUcA?e=gj82Jh).

[2020-12-17 19:53] #141 closed

[2020-12-17 20:13] mariusu-msft commented on #143
Correct. For 1:1 audio or video call we always start with earpiece and leave it up to customers to decide if bluetooth or loudspeaker must be used

[2020-12-17 23:41] terrychen1122 commented on #143
@mariusu-msft Yes, this is the same issue (Thank you @tompi). It works when I did this override before joining a call but it doesn't work after I've joined the call. But we will probably go with setting the `playAndRecord` category with `defaultToSpeaker` and `allowBluetooth` options since I don't think we would use earspeaker in our use case.

[2020-12-17 23:43] terrychen1122 commented on #143
@mariusu-msft Another question for you is we found when the phone was connected to AirPods, the `speakerList` from acs device manager only shows the airpods device but not the built-in speaker. Is it expected? And are the speakerList and microphoneList in device manager useful at all?

[2020-12-19 10:50] afshinalizadeh opened #144 "Web: deviceManager.getSpeakerList() return empty list."
The getSpeakerList return empty list. But getMicrophoneList and getCameraList return correct devices.

Device: Xiaomi Redmi 8
OS: Android 10
Browser: Chrome
Version: 87.0.4280.101

[2020-12-20 00:51] afshinalizadeh commented on #144
I saw setOutputDevice use setSinkId for set Speaker. But in "Android Chrome"  setSinkId is undefined.

[2020-12-22 09:01] afshinalizadeh commented on #144
I found this bug in javascript sdk.
@kagbakpem

[2020-12-23 06:57] burhanugur opened #145 "Web: Camera problem in case of internet connection loss"
Hello,

While the camera is on, the internet connection is disconnected and when the camera is turned on, the camera image of the other party seems to be closed, although the camera is on on both sides. When I turn the camera off and on again, it writes the following warning to the console

"azure: ACS: warning 12/23/2020, 9: 52: 23: 446 [CallClient] [JS.TsCalling.MediaAgentUnsafe] ffffffff: MA /

[2020-12-23 15:22] rdweaver opened #146 "callState changes to 'Hold' for both participants on a two party call"
**Describe the bug**
On a two party call (acs User1 calls acs User2), when either user puts the call on hold, the callState for both users changes to 'Hold'. Also both users are receiving a participantStateChanged event for the callState of the other user changing.

**To Reproduce**
Steps to reproduce the behavior:
1. acs user1 calls acs user2
2. user1 places the call on hold. then user1 and user2

[2020-12-23 18:52] mariusu-msft commented on #146
@rdweaver thanks for the report.

This is currently by design.

Do you have a scenario where it would be useful for user2 to show Connected?

[2020-12-23 19:00] kagbakpem commented on #144
Thanks @afshinalizadeh, re-assigning appropriately.

[2020-12-23 19:08] rdweaver commented on #146
I think it should work consistently whether there are two users or three users or more on a call.

[2020-12-26 11:30] i-mahmud commented on #125
[log.txt](https://github.com/Azure/Communication/files/5743022/log.txt)
The complete log is provided here.

[2020-12-26 12:11] i-mahmud commented on #125
[acs_sdk-0-151184888.txt](https://github.com/Azure/Communication/files/5743056/acs_sdk-0-151184888.txt)
please change the extension to .blog and view .

[2020-12-30 12:20] devgokhan opened #147 "[iOS] Unable to get latest release"
Hi. Unable to get latest version beta 7 according the link: https://github.com/Azure/Communication/releases

I was tried with first method:
[code]

then gave this error:
[code]

Then I tried with second way which recommended in tutorials:
[code]

it gives error:
[code]

We are unable to download it with this way too. There is nothing about beta.7. Cocoapods page (https://cocoapods.org/) show beta.

[2020-12-31 06:21] syamkp1986 opened #148 "Azure Communication Service calling/chat web application to electron app"
I have created an angular application for group calling purpose and it is working fine. I would like to convert this application to electron app which supported in multiple OS(Linux, windows and mac). As we know, the device controls (deviceManager) handled in azure communication service calling sdk itself , so we cannot handle it with normal electron js properties/functions. I know, we cannot crea