[2021-07-19 15:21] #104 closed

[2021-07-19 15:22] akania commented on #145
Closing as inactive @burhanugur if you're able to repro with latest SDK version ( 1.2.0 + ) please reopen and provide a call id and full log

[2021-07-19 15:22] #145 closed

[2021-07-19 15:26] jsaurezlee-msft commented on #281
This issue was resolved following these actions:

1. Logs from the the participant that switched the camera indicated that the camera switch was done correctly and the new camera started sending the new camera video to remote participants.
2. Remote participants got the onVideoStreamUpdated events with the old camera stream removed and the new one added. Closing the old stream and opening the new

[2021-07-19 15:32] #281 closed

[2021-07-19 15:38] mariusu-msft commented on #211
Closing since this seems to be resolved

[2021-07-19 15:38] #211 closed

[2021-07-19 16:03] mariusu-msft commented on #213
This is currently by design.

As long as a CallClient instance exists, and there are active Calls on the instance of CallClient, the Call object will be kept alive.

[2021-07-19 16:03] #213 closed

[2021-07-19 16:04] mariusu-msft commented on #212
Closing.

[2021-07-19 16:04] #212 closed

[2021-07-19 16:12] tomaschladek commented on #200
Hi @hemchudgar, were you able to resolve the issue? Is there anything we can do to help you onboard?

We will close this thread within a week if we don't hear back from you.

[2021-07-19 17:15] LoadLibrary commented on #72
@jwittner , the ACS Calling SDK does support UWP. Feel free to add https://www.nuget.org/packages/Azure.Communication.Calling as dependency of your UWP project. We also have a quickstart page that will help you with the integration https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/voice-video-calling/getting-started-with-calling?pivots=platform-windows .

[2021-07-19 17:38] mariusu-msft commented on #283
This should be fixed in latest beta release. @terrychen1122 please let us know if you continue to see this and reopen.

[2021-07-19 17:38] #283 closed

[2021-07-19 17:45] LoadLibrary commented on #294
Hi @guru98 , feel free to add https://www.nuget.org/packages/Azure.Communication.Calling as dependency of your UWP project. You may also find helpful the quickstart at https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/voice-video-calling/getting-started-with-calling?pivots=platform-windows to get your conferences up and running.

[2021-07-19 17:45] #294 closed

[2021-07-19 17:46] mariusu-msft commented on #270
Closing. @terrychen1122 please open up again if if you have any questions

[2021-07-19 17:46] #270 closed

[2021-07-19 17:49] mariusu-msft commented on #258
Hi @paulmarcsqr,

This should be fixed now in latest BETA releases for iOS and Android.

Thanks for your report.
-Marius

[2021-07-19 17:49] #258 closed

[2021-07-19 17:51] mariusu-msft commented on #275
@devgokhan please let us know if you are hitting this issue on latest BETA SDKs. Closing the issue.

[2021-07-19 17:51] #275 closed

[2021-07-19 17:53] ansrin commented on #292
We expect the above issue to be resolved, as all the pending tenants from our side are onboarded.
Please open a new issue ( with callId) if issue persists.

[2021-07-19 17:53] #292 closed

[2021-07-19 19:43] mariusu-msft commented on #187
Closing. This is now publicly available.

[2021-07-19 19:43] #187 closed

[2021-07-19 19:47] Leila-msft commented on #175
Hi wjvii, can you please clarify if this requirement is for inbound our outbound calls? ​
Also do you have the IVR setup already?
If so are you looking only for Text to Speech, DTMF and Speech to Text Responses?
What about Queueing an Routing?
It would be great if you provide a scenario of your workflow, so we can provide more  information.
Also i should add that Inbound DTMF is already supported

[2021-07-19 20:24] mariusu-msft commented on #76
Closing. This has been addressed in documentation.

[2021-07-19 20:24] #76 closed

[2021-07-19 20:44] mariusu-msft commented on #118
I believe you will have to decouple the rendering from SDK functions which require window, and ensure you load those directly into the Web App as dependencies that are not included into the React SSR project.

[2021-07-19 20:44] mariusu-msft commented on #118
I am closing this for the moment. Please reopen if you have more questions on this subject

[2021-07-19 20:44] #118 closed

[2021-07-19 21:03] mariusu-msft commented on #135
@devgokhan does this issue persist after our GA releases? Please let us know if you can repro this on latest SDKs. I will close this, please re-open as needed. Thanks for your report!

[2021-07-19 21:03] #135 closed

[2021-07-19 21:04] mariusu-msft commented on #149
Closing. @terrychen1122 @devgokhan please reopen if you are seeing the same issue again

[2021-07-19 21:04] #149 closed

[2021-07-19 21:31] raosanat commented on #152
@jpickardsqr We encountered the similar issue when adding support for CallKit within the SDK. In the latest beta version of the SDK of `CallAgent` is created with `createCallAgentWithCallKitOptions` then this issue is fixed. Otherwise if you want to integrate in the app,  then you need to call `call.accept` or placing outgoing call when `didActivateAudioSession` is invoked, otherwise audio priorit

[2021-07-19 21:32] akania commented on #157
closing - [documentation](https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/voice-video-calling/calling-client-samples) was updated,
Going forward ACS will provide an data layer that will make it easier to bind to

[2021-07-19 21:32] #157 closed

[2021-07-19 21:34] akania commented on #76
[Link to documentation](https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/voice-video-calling/calling-client-samples?pivots=platform-web#releasing-resources)

[2021-07-19 21:42] raosanat commented on #152
Please re-open the issue if the above solution does not work for you.

[2021-07-19 21:42] #152 closed

[2021-07-19 22:15] mariusu-msft commented on #193
@hyounoo the event is raised when there is sufficient audio activation from the remote participants.

Latest releases in BETA are less sensitive as we have enabled silence suppression.

Please let us know if you have more questions. Closing this.

[2021-07-19 22:15] #193 closed

[2021-07-19 22:26] mariusu-msft commented on #274
@devgokhan is this resolved now for you? Were you able to split the classes?

[2021-07-19 22:28] mariusu-msft commented on #280
@terrychen1122 this is not fixed in latest BETA releases.

Closing ticket. Please re-open if you continue to see this.

[2021-07-19 22:28] #280 closed

[2021-07-19 22:30] mariusu-msft commented on #297
This is now fixed in latest beta SDKs. Closing issue.

[2021-07-19 22:30] #297 closed

[2021-07-19 22:33] mariusu-msft commented on #304
@ankiarora this should be fixed in latest Android BETA release. Closing issue

[2021-07-19 22:33] #304 closed

[2021-07-19 22:41] mariusu-msft commented on #303
@hyounoo can you share a code snippet on how you are ending the call?

[2021-07-19 23:00] cwhil2492 commented on #148
Hi @syamkp1986, we currently do not officially support electron.

Can you please describe what is your electron setup/environment and how your trying to use the web sdk in your electron app?
Can you maybe upload your code to a repo and we can clone it and try it out?

[2021-07-20 17:28] Prakulka commented on #290
Hello @DeependraKhangarot , @baodinh, For insights on delivery, you will need to enable delivery reports. Here is the Quickstart on how to subscribe to delivery report events - https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/telephony-sms/handle-sms-events.

The 202 returned by the service means that your message has been queued to be sent and not delivered. Please check

[2021-07-20 17:29] #290 closed

[2021-07-20 22:00] kagbakpem commented on #319
This should be resolved now, @lpx1989. Can you please test on the latest SDK version: 1.2.0-beta.1 and re-open this if the issue persists?

[2021-07-20 22:04] kagbakpem commented on #331
@radulescuserban, the latest SDK [v1.2.0-beta.1](https://search.maven.org/artifact/com.azure.android/azure-communication-calling/1.2.0-beta.1/aar) was published today and should have a fix for this. Please try it out and let us know if the issue persists.

[2021-07-20 22:04] #331 closed

[2021-07-20 22:05] kagbakpem commented on #330
@radulescuserban, the latest SDK v1.2.0-beta.1 was published today and should have a fix for this. Please try it out and let us know if the issue persists.

[2021-07-20 22:05] #330 closed

[2021-07-20 22:08] kagbakpem commented on #322
@ankiarora, the latest SDK was published today, v1.2.0-beta.1. Please give it a try and let us know if this issue persists.

[2021-07-20 22:08] #322 closed

[2021-07-20 22:11] kagbakpem commented on #333
@Gemakk, this has been resolved in the latest version of the SDK 1.2.1-beta.1. Please give it a try and let us know if the issue persists.

[2021-07-20 22:11] #333 closed

[2021-07-20 22:14] kagbakpem commented on #217
@AmyL219, this should be fixed in the latest version, v1.2.0-beta.1. Please give it a try and let us know if the issue persists.

[2021-07-20 22:14] #217 closed

[2021-07-20 22:19] kagbakpem commented on #218
@AmyL219, this should be resolved in the latest version v.1.2.0-beta.1. Give it a try and let us know if the issue persists. Thanks

[2021-07-20 22:19] #218 closed

[2021-07-20 22:34] lpx1989 commented on #319
Sure I will do some testing with 1.2.0-beta.1 and update my testing result. @kagbakpem

[2021-07-20 22:41] kagbakpem commented on #207
@lanierc, thanks for reporting this issue. Can you please try this with the latest version of the SDK v1.2.0-beta.1 and report back if this is still a repro scenario? Thanks.

[2021-07-20 22:41] #207 closed

[2021-07-20 23:14] jsaurezlee-msft commented on #340
@radulescuserban This issue is resolved on our latest version v.1.2.0-beta.1. Give it a try and let us know if the issue persists. Thanks

[2021-07-20 23:16] #340 closed

[2021-07-20 23:31] lpx1989 commented on #319
`lling.RemoteVideoStream.OnVideoStatusChangedStaticHandler(RemoteVideoStream.java:100)
        at com.azure.android.communication.calling.NativeLibrary.sam_remote_video_stream_set_on_video_status_changed(Native Method)
        at com.azure.android.communication.calling.RemoteVideoStream.addOnVideoStatusChangedListener(RemoteVideoStream.java:121)
        at com.azure.android.communication.calling.R

[2021-07-20 23:33] lpx1989 commented on #319
After testing, I got error shown above. what I did is: join few participants from web clients into the call with the user from mobile client. let one of participant from web client share the screen. afterwards, stop the screen sharing. then the error was showing up. @kagbakpem

[2021-07-21 04:07] kagbakpem commented on #319
@lpx1989, which version of the SDK are you using?

[2021-07-21 23:25] juancamilor commented on #334
Thanks for the question @Dharm78
We don't have any widgets that have an integration between ACS chat and the botframework at the moment. There is an ongoing project that will allow users to bring bots to ACS via a new bot framework channel, but it is still in development, and won't include any UI components.
There is however a team building UI components for ACS. This may give you a good starting

[2021-07-21 23:25] #334 closed

[2021-07-21 23:40] juancamilor commented on #245
Thanks for the question @jhl0214
When the content type is set to 'html', there are sanitization functions on the service side that removed not allowed tags, including the src. You can just use 'Text' as the content type and the message will by carried unmodified end to end.
Let me know if you need further details.

FYI @ashwinder

[2021-07-21 23:42] #245 closed

[2021-07-22 01:59] juancamilor commented on #325
Thanks @GuidoNeele
The team is investigating the issue and will update this ticket once we have more details.

FYI @glorialimicrosoft

[2021-07-22 13:18] juancamilor commented on #223
Hi @hoangph271 .
We will be releasing a new feature soon where you can add metadata to your messages as a dictionary of key-value pairs, so you could use it in your scenario. The feature will be release in public preview in the next month.

[2021-07-22 13:18] #223 closed

[2021-07-22 13:55] juancamilor commented on #325
@GuidoNeele the team has identified the root cause and is working on a fix which we will hopefully release in the next couple of weeks. Thanks for the detailed description of the issue.

[2021-07-22 16:03] ryanespiritu opened #344 "[iOS] Unable to build/run Azure Communication Calling 2.0.0-beta.1"
**Describe the bug**
Unable to build/run Azure Communication Calling 2.0.0-beta.1

**To Reproduce**
Steps to reproduce the behavior:
1. Install AzureCommunicationCalling via cocoapods
2. Build/run app
3. Observe library loading error: `dyld: Library not loaded: @rpath/AzureCore.framework/AzureCore`

**Expected behavior**
Should be able to run application with AzureCommunicationCalling dependency w

[2021-07-22 16:09] ryanespiritu commented on #262
Thanks @mariusu-msft! What is the release version you are referring too. I'm still experiencing the issue on `1.1.0-beta.1`, however it looks like from the [bug fix notes](https://github.com/Azure/Communication/releases/tag/v1.1.0-beta.1) this should have been resolved in this version. Note, I haven't had the chance to verify things on the newest release (`2.0.0-beta.1`) yet because of this [build

[2021-07-22 17:00] mariusu-msft commented on #262
Reopening issue.

[2021-07-22 17:48] raosanat commented on #344
@ryanespiritu can you please manually add AzureCore as dependency for now. The reason is AzureCommunicationCommon dependency on AzureCore was removed in latest version and we a new Swift API extensions in AzureCommunicationCalling which was built with older version of AzureCommunicationCommon which relied on AzureCore. Even though AzureCore is not used its required for linking , we will fix this i

[2021-07-22 18:03] raosanat commented on #262
@ryanespiritu I have replied with a solution to the build issue in the other GitHub issue, please verify with the latest beta version and we will investigate if issue is still reproducible in that.

[2021-07-22 18:26] ryanespiritu commented on #344
Hi @raosanat thanks for your response. I've added AzureCore 1.0.0-beta.12 as a dependency but now see a new runtime error below:

[code]

[2021-07-22 19:17] raosanat commented on #344
Do you see the same thing on device or is it a simulator issue only ?

[2021-07-22 19:34] ryanespiritu commented on #344
@raosanat Same thing on device as well. (iPhone 11 Pro - iOS 14.4.2)

[code]

[2021-07-22 20:19] raosanat commented on #344
Which version of AzureCommunicationCommon are you using ? And you are not using CocoaPods right ?

[2021-07-22 20:19] raosanat commented on #344
cc: @JoshuaLai

[2021-07-23 09:18] mkambale commented on #344
@raosanat, @JoshuaLai in addition to this,  'AzureCore', '~> 1.0.0-beta.11' included, it still throws same error.

[2021-07-23 12:27] GuidoNeele opened #345 "[Feature request] ACS Chat active/inactive threads"
As ACS chat is currently implemented there are two type of threads:
1. Threads in which the user is a participant (active threads)
2. Threads in which the user is no longer a participant (inactive threads)

ACS doesn't make a distinction between the two when you request the threads via {endpoint}/chat/threads?maxPageSize={maxPageSize}&startTime={startTime}&api-version=2021-03-07 (https://docs.micr

[2021-07-25 07:43] yasheedv commented on #344
Facing same issue. Did you find any solution?

[2021-07-26 15:51] JoshuaLai commented on #344
As a work around can you try forcing `pod 'AzureCommunicationCommon', '1.0.0' `  run a `pod update` after that

[2021-07-26 18:49] raosanat commented on #344
There seems to be 2 problems here.

*1. Problem*

1. AzureCommunicationCommon had a breaking change in 1.0.1 which makes AzureCommunicationCalling not compatible with 2.0.0-beta.1 as AzureCommunicationCalling was was built with 1.0.0.

*Solution*
In your applications Podfile manually add this line for now
`pod 'AzureCommunicationCommon', '~> 1.0.0'`

As @JoshuaLai suggested above

*2. Problem*

1.

[2021-07-27 01:04] #306 closed

[2021-07-27 10:51] mkambale commented on #344
@raosanat @JoshuaLai I tried below combination with xcode 12.0.1 -

   pod 'AzureCommunicationCalling', '~> 2.0.0-beta.1'
   pod 'AzureCommunication', '~> 1.0.0-beta.12'
   pod 'AzureCore', '~> 1.0.0-beta.11'
   pod 'AzureCommunicationCommon', '~> 1.0.0'

I still face same issue. App that we building basically a Teams interop app, help me to identify the correct latest set of pods for this.

[2021-07-27 15:36] JoshuaLai commented on #344
@mkambale Sorry I don't understand the combination you are trying with the cross out. Can you just show us a snippet of the pod file. @raosanat did also discover there might be an Xcode 12.0 issue have you tried upgrading to Xcode 12.5.1 ?

[2021-07-27 22:39] tjprescott commented on #344
[code]

You shouldn't have any references to AzureCore or AzureCommunication (which is an old deprecated version of AzureCommunicationCommon) in your podfile at all.

[2021-07-29 00:04] angiurgiu commented on #345
The fact that Inactive threads are returned is by design, since users still have access to the message history of threads they've left

The filtering parameter isn't feasible for ACS as it would break pagination, since the underlying service doesn't support it.

@ashwinder and @juancamilor to determine if we want to update the returned ThreadInfo to have a new parameter indicating the membership s

[2021-07-29 09:02] radulescuserban opened #346 "[Android] Crash on hanging up from a conference"
**Describe the bug**
When leaving a microsoft teams meeting sometimes the app crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Join a microsoft teams meeting
2. Leave the microsoft teams meeting
3. App crashes

**Expected behavior**
App doesn't crash

**Smartphone (please complete the following information):**
 - Device: Nexus 5X
 - OS: Android 8.1

**Additional context**
This is not

[2021-07-30 18:38] angiurgiu commented on #325
We were returning the date of the last message received from participants other than the user listing the threads. However, per our documentation of the property, we've updated it to return the date of the last message sent to the thread - including those sent by the initiator of the ListThreads operation. The fix should be rolled out to production by end of next week.

[2021-08-02 01:25] kagbakpem commented on #346
@radulescuserban, thanks for reporting this issue. We are aware of the `java.lang.StackOverflowError` exception issue and are working on a fix that should be ready later this week. We'll keep you posted on the progress. Thanks

[2021-08-02 12:14] LeChrisS commented on #214
Bumping up this issue as I exactly encounter this problem with WKWebView and iOS 14.7 in a Cordova app.
I have successfully verified that WebRTC works with WKWebView by requesting the correct permissons.
However the Azure communication package errors out with a CallingCommunicationError: BrowserNotSupported message.
I do not see the rationale why this functionality is still blocked since WKWebView

[2021-08-02 13:50] LeChrisS commented on #214
Further digging into the issue I found that the SDK just checks the user agent and sees if the string "Safari" is present without actually further checking the WebRTC capabilities of the runtime present in memory.
If I modify the User Agent String that is being presented by the WKWebView the error is gone.
This seems like blocker for no actual reason.
Please have a look into this.
Thank you!

[2021-08-02 22:12] jonathanellis commented on #344
I'm not a user of Azure Communication Calling but I've been tracking down this issue in another framework. Looking around, it seems this is probably related to this issue [here](https://github.com/contentful/contentful-persistence.swift/issues/116), which was fixed [in this PR here](https://github.com/contentful/contentful.swift/pull/341).

Apparently this is being caused by the following warning,

[2021-08-04 00:24] kagbakpem commented on #346
@radulescuserban, we published 1.2.0-beta.2 today with a fix fir this issue. Please try it out and let us know if you're still seeing it. ty.

[2021-08-04 00:24] #346 closed

[2021-08-04 19:52] raosanat commented on #338
Hi @alexLipici-tmd this solution works for us and verified its working. Can you send the snippet of code that you are testing with ?

[2021-08-04 22:15] xumo-95 commented on #232
We couldn't reproduce this issue. Can you please try to reproduce it with the current version of the SDK?

[2021-08-05 06:54] pavelprystinka opened #349 "[Android] - keeps working after application is closed"
**Describe the bug**
If during the call application is closed (not just sent to background) the audio (both ways) and video out are still working.
This is very confusing for user.

**To Reproduce**
Steps to reproduce the behaviour:
1. Use Android SDK to make a call. For instance https://github.com/Azure-Samples/communication-services-android-calling-hero
2. Join a call
3. Enable audio and video
4.

[2021-08-05 08:38] btmpn commented on #345
We had a similar problem. There seems to be no way to find out if the requesting user is still part of a chat thread.
Since it is no longer wanted to post feature requests here on github, I created a post in Azure Feedback portal:

https://feedback.azure.com/forums/934536-azure-communication-services/suggestions/43829745-acs-chat-sdk-chatclient-listchatthreads-should-be

[2021-08-05 12:58] mkambale commented on #344
@JoshuaLai @tjprescott Thank you.
With just these two pods -
pod 'AzureCommunicationCalling', '2.0.0-beta.1'
pod 'AzureCommunicationCommon', '1.0.0'

And on xcode 12.5.1, I am able to build the app.
We can consider closing this issue.

[2021-08-05 19:24] xTEddie commented on #199
@asmailov I don't remember I ran into this issues. I'd recommend to uninstall all the ACS packages, then install them again and see if it works or not.

[2021-08-05 19:27] xTEddie commented on #199
Installing `@azure/communication-chat` requires extra set up on React Native for me.

- `npm install node-libs-react-native`
- Update *metro.config.js* to use React Native compatible Node Core modules
[code]
- Add `net` mock in *metro.config.js* to fix `net could not be found within the project`
[code]

- Add `tls` mock in *metro.config.js* to fix `tls could not be found within the project`
[code]

[2021-08-05 21:36] bfwg opened #350 "[IOS] Slow screen share"
**Describe the bug**
Starting with screen share video stream takes about 10 seconds to show up on the other end.

**To Reproduce**
Steps to reproduce the behavior:
1. Peer A using the iOS SDK and Peer B using the Web.
2. Peer A joins the meeting, and Peer B joins the meeting.
3. Peer B clicks screenshare.
4. Peer A leaves the meeting.
5. Peer A rejoins the meeting.

**Expected behavior**
Peer A sh

[2021-08-05 23:17] xumo-95 commented on #338
Hi @alexLipici-tmd I also verified that the solution works for me. Can you please provide more information?

[2021-08-09 08:25] yasheedv opened #351 "iOS - Terminating app due to uncaught exception 'ACSException', reason: 'Attempting to get event handler for a cookie which was never added"
iOS SDK is crashing while rejecting incoming call with the below error,

Terminating app due to uncaught exception 'ACSException', reason: 'Attempting to get event handler for a cookie which was never added

Call agent is created with cxproviderConfiguration.

createCallAgent(userCredential: <CommunicationTokenCredential>, options: <CallAgentOptions?>,  cxproviderConfig: <CXProviderConfiguration?>

[2021-08-09 16:13] iaulakh opened #352 "Android: com.azure.android:azure-communication-calling failed: errno 28 No space left on device"
**Describe the bug**
After running call for sometime, application crashes with"errno 28 No space left on device"

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start call
2. Join with 6 participants video on and 6 participants with audio only
3. Unmute all
4. After sometime application crashes with above error message

Memory while crashing:
![Screen Shot 2021-08-09 at 9 16 32 AM](h

[2021-08-09 18:41] raosanat commented on #90
This has been fixed, please verify with latest build.

[2021-08-09 18:41] #90 closed

[2021-08-10 06:49] guru98 commented on #294
It doesn’t work for me. Same issue. I use code that is  almost the same the one in docs. When you call echo123 the locale feed free until the call ends

Ottieni Outlook per Android<https://aka.ms/ghei36>

________________________________
From: Augusto Righetto ***@***.***>
Sent: Monday, July 19, 2021 7:46:02 PM
To: Azure/Communication ***@***.***>
Cc: Ugo Castellani ***@***.***>; Mention ***@***.*

[2021-08-10 13:25] deepsuvarna opened #353 "Acs interop does not allow this user target in dial out."
**Describe the bug**
Azure Communication Calling with Teams users (121) does not work. The call automatically gets disconnected.

The following error shows up on the network tab in google chrome:
POST request : https://api3.cc.skype.com/conv/

{
  "operationFailure": {
    "sender": null,
    "reason": "unknown",
    "code": 403,
    "subCode": 5223,
    "phrase": "Acs interop does not allow this

[2021-08-10 17:32] AmyL219 opened #354 "[iOS][CallingSDK 1.1.0] duplicated videos from anther participant is attach to the remote participant"
**Describe the bug**
1.Join a group call with some remote participants with video on
2. Stay for a while
3. The video of one remote participants show duplicated video from another participant

**To Reproduce**
Steps to reproduce the behavior:
1.Join a group call with some remote participants with video on
2. Stay for a while
3. The video of one remote participants show double video from same parti

[2021-08-10 17:42] #325 closed

[2021-08-10 22:03] kagbakpem commented on #318
@ankiarora, thanks for reporting this issue. This should now be fixed on the latest version. Please give it a try and let us know

[2021-08-10 22:03] #318 closed

[2021-08-10 22:15] kagbakpem commented on #248
@ozanurkn, this should be fixed on the latest version. Please give it a try and let us know if the issue persists.

[2021-08-10 22:15] #248 closed

[2021-08-11 04:31] iaulakh opened #355 "[Android] API 21 to API 25, video frames are not loaded until user perform button click (UI refresh)"
**Describe the bug**
From API 26 to API 31 on call join if remote participant has video on then Android renders video properly. However, for devices with API 21 to 25, the video frames are not loaded on when video renderer view is loaded first time.

Video:

**To Reproduce**
Steps to reproduce the behavior:
1. Launch device or emulator with API 21 t 30
2. Start call with one remote participant wit

[2021-08-11 17:50] kagbakpem commented on #355
AB#2542990

[2021-08-11 17:54] kagbakpem commented on #354
AB#2543500

[2021-08-11 17:59] kagbakpem commented on #353
@deepsuvarna, can you please provide more details? Which tenant are you using? And which version of the SDK are you using? Can you also make sure the Teams tenant is properly configured to allow meeting joins from an ACS user?

[2021-08-11 23:13] angiurgiu commented on #345
Closing this feature request here, and we will monitor requests for this feature in the dedicated portal.

[2021-08-11 23:13] #345 closed

[2021-08-11 23:33] akania commented on #328
closing as we're not able to follow up, please reopen with requested information

[2021-08-11 23:33] #328 closed

[2021-08-12 03:34] deepsuvarna commented on #353
The version that I am currently using is     "@azure/communication-calling": "^1.1.0".
I have just taken the default code sample for acs-voice-calling and instead of **communicationUserId** I am using **microsoftTeamsUserId**.

Eg:
const call = callAgent.startCall(
    [{ microsoftTeamsUserId: "<Guid>" }]
  );

Teams tenant is properly configured to allow joining meetings. I have attached the imag

[2021-08-12 08:19] alexLipici-tmd commented on #338
Hi @xumo-95. The code snippet looks like this:

`self.callClient?.createCallAgent(userCredential: tokenCredential,
                                         options: options) { [weak self] (agent, error) in

            guard let self = self else { return }

            guard error == nil else {
                completionHandler(.failure(error!))
                return
            }

            UI

[2021-08-12 16:20] iaulakh opened #357 "[Android] After disposing videoStreamRenderer multiple times, frames are not rendered to UI (onRendererFailedToStart)"
**Describe the bug**
After disposing renderer view multiple times, Frames are not rendered to UI onRendererFailedToStart

Use case: Application displays only 6 participants to UI. When user speaks, the video stream for user is displayed. When user no longer speaks and other participants speak, application removes the user from UI and destroys the renderer view.
When user speaks multiple times afte

[2021-08-12 19:47] jsaurezlee-msft commented on #357
AB#2545907

[2021-08-12 19:51] jsaurezlee-msft commented on #352
AB#2540286

[2021-08-12 19:54] jsaurezlee-msft commented on #349
AB#2542311

[2021-08-12 21:07] RinaRish commented on #351
Hi @yasheedv! Thanks for reporting the issue. Is it possible to provide a code snippet?

[2021-08-12 21:08] RinaRish commented on #351
[AB#2545991](https://skype.visualstudio.com/SPOOL/_workitems/edit/2545991)

[2021-08-12 21:11] RinaRish commented on #350
Hi @bfwg! Thanks for reporting the issue. Can you please provide the versions of SDKs you are using on iOS and the web?

[2021-08-12 21:12] #344 closed

[2021-08-12 21:14] RinaRish commented on #339
Thanks for attaching the log. We will take a look [AB#2545995](https://skype.visualstudio.com/SPOOL/_workitems/edit/2545995)

[2021-08-12 21:17] RinaRish commented on #338
[AB#2545996](https://skype.visualstudio.com/SPOOL/_workitems/edit/2545996)

[2021-08-12 21:25] RinaRish commented on #274
@devgokhan closing this issue since we did not hear back from you. Please feel free to reopen

[2021-08-12 21:25] #274 closed

[2021-08-12 21:27] RinaRish commented on #285
Hi @Kannyasheela! I am closing this ticket since we did not hear from you back. Feel free to reopen if needed.

[2021-08-12 21:27] #285 closed

[2021-08-12 21:28] RinaRish commented on #293
[AB#2447833](https://skype.visualstudio.com/SPOOL/_workitems/edit/2447833)

[2021-08-12 21:41] bfwg commented on #350
HI, we are using the blow:
'AzureCore', '1.0.0-beta.12'
'AzureCommunicationCalling', '1.1.0'

[2021-08-12 22:38] RinaRish commented on #350
[AB#2546062](https://skype.visualstudio.com/SPOOL/_workitems/edit/2546062)

[2021-08-12 22:41] RinaRish commented on #337
[AB#2546065](https://skype.visualstudio.com/SPOOL/_workitems/edit/2546065)

[2021-08-12 22:42] iaulakh opened #358 "[Android] call client dispose() takes long time (2 minutes). sometime the call to dispose never returns."
**Describe the bug**
call client dispose() takes long time (2 minutes). sometime the call to dispose never returns

**To Reproduce**
Steps to reproduce the behaviour:
- Start a call
- Add below logic to code on call end
          When disconnected status received.
          Execute below code
            callAgent?.dispose() 
            callClient?.dispose()
- It takes a long time to proceed to n

[2021-08-12 22:44] RinaRish commented on #313
[AB#2546070](https://skype.visualstudio.com/SPOOL/_workitems/edit/2546070)

[2021-08-12 22:47] RinaRish commented on #254
Hi @rahatur & @carlchan1994! Thanks for your feedback? Can you provide more details on your requirements? For example:
1) do you need audio-only recordings or both audio+video?
2) which format of recording?
3) do you need it mixed or unmixed? how many channels?
4) what is the storage requirement
5) scenarios

Thanks!

[2021-08-12 22:50] RinaRish commented on #175
Would love to learn more about scenarios and requirements @wjvii! Thanks.

[2021-08-13 20:11] iaulakh commented on #293
tested issue with latest SDK `com.azure.android:azure-communication-calling:1.2.0-beta.2`. I do not see memory increment with time.
Steps to test:

1) started call on device
2) three remote participants joined with video on
3) after ten minutes, memory went up by 10 mb, then on force Gc memory was back to 258 mb.

[2021-08-13 21:34] iaulakh commented on #357
The workaround on application side is to refresh UI after delay. If I reduce time then some video views will display or some not.

[code]

[2021-08-13 21:41] iaulakh commented on #355
The workaround on application side is to refresh UI after delay. If I reduce time then some video views will display or some not.

(container holding video views).postDelayed( {
            (container holding video views).invalidate()
        }, 5000)

[2021-08-14 13:06] rahatur commented on #254
Hi @RinaRish Following are my suggestions:

Options for audio only and audio+video would be better as the service supports both.

To keep the file size smaller mp4 would be better

Both would be better but if we have to choose one we would choose the mixed option

To start with we can use the azure file storage. Option to have FTP storage would be nice.

Applications like telemedicine - where pati

[2021-08-17 11:17] mkambale opened #359 "[iOS] Missing info.plist file in AzureCommunicationCalling cocoapod"
Hello,

I dont see any info.plist file in latest AzureCommunicationCalling cocoapod. Without that we cannot upload any app to
Apple App Store which uses this pod.

What would be the correct way to address this?
Any workarounds?

Thank you,
Manjunath K

<img width="443" alt="Screenshot 2021-08-17 at 4 44 31 PM" src="https://user-images.githubusercontent.com/28888982/129717010-79d66cb7-95c5-49f2-8eb

[2021-08-17 17:40] mkambale commented on #359
This is the error thats shown when I try to upload from xcode.
<img width="977" alt="Screenshot 2021-08-17 at 7 38 05 PM" src="https://user-images.githubusercontent.com/28888982/129774604-832424dd-6dd3-42d4-8e09-85396a522551.png">

[2021-08-18 18:02] jsaurezlee-msft commented on #358
AB#2546063

[2021-08-18 18:09] RinaRish commented on #359
Hi @mkambale! Can you please provide a bit more details on which version of ACS SDK you are using?

[2021-08-19 16:10] jsaurezlee-msft commented on #353
Hi @deepsuvarna:

Thanks for attaching the code snippet. For Teams interop, only joining teams meetings (by using a meeting link or a meeting's coordintates) is available. So using callAgent.startCall with a teams user identity or guid won't work. You can use callAgent.join with a Meetings locator object to join a Teams meeting. Note that at this time, this a preview feature and you need to use th

[2021-08-19 16:11] #353 closed

[2021-08-20 03:51] deepsuvarna commented on #353
@jsaurezlee-msft
Thanks for the information.

[2021-08-23 18:15] xumo-95 commented on #338
Hi @alexLipici-tmd, I made sure that the app supports Portrait only and turned off the Portrait Orientation Lock and the solution still works for me. We will look further into it.

[2021-08-27 08:39] tompi opened #362 "iOS: GetServerCallIdWithCompletionHandler throws an error most of the time"
When trying to get the "Server call id", I get this error:

[code]

I managed to get a value ONCE, out of maybe 10 attempts...

Using v 1.1.0-beta.1 of the Call sdk.

**Smartphone (please complete the following information):**
 - Device: iphone 12 pro
 - OS: 14.7

I tried uploading blog from app session that failed:
[acs_sdk_blog.zip](https://github.com/Azure/Communication/files/7065459/acs_sdk_bl

[2021-08-27 12:44] tompi opened #363 "Call recording seems to ignore camera orientation/aspect"
Call recording is really cool!

Minor issue: the screenshot attached is from a recording of a group call, with just one participant(iphone). This participant had his camera in portrait mode, but recording seems to cut top and bottom and force a landscape frame from the "middle" of the original feed. I hope there can be a way to specify that you want "aspectfit" for participants feeds!

Also: the f

[2021-08-31 18:42] Shivam20121992 opened #365 "Videos From Mobile Devices Not Getting Rendered On Teams App/Web"
**Describe the bug**
I am using **ACS with teams Interop**. and the ACS users video is not getting rendered on teams app/web.

**To Reproduce**
Steps to reproduce the behavior:
1-One participant on Teams client (Both Web and Desktop)
2-Second is on mobile , using app build with ACS SDK (1.2.1-beta.1)
3-ACS and Teams users join to a scheduled teams meeting.
4-Video sent from ACS is not visible on T

[2021-09-01 16:31] Kalyan492 commented on #365
I am facing the same issue. When a user joins from mobile, unable to see the video stream from desktop web or Teams user. In this case for mobile user, videoStreamRenderer.createView() is not returning the view.

[2021-09-01 17:49] RinaRish commented on #365
Hi @Shivam20121992 @Kalyan492! Thanks for reporting the issue. Is it possible to provide callId? or logs?

[2021-09-01 17:55] RinaRish commented on #363
Hi @tompi! Thanks for reporting the issue. [AB#2568177](https://skype.visualstudio.com/SPOOL/_workitems/edit/2568177)

[2021-09-01 17:57] RinaRish commented on #362
Thanks, @tompi for reporting the issue. We are taking a look.

[2021-09-01 17:59] RinaRish commented on #359
Closing it since we did not hear back from you. Please feel free to reopen if help neede.

[2021-09-01 17:59] #359 closed

[2021-09-01 18:02] RinaRish commented on #335
@cwhil2492 any update?

[2021-09-01 18:04] RinaRish commented on #362
[AB#2568190](https://skype.visualstudio.com/SPOOL/_workitems/edit/2568190)

[2021-09-01 22:29] cwhil2492 commented on #335
@RinaRish we can close this, its been fixed as part of latest beat sdk

[2021-09-01 22:29] #335 closed

[2021-09-02 00:12] AmyL219 opened #366 "[iOS AzureCommunicationCalling 1.0.1] local video stream is rotated 180 degree when the UIDevice.set UIInterfaceOrientationMaskPortrait"
**Describe the bug**
When the code
```UIDevice.current.setValue(UIInterfaceOrientationMask.portrait.rawValue, forKey: "orientation")```
being called, the local video renderering would rotated 180 degree

**To Reproduce**
Steps to reproduce the behavior:
1. Open the local video preview, and start local video stream renderering
2. Call UIDevice.current.setValue(UIInterfaceOrientationMask.portrait.ra

[2021-09-02 00:18] AmyL219 commented on #366
https://skype.visualstudio.com/SPOOL/_sprints/taskboard/ACS%20Mobile%20UI/SPOOL/CY2021-Q3/Sprint%2044%20(Ends%20September%205)?workitem=2568456

[2021-09-02 10:49] alexLipici-tmd opened #367 "[iOS] Deploy issue: missing Info.plist for Trouter.framework"
**Describe the bug**
I integrated both Azure Communication Calling and Azure Chat and we decided to release an incremental update to the users that will use video call and chat feature. The issue appears when I try to upload the build to the appstore, as you can see on the attached screenshot. It seems that Trouter client (which is used by Azure Chat SDK for Real time notification) doesn't have an

[2021-09-02 22:00] AmyL219 opened #368 "[iOS AzureCommunicationCalling 1.0.1] The callClient.createCallAgent wouldn't have any callback if the network is poor or not connected"
**Describe the bug**
Call the function blow when there is no Internet connection, there wouldn't have any call back

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Close the internet connection in your device
2. Try to create connection with `callClient?.createCallAgent`
3. There wouldn't have any callback to indicate the connection is failed

**Expected behavior**
There should have

[2021-09-03 19:26] AmyL219 opened #369 "[iOS][SwiftUI]The video stream rendererView can't be rendered in SwiftUI iew"
**Describe the bug**
Use the following 2 UIiewRepresentable to mapping Rendereriew in the SwiftUI environment. They both can't guarantee the videoRendererView is always rendering in the SwiftUI view. In some cases, the swiftUI view just lost the video rendererView and displaying an empty view.

[code]

[code]

Need a suggestion in how to use RendererView in swiftUI view.

[2021-09-05 07:52] Kalyan492 commented on #365
Hi, Sorry for the late response. I have updated the calling package to latest version. I am unable to replicate the issue. Streams from mobile device is working fine.

Thank you.

[2021-09-07 00:34] akania commented on #365
closing per latest comment from @Kalyan492

[2021-09-07 00:34] #365 closed

[2021-09-07 22:40] AmyL219 commented on #369
https://skype.visualstudio.com/SPOOL/_sprints/taskboard/ACS%20Mobile%20UI/SPOOL/CY2021-Q3/Sprint%2045%20(Ends%20September%2019)?workitem=2573466

[2021-09-08 23:10] angiurgiu commented on #367
@alexLipici-tmd this was a known bug, we've released a new version of the chat package based on a Trouter version that has a correct info.plist. Please try out the latest swift chat package and let us know if the issue persists.

@glorialimicrosoft

[2021-09-09 07:24] alexLipici-tmd commented on #367
@angiurgiu I've tried Azure Chat 1.0.2 and now it's working. Thank you for the reply

[2021-09-10 05:50] aahmed92021 commented on #344
@mkambale I have tried the exact same combination as you did. But I amm still facing the runtime crash issue? You sure the app stopped crashing for you?

[2021-09-10 05:52] raosanat commented on #344
Please try with the latest release [v2.0.1-beta.1](https://github.com/Azure/Communication/releases/tag/v2.0.1-beta.1).

[2021-09-10 07:42] #367 closed

[2021-09-10 11:26] aahmed92021 commented on #344
Didn't work. Xcode: 12.5.1

[2021-09-13 08:23] aahmed92021 commented on #344
@raosanat even the latest version didn't work :O

[2021-09-13 08:40] aahmed92021 opened #370 "Run time crash while integrating AzureCommunicationCalling"
**Describe the bug**
Run time crash while trying to integrate AzureCommunicationCalling SDK via CocoaPods

**To Reproduce**
Steps to reproduce the behavior:
1. Go to podfile in your project
2. Add pod 'AzureCommunicationCalling', '1.0.0-beta.12'
3. pod install
4. compile and run
5. App crashes at launch with error: ""

**Expected behavior**
App shouldn't crash at launch

**Screenshots**
If applica

[2021-09-13 09:28] Shivam20121992 commented on #365
@Kalyan492
Thanks for reporting on this. Can you confirm that, Is it working on all mobile devices and not on some devices?  I too have updated the calling package to the latest version and I can replicate the issue.

@RinaRish
Let me run my application and I will share the call id with you.

@akania
Can you please reopen this ticket as I am still facing this?

[2021-09-13 11:31] Shivam20121992 commented on #365
++Adding development,

When I join the team meeting and turn on my video. **on MS Teams it signals that video is coming but it does not get rendered**. That might be an issue on the team's side but just reporting for reference.

[2021-09-13 16:17] pavelprystinka opened #371 "[Android] Switching video source for video stream is not stable"
**Describe the bug**
Switching video source for video stream is not always works.
After calling videoStream.switchSource(desiredCamera) completable feature is completed successfully, but video is not switched and picture is frozen with last frame from the previous camera.

This behaviour is not always reproducible. In most cases it works as expected.

**To Reproduce**
Steps to reproduce the behavi

[2021-09-13 23:57] AmyL219 commented on #368
https://skype.visualstudio.com/SPOOL/_sprints/taskboard/ACS%20Mobile%20UI/SPOOL/CY2021-Q3/Sprint%2045%20(Ends%20September%2019)?workitem=2569670

[2021-09-14 00:51] jsaurezlee-msft commented on #371
AB#2581184

[2021-09-14 18:15] iaulakh opened #373 "[Android] - on internet disconnect, calling SDK triggers "NONE" state"
**Describe the bug**
During ongoing call if network on Android device is disconnected, OnCallState change receives "NONE" event with 410.
After this, the call to `call.hangUp` does nothing, so user can not exit application.

Questions:
Please guide about the expected behaviour on network disconnect. can application expect disconnected state when network is disconnected?
on internet disconnect `cal

[2021-09-14 19:44] AmyL219 opened #374 "[iOS AzureCommunicationCalling 1.0.1] Call state return .none when the network is intermittent and call end has no callback for the first tap"
**Describe the bug**
The call state would return .none after the internet connection is interrupted for 1 minutes.

**To Reproduce**
Steps to reproduce the behavior:
1. Join a call successfully with good network condition
2. call state return .connected
3. Open airplane mode for more than 1 minutes
4. call state return .none
5. end the call by `call.hangUp`
6. There is no callback for the first ca

[2021-09-14 19:56] AmyL219 commented on #368
Log file:
[No Internet State.xcappdata.zip](https://github.com/Azure/Communication/files/7164787/No.Internet.State.xcappdata.zip)

[2021-09-14 20:01] AmyL219 commented on #374
https://skype.visualstudio.com/SPOOL/_sprints/taskboard/ACS%20Mobile%20UI/SPOOL/CY2021-Q3/Sprint%2045%20(Ends%20September%2019)?workitem=2582326

[2021-09-14 21:15] AmyL219 opened #375 "[iOS AzureCommunicationCalling 1.0.1]deviceManager could have empty camera list"
**Describe the bug**
When we try to reach the device manager's camera list after we create the callClient and device manager but before create callAgent, the camera list could be empty randomly

**To Reproduce**
Steps to reproduce the behaviour:
1. create callClient and device manager
2. get the camera list by `deviceManager.cameras`
3. the list could be empty randomly

**Expected behaviour**
The

[2021-09-15 05:45] AmyL219 commented on #375
https://skype.visualstudio.com/SPOOL/_sprints/taskboard/ACS%20Mobile%20UI/SPOOL/CY2021-Q3/Sprint%2045%20(Ends%20September%2019)?workitem=2582396

[2021-09-15 11:58] janjouni opened #377 "ChatClient endpoint is ignored when CommunicationTokenCredentials created with other endpoint"
**Describe the bug**
We use the .net Communication Chat SDK in a Xamarin App and create the CommunicationTokenCredential through an API method on our webserver. If the webserver creates credentials with an existing CommunicationUserId and sends this back to the Xamarin app, the Xamarin app can create a ChatClient instance with another or a non existing endpoint. Nonetheless the ChatThreadClient cr

[2021-09-15 19:11] jsaurezlee-msft commented on #317
AB#2584434

[2021-09-16 10:46] btmpn opened #379 "[C# | Chat] Error 400 when trying to create a huge chat thread"
Hi,

i just wrote a test function to figure out how our application handles the maximum size of a chat thread (250 users).

Initially I created 248 azure communication users.
After that I wrote code to create a chat thread with my personal user, and the just created 248 users to get a chat thread with 249 members.

I used
[code]
where topic contains my topic (`string`), and participants contains 2

[2021-09-16 18:43] akania commented on #350
@bfwg can you please try to repro with latest version of ACS SDK?

[2021-09-19 17:31] iaulakh opened #381 "[Android] - On join group call, the screen share video stream is not received"
**Describe the bug**
On joining group call or teams call, the screen share stream is not received on call join, if remote participants is sharing screen(before joining the call). Screen share video stream is received if remote participants starts sharing screen after joining call.

Repro steps:
Start a group or teams call
Start sharing screen
Ask a participant to join
The participant does not rece

[2021-09-19 17:32] iaulakh commented on #381
https://skype.visualstudio.com/SPOOL/_workitems/edit/2589998

[2021-09-20 23:11] iaulakh opened #382 "[Android] Memory leak on creating device manager without creating call agent"
Memory leak on creating device manager without creating call agent

To display local video stream for call setup screen(call not started yet), I created device manager and created local video stream. I exit application from setup screen(no need to start call, thus call agent is not created). On exit the profile indicated memory leak in VideoOrientationManager.

Steps:
  -Create call client.
  -Cre

[2021-09-20 23:12] iaulakh commented on #382
https://skype.visualstudio.com/SPOOL/_workitems/edit/2591201

[2021-09-21 18:34] jimchou-dev opened #383 "[iOS] teams_interop recordingFeature and transcriptionFeature is not properly reflected"
**Describe the bug**
A clear and concise description of what the bug is.
- In the `'AzureCommunicationCalling` version `1.1.0-beta.1` is working, but there was a breaking change in `2.0.0-beta.1` that we need to do some refactoring regarding the RecordingFeatureDelegate and TranscriptionFeatureDelegate
- When joining a Teams meeting through interop, and start recording the meeting, it will start B

[2021-09-21 20:30] chrwhit commented on #363
@tompi I'm looking into this issue, and I just wanted to check on one thing. Are you using the JavaScript SDK from a browser on iOS?

[2021-09-22 06:20] tompi commented on #363
@chrwhit Hi, we are using the native iOS SDK

[2021-09-22 22:10] KevinKennedy commented on #72
I can run the calling sample above fine as a desktop app on x64.  If I build it for arm64 and deploy it to a HoloLens I get the exception below when I make the call.  Specifically when calling StartCallAsync.  Is this expected to work on HoloLens?

System.Runtime.InteropServices.MissingInteropDataException
HResult=0x80131500
Message=System.Collections.Generic.IEnumerable`1[Azure.WinRT.Communicatio

[2021-09-23 06:29] jstclair opened #384 "Must use 'unsafe-eval' for CSP policy when using JS SDK"
**Describe the bug**
Using the communication SDK (@azure/communication-calling: "1.2.0-beta.1") requires allowing `script-src: unsafe-eval` for a CSP policy.

**To Reproduce**
Steps to reproduce the behavior:
1. Add communication SDK to project
2. Configure CSP script source policy (or default policy) to: `script-src: 'self'`
3. See error in console:

`Refused to evaluate a string as JavaScript be

[2021-09-23 08:34] btmpn commented on #379
Additional information:

we found out that this problem does not only exist when trying to create a new (big) chat thread.
It also crashes with the same/similar error when trying to add a big amount of users at once to an existing chat thread, with:

[code]

So it seems that there is a limitation of the request size?

[2021-09-23 22:35] akania commented on #384
Hi @jstclair , thank you for reporting, we'll look into the options how to solve this issue
#2595825 ADO created

[2021-09-23 22:39] akania commented on #383
Thank you for reporting, we'll investigate this issue
#ADO 2595833

[2021-09-23 22:39] mariusu-msft commented on #375
At this time we recommend using a coding pattern like such:
[code]

We are looking into options for improving developer experience here. Closing this ticket as by-design.

[2021-09-23 22:39] #375 closed

[2021-09-23 22:45] RinaRish commented on #363
@tompi was the camera translating the accurate layout before recording has started? just to confirm that it is the recording that caused the bug

[2021-09-24 00:09] jaime-carpintero commented on #352
@jsaurezlee-msft  based on the extra information that was provided by Inderpal, we proceed to conduct an in-depth test based on the following:

Physical device was being used (Pixel 4a)
Potential SDK version used at the time: 1.2.0-beta.2
error: No space left on device should be output on android studio's logcat
Average time to reproduce is between 30min~40min
Participants were toggling video on/o

[2021-09-24 00:11] jsaurezlee-msft commented on #352
Closing as per @jaime-carpintero investigation:

[2021-09-24 00:19] jsaurezlee-msft commented on #382
AB#2591201

[2021-09-24 00:24] mariusu-msft commented on #339
@alexLipici-tmd this is expected because of time-bound operations that we are doing during clean-up.

It's expected that you always run this on a background thread, and do not block any UI operations behind this.

Can you try this and let us know how it goes?

[2021-09-24 01:10] mariusu-msft commented on #200
Closing due to inactivity.

[2021-09-24 01:10] #200 closed

[2021-09-24 02:03] mariusu-msft commented on #192
This is fixed in latest beta SDKs

[2021-09-24 02:03] #192 closed

[2021-09-24 02:03] #46 closed

[2021-09-24 06:30] tompi commented on #363
@RinaRish Yes, looked fine in the "preview" on the local device, and on the "other end"(which in this case was a web frontend). It seems like the recording is using a fixed aspect ratio(16/9) for "cutting" the video.

This is what the teams client also usually does. But as we are making our own "client" we dont have to, this is what we do in the javascript client:

[code]

The keyword here is we u

[2021-09-24 14:56] LaithRodan commented on #332
Feature request tracked under "Epic 2596460: [Web] Support for Chromium Embedded Framework"

[2021-09-24 14:56] #332 closed

[2021-09-27 15:41] sagarjoshi-sct opened #385 "Feature Request - Control Incoming Audio in Group Call"
**Is your feature request related to a problem? Please describe.**
I'm writing an app where a user can participate in 1 or more ACS Group audio-video calls simultaneously. They should be able to control incoming audio in a given call, without affecting audio from other calls or applications.

**Describe the solution you'd like**
User should be able to
- Block/Unblock collective incoming audio from

[2021-09-27 20:15] mariusu-msft commented on #352
Reopening based on feedback from @iaulakh

[2021-09-28 07:05] sagarjoshi-sct opened #386 "Feature Request - Block Outgoing Audio in ACS Group Call (without muting)"
**Is your feature request related to a problem? Please describe.**
We want to implement a temporary local mute, without actually showing ourselves as muted to other participants.

**Describe the solution you'd like**
User should be able to block outgoing audio in the call or do a local mute.

**Note**
This is a feature-request and not a bug report, but I'm unable to edit the labels.

[2021-09-28 07:17] sagarjoshi-sct opened #387 "Feature Request - Join group call in listen-only mode (without mic)"
**Is your feature request related to a problem? Please describe.**
We need to implement a group call in which most participants are just an audience. Right now, even if a user joins a call with audio muted, they're still asked for microphone permission. If permission is not requested, the join call takes about 20-25 additional seconds to succeed. This is bad user experience.

**Describe the soluti

[2021-09-28 18:03] chrwhit commented on #363
@tompi I looked into the issue, portrait video is being ingested; however, our recording service currently only supports landscape video, and crops the portrait video to fit this requirement. This is a current limitation. If this is something important to your scenario, we can discuss adding this as a future feature.

[2021-09-28 21:28] LoadLibrary commented on #72
@KevinKennedy The error message suggests Azure.WinRT.Communication.ICommunicationIdentifier is missing on the ARM64 package. Since issue #72 is tracking customers looking for a non-packaged drop of the ACS Calling SDK, can you open a new issue reporting your finding?

[2021-09-29 10:27] tompi commented on #363
Thank you @chrwhit , thats what we suspected. I attached a screenshot of our web frontend, which has the ACS video embedded. Our main focus is the bottom of the portrait screen, where the patient(in this case CPR manikin...) is located and is receiving CPR..

![Screenshot 2021-09-29 at 12 23 52](https://user-images.githubusercontent.com/231717/135251470-b75c5fa0-91d9-44b7-8cb6-23b33bf99e4d.png)
.

[2021-09-29 14:03] bogdanmunteanu opened #389 "VideoStreamRendererView does not show anything , although VideoStreamRenderer is not null"
**Describe the bug**
We have the remoteParticipant and remoteVideoStream not null , received from the Azure SDK , like this :
[code]
and then , we are creating the VideoStreamRenderer like this :
`       remoteVideoStreamRenderer = VideoStreamRenderer(remoteVideoStream, context)
        remoteVideoStreamRendererView = remoteVideoStreamRenderer?.createView(CreateViewOptions(ScalingMode.FIT))

[2021-09-29 14:10] bogdanmunteanu opened #390 "At the end of the conference we get an ANR ( App not responding) , the app freezes"
**Describe the bug**
At the end of the conference we get an ANR ( App not responding) , the app freezes
We are hanging up using the method :
[code]

**To Reproduce**
Enter the conference and attempt to exit.

**Expected behavior**
The conference should exit.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the following information):**
 -

[2021-09-29 14:22] bogdanmunteanu commented on #390
[27_aug_acs_sdk-0-s1148191003.blog.zip](https://github.com/Azure/Communication/files/7252703/27_aug_acs_sdk-0-s1148191003.blog.zip)
Logs for the ANR

[2021-09-29 14:56] mariusu-msft commented on #390
@bogdanmunteanu thanks for the report.

Can you please let us know if you are doing hangUp on a background thread?

.get() will be blocking the current thread, so it's not indicated for .get() to be called on the UI thread.

[2021-09-29 15:16] bogdanmunteanu commented on #390
We did that already. We didn't, however , test the newer versions of the SDK (1.2.0 stable and 1.2.1- beta1). We'll test with that and keep this ticket updated.

[2021-09-29 15:43] mariusu-msft commented on #390
`We did that already. `

@bogdanmunteanu  what was the outcome of this ^ - are you still hitting the ANR after using background thread to hangUp?

[2021-09-29 21:45] kevinyulu opened #391 "The calling SDK loses connection to composite when a participant with a very long display name joined."
**Describe the bug**
The calling SDK loses connection to composite app when a participant with a very long display name joined.

**To Reproduce**
Steps to reproduce the behavior:
1. Download and install the **CallingComposite mobile App** (iOS and/or Android)
2. Have one participant start a call, either from the app, or through web link
3. On a mobile device, launch CallingComposite mobile App, en

[2021-09-30 06:52] bogdanmunteanu commented on #390
Yes . we are still getting the ANR . But we need to test with the newer version of the SDK to see if the issue is still present. I will take care of this and update the ticket with newer information if/when it's available.

[2021-09-30 06:57] mariusu-msft commented on #390
Thanks @bogdanmunteanu

We have tried reproducing, and could not reproduce with the quickstart samples. We are investigating the logs and will reply back soon.

If you able to capture a process dump during ANR, please let us know and send us an email to get the proc dump from you

[2021-09-30 11:39] ichivers opened #392 "Feature Request - Metrics for Voice"
There appear to be no metrics available for voice?

[2021-10-01 07:01] #350 closed

[2021-10-01 17:51] AmyL219 opened #395 "[iOS and Android] local video stream keeps streaming even the call.stopVideo(stream) give a callBack without error"
**Describe the bug**
I close my local video stream **immediately** after the call has started successfully. I got a response that stopVideoStream successfully, but I can still see my local video stream from the remote participant's device.

**To Reproduce**
Steps to reproduce the behavior:
1. Join a group meeting with `callAgent.join(with)` videoOptions has localVideoStreams
2. After get the join

[2021-10-01 23:07] LoadLibrary commented on #389
@bogdanmunteanu , is the app listening to "addOnVideoStreamsUpdatedListener" ?

[2021-10-01 23:08] LoadLibrary commented on #389
BTW, please find the instructions to source the logs at https://docs.microsoft.com/en-us/azure/communication-services/concepts/troubleshooting-info?tabs=csharp%2Candroid%2Cdotnet .

[2021-10-04 17:54] ryanespiritu commented on #262
Just verified that this is still happening for me on `2.0.1.-beta.1`

https://user-images.githubusercontent.com/71148942/135899977-89134165-2005-45ed-b217-98b5048a62ad.mov

[2021-10-05 04:42] bbesase opened #396 "No video/audio feed while trying to join/start a group call"
**Describe the bug**
A clear and concise description of what the bug is.
I'm attempting to create a group call:

`
let callAgent = await callClient.createCallAgent(tokenCredential, { displayName: name});
let callAfterSetup = await callAgent.join({groupId}, callOptions);
`

I don't get any errors or anything when creating the group call. However, when other clients attempt to join, there is no vide

[2021-10-05 04:47] mariusu-msft commented on #396
@bbesase when you use `callAgent.Join()` you should use the returned call object to listen to any events needed.

For example

[code]

[2021-10-05 04:48] mariusu-msft commented on #396
You can check the tutorial sample which includes some in-line code snippets https://github.com/Azure-Samples/communication-services-web-calling-tutorial/

[2021-10-05 05:15] bbesase commented on #396
@mariusu-msft thanks for you quick reply... so we listen to the actual `call` rather than the `callAgent` to get the remote particpants that are added ?

Is there a place where I can see all of the different events to listen to for the `call.on()`?

[2021-10-05 05:18] mariusu-msft commented on #396
All events should be listed here: https://docs.microsoft.com/en-us/javascript/api/azure-communication-services/@azure/communication-calling/call?view=azure-communication-services-js

And you can find more information about how to use the library here: https://docs.microsoft.com/en-us/azure/communication-services/how-tos/calling-sdk/events?pivots=platform-web

Definitely suggest check checking the

[2021-10-05 05:19] mariusu-msft commented on #396
`so we listen to the actual call rather than the callAgent to get the remote particpants that are added ?`

Correct - the call object gives you information about the current state of the call, including participants.

[2021-10-05 05:30] bbesase commented on #396
@mariusu-msft Yeah, ive been following some examples that I've found here and there. We are using this mostly for our project currently: https://www.npmjs.com/package/@azure/communication-calling

I will look through the documentation you have provided and see if I can get further. Thanks!

[2021-10-05 05:53] bbesase commented on #396
@mariusu-msft even in that link you sent they are also listening for events on the callAgent:

[code]

[2021-10-05 05:55] bbesase commented on #396
@mariusu-msft  another odd thing, is if I do a workflow like:

1. Client A starts group call
2. Client B attempt to join the call
3. Nothing happens
4. Client B leaves, and re-joins
5. It works (like 40% of the time)

[2021-10-05 13:38] bogdanmunteanu commented on #389
Yes , when we have a remoteParticipant , we are listening to the state of the call via addOnVideoStreamsUpdatedListener

[2021-10-06 18:12] jaime-carpintero commented on #382
Closing it, cause of the problem was the mix of context between LocalVideoStream and VideoStreamRenderer.

Documentation will be updated based on findings, regarding context usage when developing using Azure Communication Services.

@jsaurezlee-msft can you help closing the issue.

[2021-10-08 20:55] JamesBurnside opened #397 "ACS Call SDK - CallEndReason codes and subcodes are not defined anywhere"
[javascript, call SDK]

Are these codes defined anywhere?
![image](https://user-images.githubusercontent.com/2684369/136623710-3fa8cf4c-cc34-45f9-8ac8-4347f0f23acc.png)

I cannot find any documentation on them.

[2021-10-13 21:02] mirmehdi5 opened #399 "iPhone iOS 15 sound issues in video group calls"
The audio on iPhones running on iOS15 is too low during group video calls, making it extremely hard to listen to other users in the call.

[2021-10-18 03:13] #349 closed

[2021-10-19 13:02] italoaguiar opened #400 "Feature Request - Notify unread chat messages"
**Description**
Provide a way to notify users for unread chat messages (like MS Teams)

**Suggestion**
*   New Event Grid event (for general devices)
*   Push Notification (for mobile devices)

**Note**
This is not a bug but the UserVoice form is unavailable (404)

[2021-10-19 16:31] #357 closed, assigned to asanchezgomez, jsaurezlee-msft

[2021-10-19 20:53] iaulakh opened #401 "Android - sometime, speaking events are not received on Android from Web Hero Sample"
During group call, the speaking event for one participant was not received on Android from web hero sample project. Issue is random, most of time speaking events are received.

Steps:
Join group call from Android device with web calling hers sample users
for some participants speaking event not received

SDK Version: com.azure.android:azure-communication-calling:1.2.1-beta.1
Joined call from Andro

[2021-10-19 20:54] iaulakh commented on #401
https://skype.visualstudio.com/SPOOL/_workitems/edit/2619998

[2021-10-21 14:44] bogdanmunteanu opened #402 "[Android] While in lobby , the host was trying to "Admit" me but the Admit button keeps resetting and I wasn't addmited in the room"
**Describe the bug**
I was in te waiting room , the host admitted me ( chat room was created ) and nothing happened. I was still waiting , and the “Admit” button of the doctor was resetting after 2 seconds

**To Reproduce**
Steps to reproduce the behavior:
Create a room and join with an Android device with the Calling SDK. The host is using the Teams Windows app , version 1.4.00.26376

**Expected

[2021-10-21 14:50] bogdanmunteanu opened #403 "[Android] Calling SDK - Upon re-entering the conference , I can see multiple instances of my previous one"
**Describe the bug**
When I force close the app , the conference closes (there is no leftover stream remaining). However , when I try to enter again in the same room , there is another participant and my session from last time has remained as a frozen frame.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a conference in Teams on Windows
2. Join with Teams SDK 1.2.1-beta1
3. Force clo

[2021-10-23 16:49] deleolajide opened #404 "Cannot instantiate CallClient in a Chrome Browser Extension"
**Describe the bug**
When I run this code

[code]

I get the following error:

![image](https://user-images.githubusercontent.com/110731/138564878-a703f92e-d3c0-407b-bad8-0cc48fe067d1.png)

A quick look at the JavaScript code reveals that it is checking for protocol "https:" and host name "localhost". Anything else is being flagged with this error.

**To Reproduce**
Create a browser extension with

[2021-10-27 15:46] bogdanmunteanu opened #406 "[Android][Calling] Host video stream is unavailable after host joins the conference first time. Repeats when rejoining in the same conference"
**Describe the bug**
When I enter from an Android device using the Calling SDK 1.2.1-beta1 , the host will admit me and after a couple of exits and rejoins (usually 3-5) , I cannot see the host's video stream even if he confirms the camera is enabled

**To Reproduce**
Steps to reproduce the behavior:
1.Host a teams video call
2.Join using the calling SDK
3.Exit and re-join ( you or remote particip

[2021-10-29 20:53] AmyL219 opened #408 "[iOS] Simulator crash when there is a user join with camera on randomly"
**Describe the bug**
1.Join in a group call through simulator
2.Use web/app to join the same group call with camera on as a new participant
3.Find the SwiftUI app could crash in `AVMakeRectWithAspectRatioFill(CGSize,int` function

**Expected behavior**
Simulator shouldn't crash

**Screenshots**

![Screen Shot 2021-10-28 at 10 56 55 AM](https://user-images.githubusercontent.com/75647512/139500279-6

[2021-11-01 16:15] Discodir opened #409 "[WEB Azure.Communication.Common] Calling - Safari endless redirect loop to same groupId"
**Describe the bug**
I have deployed a WEB Azure Communication Group Calling Hero (React - Azure.Communication.Common (1.0.1)) as Web Core 3.1 app.
This Web Core app is called:
1. from a Win Forms app in WebView2,
2. from a Xamarin Android app in WebView
3. from a Xamarin iOS app in SFSafariViewController.

Everything working properly, except in Xamarin iOS app where:
1. when in active videocall a

[2021-11-01 22:29] kevinyulu opened #410 "[iOS] CallingSDK createCallAgent did not trigger completionHandler when an invalid acs token url is provided, leading to app not able to end a call"
**Describe the bug**
When a user provide an invalid acs token url, this user cannot leave the call after tapping on the leave call button in Composite app.

iOS bug for reference: https://skype.visualstudio.com/SPOOL/_workitems/edit/2628098

**To Reproduce** (in Composite iOS App)
Steps to reproduce the behavior:
1. Launch the app, enter an invalid acs token url
2. fill the other fields, tap start

[2021-11-02 05:00] iaulakh opened #411 "[Android] Calling SDK crash for invalid ACS token"
For invalid ACS token, calling SDK crash with below message.
E/com.azure.android.communication.common.AutoRefreshUserCredential: java.lang.IllegalArgumentException: 'tokenStr' is not a valid token string

It will be great if SDK can provide handler to catch this error.

Steps:
The issue can be reproduced by injecting invalid function in CommunicationTokenRefreshOptions that returns invalid token.

[2021-11-02 05:00] iaulakh commented on #411
https://skype.visualstudio.com/SPOOL/_workitems/edit/2632309

[2021-11-02 14:51] andreas-niemoeller-qhr opened #412 "Android 12 video artifacts on Chromium browsers"
**Describe the bug**
In a call application when using JavaScript SDK in Chrome on Android 12 sender and receiver video streams look normal. The RemoteVideoStream received from js sdk on Android 12 Chrome is corrupted. The colors match the source but it appears to not have been reconstructed using the right height/width of the source.
This was tested using the latest communication-calling v1.2.3-be

[2021-11-02 14:52] andreas-niemoeller-qhr commented on #412
@mychalhackman

[2021-11-02 22:14] AmyL219 commented on #408
https://skype.visualstudio.com/SPOOL/_workitems/edit/2629990

Did some debugging and found the crash issues is because of the rendererView is created by `scalingMode: .crop` with the SwiftUI env. CallingSDK testing app use .fit mode, so their app didn't crash. But after changing the testing app scalingMode into `crop`, it eventually crashed at same place. (See the attachment pic)
If we changed our

[2021-11-03 00:18] fizampou opened #413 "iOS 15.1 issues when having video on group calls or Microsoft Teams meetings on web"
Greetings,

We have found a big bug introduced by Apple in iOS 15.1 when using Safari browser for ACS video calls that will impact you. I wanted to update you with this issue.

### Issue Description

When joining an ACS calls or a joining a Teams meeting using ACS on iOS 15.1 on any browser with video turn on – this will cause Safari browser to crash.

### Details

This is a [known bug on iOS 15.1

[2021-11-03 08:32] Discodir commented on #413
Hi @fizampou.
We have exactly the same issue.
{ [WEB Azure.Communication.Common] Calling - Safari endless redirect loop to same groupId }

[2021-11-04 18:35] JoshuaLai commented on #410
https://skype.visualstudio.com/SPOOL/_workitems/edit/2635377

[2021-11-05 18:56] juancamilor commented on #377
Hi @janjouni
Sorry for the delay. That behaviour is by design. The end point url just uses the domain part for the DNS lookup from the client side (i.e .communication.azure.com). Once our servers received the request, all the information required to route the request to the proper resource is driven by the security token. The security token is associated to just one resource,
so there is not any s

[2021-11-05 18:56] #377 closed

[2021-11-08 21:30] phileo99 commented on #411
`CallClient.createCallAgent()` is swallowing all exceptions, so then the CompletableFuture exception handling cannot run

[2021-11-09 14:17] 10mayje opened #415 "does Azure/communication support react native or flutter ?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-11-10 01:24] iaulakh commented on #352
@jaime-carpintero would it be possible to reopen-github issue?

[2021-11-11 00:23] angiurgiu commented on #415
It is partially supported for Chat, @CHILIU-MSFT will help you with instructions for usage

Calling does not support React Native / Flutter at this time

[2021-11-11 00:29] CHILIU-MSFT commented on #415
The following steps will be required to run Azure Communication Service Chat SDK for JavaScript on React Native after initializing your React Native project.

1. Install node-libs-react-native
npm install node-libs-react-native --save-dev

2. Install stream-browserify
npm install stream-browserify --save-dev

3. Install react-native-get-random-values
npm install react-native-get-random-values --sa

[2021-11-11 06:14] Kalyan492 opened #416 "Outgoing screen share in Android / iOS browser"
Hi,

   Is there outgoing screen share support in mobile browsers? I am using call package to join Teams meeting. Screen share is working fine on desktop browser. But in Android mobile outgoing screen share is not working. If this feature is not supported as of now, is there any roadmap to add it?

Thanks & Regards,
Kalyan Mannam.

[2021-11-11 06:50] mariusu-msft commented on #416
Hi @Kalyan492 - this is not supported by the browser ecosystem on mobile devices.

You can check the browser compatibility here https://developer.mozilla.org/en-US/docs/Web/API/Screen_Capture_API to see which browsers support the APIs required for this feature to operate.

Thanks,
Marius

[2021-11-11 06:50] #416 closed

[2021-11-11 21:19] eamreyesNeudesic commented on #415
@10mayje, I'm working on a Flutter project where we've been able to use native Azure/Communication libraries(Droid, iOS, Web) via Flutter method channels.

[2021-11-14 14:22] rceraline opened #417 "Local video not working on iOS"
Hi,

We are using callComposite without react. The integration was pretty straightforward but after testing on different devices, we realize that the local video is not working on iPhone or iPad. It works fine on Android. How could we fix this?

Thanks,
Rémi

![image](https://user-images.githubusercontent.com/3820705/141685137-02f2a2e7-1774-4f39-b45b-b57587a53196.png)

[2021-11-15 21:05] eamreyesNeudesic opened #418 "Feature Request - Compatible Browser check in Web SDK"
I'm currently working on a project that is integrating the Web SDK and I'd like a reliable method for determining browser compatibility. Ideally the web SDK's would provide a compatibility API.

**Current Behavior**
Use an incompatible browser like Firefox
1. User taps on button to join meeting
2. User enters name to use during meeting
3. User confirms entry
4. `callAgent` is created by client app

[2021-11-15 21:07] eamreyesNeudesic opened #419 "Bug - iOS/Android - OnIsTranscriptionActiveChangedListener fires when users leave/join meeting during active Transcription"
**Describe the bug**
While a meeting is active and transcription is active, a user will leave the meeting (not the user who starts the Transcription) and the `OnIsTranscriptionActiveChangedListener` will fire and `callTranscriptionFeature.isTranscriptionActive()` will be `false`

**To Reproduce**
Create a meeting with MS Teams Clients and Droid/iOS Calling client:
1. With all clients currently in

[2021-11-16 09:07] mariusu-msft commented on #403
Hi,

This is currently expected. As the stack tries to determine if the endpoint has dropped, there is a 2-3 minute timeout until you may see stale participants.

We are looking for long-term options to improve developer experience here, but right now the experience is expected.

To alleviate some of these side effects - please check if you can dispose of the stack upon application exit, so the se

[2021-11-16 11:18] JohanKroese opened #420 "The ACS .NET SDK shows less video devices than the ACS JS SDK"
**Is your feature request related to a problem? Please describe.**
The ACS .NET SDK returns only a subset of local video devices. I have two physical video devices in my laptop:
Microsoft Front Camera
Microsoft Back Camera

I also have several virtual camera devices, two of them:
OBS Virtual Camera (provided by OBS Studio)
PowerToys VideoConference Mute (provided by PowerToys)

I retrieve the came

[2021-11-17 19:46] AmyL219 opened #423 "[iOS]CallingSDK crash with ACSException `Attempting to get event handler for a cookie which was never added.'"
**Describe the bug**
when a Calling SDK user being kicked out from Teams meeting, the SDK could randomly crash because of `Attempting to get event handler for a cookie which was never added.'

**To Reproduce**
Steps to reproduce the behavior:
1. Join a Team's meeting through CallingSDK
2. Grant permission to this CallingSDK user of joining the meeting
3. Kick out the CallingSDK user when some part

[2021-11-17 23:43] angiurgiu commented on #415
Hi @10mayje, hope your question has been answered. If you face any problems with the suggested solution, please feel free to ask more questions.

[2021-11-17 23:43] #415 closed

[2021-11-18 00:06] ashwinder commented on #400
Hi @italoaguiar, Can you help answer few questions so we can understand whats the use case you are enabling.
1. What platform are you using for server & client ? (eg .Net, JavaScript, etc)
2. What's the use case - Do you want to send a push notification when the user is not active on the app or you want to update the app UI while the user is active in the app?
3. Are you using [real time notificat

[2021-11-18 00:06] ashwinder commented on #400
Hi @italoaguiar, Can you help answer few questions so we can understand whats the use case you are enabling.
1. What platform are you using for server & client ? (eg .Net, JavaScript, etc)
2. WHats the use case - Do you want to send a push notification while the app
3. Are you using [real time notifications](https://docs.microsoft.com/en-us/azure/communication-services/concepts/chat/concepts#real-

[2021-11-18 09:44] mariusu-msft commented on #404
Thanks for your report @deleolajide.

We're looking at this and will reply soon.

[2021-11-18 09:46] #397 closed

[2021-11-18 09:47] mariusu-msft commented on #390
This should be fixed with latest release of Android Beta SDK. Closing.

@bogdanmunteanu please reopen if you continue to encounter this

[2021-11-18 09:47] #390 closed

[2021-11-18 09:49] mariusu-msft commented on #385
HI @sagarjoshi-sct,

Thanks for your report. Could you clarify which SDK you are consuming?

Thanks,
Marius

[2021-11-18 12:29] bogdanmunteanu commented on #390
Yes , confirming the fix. Cannot reproduce it anymore :)

[2021-11-18 13:16] sagarjoshi-sct commented on #385
Hi @mariusu-msft,

I'm using ACS Calling JS SDK (`@azure/communication-calling": "^1.1.0"`)

[2021-11-18 15:16] italoaguiar commented on #400
Hi @ashwinder ,

1. We use .net Core 3.1 for our back-end and react native for web and mobile devices (using ACS UI Lib)
2. We need to notify new messages when a user is not active in the chat. Notifications may be through push, email and sms.
3. Yes and No. It's complex to keep a connection opened for every chat thread to receive real time read events. We have a big number of chat threads in use.

[2021-11-18 15:43] bogdanmunteanu commented on #403
Tested and fixed with Calling SDK 1.3.0-beta1 .Closed.

[2021-11-18 15:43] #403 closed, assigned to mariusu-msft

[2021-11-18 15:44] akania commented on #404
Hi @deleolajide , currently we're not supporting running ACS within Chrome ( or any other browser ) extension, can you please describe your use case ?

[2021-11-18 15:45] bogdanmunteanu commented on #402
Cannot reproduce on Calling SDK 1.3.0-beta.1 . Can be closed

[2021-11-18 15:45] #402 closed, assigned to nobody

[2021-11-18 16:37] bogdanmunteanu opened #424 "[Android][Calling -1.3.0-beta1] Host video stream is unavailable when joining"
**Describe the bug**
When I enter from an Android device using the Calling SDK 1.3.0-beta1 , I cannot see the video stream from the host , heven if the host has the camera on.
**To Reproduce**
Steps to reproduce the behavior:
1.Host a teams video call with the camera on
2.Join using the calling SDK 1.3.0-beta.1
3.Notice that you cannot see the host's videostream

Might be related to [https://githu

[2021-11-18 16:42] bogdanmunteanu opened #425 "[Android][Chat -1.1.0-beta.3] I cannot see images when host attaches them to the chat"
**Describe the bug**
When the host sends an image or any other payload (besides text) , the paylod arriving to the mobile device is empty

**To Reproduce**
Steps to reproduce the behavior:
1. Host a Teams conference
2. Join with an Android device with Calling 1.3.0-beta.1 and Chat-1.1.0-beta.3
3. Ask the host to attach some images
4. See error

**Expected behavior**
I should receive the payload in

[2021-11-18 19:28] aodegov opened #426 "Xamarin / MAUI NuGet package for Azure Communication Services"
## Summary
Xamarin / MAUI  NuGet package for Azure Communication Services

## Changes
According to discussion there: [Xamarin.Forms/issues/14906](https://github.com/xamarin/Xamarin.Forms/issues/14906):
We'd like to ask you about the opportunity to use Azure Communication Services
(Video Calls, Group Video calls, Conferences, Recordings, Voice calls) with Xamarin / MAUI
with / through the appropria

[2021-11-18 19:50] deleolajide commented on #404
https://comitfs.github.io/openlink-v2.js/xep/xep-xxx-openlink_15-02.xml
https://www.comitfs.com/communication/#apis

We are are currently implementing the CAS Openlink specification for MS Teams and in order for existing Financial applications that use CAS to work seamlessly with MS Teams, we need to install a resident application on the desktop with a simple and efficient deployment model. A web

[2021-11-18 19:55] RinaRish commented on #363
Hi @tompi! So we are going to close this since your ask is a feature and for now, there is no ETA. Can you please reach to the customer engagement team through the TAP program so your feedback is being captured? Thanks

[2021-11-18 20:03] fizampou commented on #409
You can read more information [here](https://docs.microsoft.com/en-us/azure/communication-services/concepts/voice-video-calling/calling-sdk-features) for the supported browsers. Web views are not officially supported.

Can you repro the same issue on iOS Safari browser? If yes, is it related to [this](https://github.com/Azure/Communication/issues/413) one?

[2021-11-18 20:30] raosanat commented on #198
Fixed in the latest release [v2.1.0-beta.1](https://github.com/Azure/Communication/releases/tag/v2.1.0-beta.1).
Please re-open the bug if still reproducible, thanks.

[2021-11-18 20:30] #198 closed

[2021-11-18 20:31] raosanat commented on #358
Fixed in the latest release of iOS [v2.1.0-beta.1](https://github.com/Azure/Communication/releases/tag/v2.1.0-beta.1).
Please re-open the bug if still reproducible, thanks.

[2021-11-18 20:31] #358 closed

[2021-11-18 20:31] raosanat commented on #339
Fixed in the latest release [v2.1.0-beta.1](https://github.com/Azure/Communication/releases/tag/v2.1.0-beta.1).
Please re-open the bug if still reproducible, thanks.

[2021-11-18 20:31] #339 closed

[2021-11-18 20:32] raosanat commented on #338
Fixed in the latest release [v2.1.0-beta.1](https://github.com/Azure/Communication/releases/tag/v2.1.0-beta.1).
Please re-open the bug if still reproducible, thanks.

[2021-11-18 20:32] raosanat commented on #276
Fixed in the latest release [v2.1.0-beta.1](https://github.com/Azure/Communication/releases/tag/v2.1.0-beta.1).
Please re-open the bug if still reproducible, thanks.

[2021-11-18 20:32] #276 closed

[2021-11-18 20:34] jimchou-dev commented on #374
Issue still persist 2.1.0-beta.1

[2021-11-18 20:35] jimchou-dev commented on #368
Issue still persist 2.1.0-beta.1

[2021-11-18 20:36] jimchou-dev commented on #366
Issue still persist 2.1.0-beta.1

[2021-11-18 20:44] jimchou-dev commented on #391
Issue still persist for 2.1.0-beta.1

[2021-11-18 21:15] Discodir commented on #409
Hi @fizampou.

I know about supported browsers.
Web view is working perfectly with Win Forms app and Xamarin Android app.
The problem is with iOS 15.1 and video on!
My issue is exactly the same as yours (the one you pinned 16 days ago) as I have already commented!
Yes, the same issue is happening when I open my Web Core 3.1 app directly from a page of iOS Safari browser.
I will try tomorrow versio

[2021-11-19 17:29] fizampou commented on #409
Yes, this is known issue. It's a [regression](https://bugs.webkit.org/show_bug.cgi?id=231505) introduced from Apple on iOS 15.1 Safari and affects web views also. It's fixed on iOS 15.2 beta - pending release.

Χαιρετισμούς!

[2021-11-19 21:31] fizampou commented on #384
@jstclair

We don't load any external scripts and the SDK shall be hosted on the same place you load the rest of your scripts.

I did setup a small NodeJS server to test the behavior and i have setup the CSP like bellow

`javascript
app.use((req, res, next) => {
    res.setHeader(
      'Content-Security-Policy',
      "default-src 'self'; img-src 'self'; script-src 'self'; frame-src 'self'"
    )

[2021-11-19 23:39] Discodir commented on #409
Installed **version 1.3.1-beta.1** as you mentioned, but unfortunately problem still exists.
Can not join group meeting from iPhone with video ON while using iOS 15.1.

I guess I will have to wait for iOS 15.2.

Χαιρετισμούς!

[2021-11-19 23:47] Discodir commented on #409
@fizampou,
have a look on npm list.

+-- @azure/communication-calling@1.3.1-beta.1
| +-- @azure/communication-common@1.1.0
| | +-- @azure/abort-controller@1.0.4
| | | `-- tslib@2.3.1 deduped
| | +-- @azure/core-auth@1.3.2
| | | +-- @azure/abort-controller@1.0.4 deduped
| | | `-- tslib@2.3.1 deduped
| | +-- @azure/core-http@2.2.2
| | | +-- @azure/abort-controller@1.0.4 deduped
| | | +-- @azure/core

[2021-11-20 11:35] jstclair commented on #384
Ok but my original issue didn’t have anything to do with ‘load-*’; the title is ‘unsafe-eval’. The problem is that we have to make an exception for this library to enable this, which permits eval for any other loaded script.

[2021-11-22 04:54] fizampou commented on #409
Can you try on Safari? Can you share a code snippet on how are you joining the call?

What is the exact behavior? Are there other participants on the call? Can you try on iOS 15.2 beta also?

[2021-11-22 17:25] fizampou commented on #384
That's my point, you shall not need 'unsafe-eval' check the snippet i posted above. I'm not getting any errors on my sample when using 'self' on script-src.

[2021-11-22 17:48] fizampou commented on #396
reopen if this is still an issue.

[2021-11-22 17:48] #396 closed

[2021-11-22 17:49] fizampou commented on #384
reopen if it's still an issue.

[2021-11-22 17:49] #384 closed

[2021-11-22 20:39] kevinyulu commented on #338
Hi @alexLipici-tmd , would it be possible to have the latest release tested on your side as well? I tried using the iOS app but the issue seems still happening

[2021-11-23 01:26] raosanat commented on #338
@kevinyulu we have tested on iPhone X and iPhone SE with which we were able to reproduce the issue with.
 Which device are you using for  testing ?

[2021-11-24 13:30] bogdanmunteanu commented on #406
Issue reproduces when host joins the video calling. Workaround for this is that the host turns off and on the camera again.

[2021-11-25 00:48] ashwinder commented on #425
Hi @bogdanmunteanu, when a Communication Services user joins a Teams meetings, they might not have access to all the features that Teams users have. For example, features like raise hand, attaching a file or image are not supported for Communication Services users.
Teams users can send plain text or rich text messages to Communication Services users. In your use case, the Teams host can share a li

[2021-11-25 13:31] tompi opened #429 "[BUG] Front camera is mirrored on receiving end"
In a video call, choosing front camera results in mirrored image in local preview, remote renderer AND recording.

I expected behaviour to be identical to teams client where local view is mirrored, remote is NOT.

**Screenshots**
ACS(both mirrored):
![acs](https://user-images.githubusercontent.com/231717/143450328-024189dc-c1d4-4792-9ca2-bd580cc7c925.png)

Teams(only local preview mirrored)
![Team

[2021-11-25 19:11] kevinyulu commented on #338
@raosanat, after I tested the app a few more times, I think the issue can be resolved by using the the workaround you suggested:
`UIDevice.current.endGeneratingDeviceOrientationNotifications()`. In the Composite app our team is building, there is a screen that has only one orientation set by us and app is using camera preview on that screen. The SDK view would not know this orientation variable in

[2021-11-26 08:07] Discodir commented on #409
Hi @fizampou.

Sorry for the delay but I have a serious problem with this bug on a medical app I have developed.

1. **Can you try on Safari?**
I start a video call from my (Win10 or Xamarin Android) app with camera on.
Copy-paste 'groupId' address to Safari url address of an iPhone.
Join is committed, everything is working fine with iPhone(Safari) camera off.
When iPhone(Safari) camera is turned

[2021-11-30 01:29] fizampou commented on #412
Hello @andreas,

Thanks for reporting the problem. It's a known issue that was introduced with the release of Android 12. You can find more info [here](https://docs.microsoft.com/en-us/azure/communication-services/concepts/known-issues).

this one is the tracking item on [Chromium](https://bugs.chromium.org/p/chromium/issues/detail?id=1237677).

[2021-11-30 22:35] tom-lokulus commented on #249
Hi, my team and I are investigating the use of ACS as part of a customer service solution we want to bring to market, we have a requirement to composite together multiple video streams and then share them via an ACS call. @LaithRodan or anyone else from Microsoft I don't think there is an alternative way to achieve what we need to do? Alternatively, Could you give us an idea of where this is withi

[2021-12-01 00:04] JohnVUgonabo opened #430 "[BUG] [iOS] Calling SDK 2.1.0-beta.1 - Re-joining a teams meeting shows displayName as "External""
**Describe the bug**

Re-joining teams meeting after getting removed by teams client user, occasionally produces an empty displayName. The displayName only shows "External", instead of "UserName (External)"

**To Reproduce**
Steps to reproduce the behavior:
1. Join team's meeting from iOS Composite demo app with a display name
2. Kick yourself out of meeting using the "Remove from meeting" (i.e. u

[2021-12-01 00:21] raosanat commented on #426
@LaithRodan Can you please update here ? Can we somehow prioritize this in the future ?

[2021-12-01 00:27] raosanat commented on #423
[AB#2650046](https://skype.visualstudio.com/SPOOL/_workitems/edit/2650046)

[2021-12-01 02:14] raosanat commented on #426
@aodegov Did you check this project ?  https://github.com/Laerdal/Xamarin.AzureCommunicationCalling , while we work on officially providing support for Xamarin maybe this might work for you ?

[2021-12-01 09:37] ichivers commented on #426
I managed to get a React Native app working with the Javascript SDK, thanks to this post https://issueexplorer.com/issue/Azure/Communication/415.  I created a project here https://github.com/ichivers/ReactNativeApp but have had to shelve it due to other work commitments.

[2021-12-01 17:23] aodegov commented on #426
@raosanat and @ichivers, this issue is not about the JS SDK, React Native or even [this ](https://github.com/Laerdal/Xamarin.AzureCommunicationCalling) **non MS** solution without the support from MS side.
This issue is about Xamarin / MAUI mobile apps NuGet package (or embedded functionality as a library) to work with Azure Communication Services.
We asking about this here because it's too signif

[2021-12-02 00:09] #425 closed

[2021-12-02 01:36] ProbablePrime commented on #404
This has been migrated to Azure Ideas: https://feedback.azure.com/d365community/idea/fd957221-1053-ec11-8f8e-000d3a987052

[2021-12-02 01:36] #404 closed

[2021-12-02 01:44] ProbablePrime commented on #426
This has been migrated to Azure Ideas: https://feedback.azure.com/d365community/idea/4c3c83f6-8948-ec11-a819-0022484bf651

[2021-12-02 01:44] #426 closed

[2021-12-02 01:45] ProbablePrime commented on #400
This has been migrated to: https://feedback.azure.com/d365community/idea/1019a176-d730-ec11-a819-000d3ae2b306

[2021-12-02 01:45] #400 closed

[2021-12-02 01:49] #65 closed

[2021-12-02 01:49] #66 closed

[2021-12-02 01:49] #72 closed

[2021-12-02 01:49] #75 closed

[2021-12-02 01:49] #101 closed

[2021-12-02 01:49] #107 closed

[2021-12-02 01:49] #136 closed

[2021-12-02 01:49] #148 closed

[2021-12-02 01:49] #177 closed

[2021-12-02 01:49] #186 closed

[2021-12-02 01:49] #190 closed

[2021-12-02 01:49] #199 closed

[2021-12-02 01:49] #214 closed

[2021-12-02 01:49] #239 closed

[2021-12-02 01:49] #249 closed

[2021-12-02 01:49] #251 closed

[2021-12-02 01:49] #254 closed

[2021-12-02 01:56] ProbablePrime commented on #288
Migrated to: https://feedback.azure.com/d365community/idea/205262dc-1253-ec11-8f8e-000d3a987052

[2021-12-02 01:56] #288 closed

[2021-12-02 01:57] ProbablePrime commented on #279
Lets use: https://feedback.azure.com/d365community/idea/0059d25d-8a48-ec11-a819-0022484bf651

[2021-12-02 01:57] #279 closed

[2021-12-02 01:59] ProbablePrime commented on #385
Move to: https://feedback.azure.com/d365community/idea/0919ff5b-1353-ec11-8f8e-000d3a987052

[2021-12-02 01:59] #385 closed

[2021-12-02 23:25] ProbablePrime commented on #98
Closing with lack of response

[2021-12-02 23:25] #98 closed

[2021-12-02 23:25] ProbablePrime commented on #97
Closing due to lack of response

[2021-12-02 23:25] #97 closed

[2021-12-05 14:26] aodegov commented on #426
@ProbablePrime , sorry but [this is](https://feedback.azure.com/d365community/idea/4c3c83f6-8948-ec11-a819-0022484bf651) my own post into ideas. That's why it's not migrated anywhere as you mentioned.
You've just referenced me to my self :)
Could you please reopen this issue to let MS Team eventually work on it.
Since community waits on such solution from MS more than a year.

Thanks.

[2021-12-06 07:50] tompi commented on #423
Just happened to me to on iOS sdk 2.1.0-beta.1. The only time it happened was when disposing some objects RIGHT AFTER/DURING call initialization.

[code]

[2021-12-06 09:00] tom-lokulus commented on #249
@ProbablePrime - just noticed that you closed this issue down, does this mean that there is no intention of this becoming a feature?

[2021-12-06 19:02] ProbablePrime commented on #249
@tom-lokulus We've migrated all features to https://feedback.azure.com/d365community/forum/81ff6d2b-0c25-ec11-b6e6-000d3a4f0858 where you can track them. We have not removed this from consideration we've just moved its location.

[2021-12-06 21:14] ProbablePrime commented on #426
@aodegov I can't sorry.

We're not using GitHub issues for feature requests or work tracking management on this repository anymore.

[2021-12-06 21:50] aodegov commented on #426
@ProbablePrime thanks for the reply.
Could you please advice, where is the appropriate place for features requests for Azure Communication Services?

[2021-12-06 21:55] ProbablePrime commented on #426
@aodegov The ideas forum. https://github.com/Azure/Communication/issues/new/choose has some other links for other issue types.

Thank you

[2021-12-06 21:59] aodegov commented on #426
Thanks, @ProbablePrime.
However, I posted issue as an idea there : https://feedback.azure.com/d365community/idea/4c3c83f6-8948-ec11-a819-0022484bf651 , already.
But it seems to me there is no any progress.
Is there an option to ask someone to take a look this, in order to move forward and start working on it eventually?

[2021-12-08 23:00] fizampou commented on #409
Yes that seems like the regression i mentioned above on webkit. Preparing a new release that will bypass that issue untill iOS 15.2 is released.

That should help with the issue you are facing.

[2021-12-08 23:00] #409 closed

[2021-12-08 23:11] Discodir commented on #409
Thank you very much.
Is there a timeline for this new release?

[2021-12-09 00:44] angiurgiu commented on #400
Hello Italo Almeida Aguiar,

Thank you so much for the detailed explanation of your scenario and your architecture. It has helped us understand your requirement clearly now. Just one final question, do you also want to notify the users if they are offline, or only in the case that they haven't sent a read receipt for the message (regardless of online/offline status).

We are currently brainstormin

[2021-12-09 01:36] phileo99 commented on #430
This issue also occurs on Android

[2021-12-09 14:23] italoaguiar commented on #400
Hi @angiurgiu,

It's nice to have a way to retrieve user status (online/offline). It's a great suggestion to insert in project backlog.

In our project, when user is active, we play a sound for every message received. This solve our issue for online users.

We use ACS to provide a communication channel between users and sellers. When the user sends message outside business hours, we need to notify

[2021-12-09 23:10] fizampou commented on #412
This has been fixed on the latest released version.

More info [here](https://github.com/Azure/Communication/blob/master/releasenotes/acs-javascript-calling-library-release-notes.md#v132-beta1-2021-12-9)

Either 1.3.2 [beta](https://www.npmjs.com/package/@azure/communication-calling/v/1.3.2-beta.1) or [stable](https://www.npmjs.com/package/@azure/communication-calling/v/1.3.2)

[2021-12-09 23:10] #412 closed

[2021-12-09 23:10] fizampou commented on #413
This has been fixed on the latest released version.

More info [here](https://github.com/Azure/Communication/blob/master/releasenotes/acs-javascript-calling-library-release-notes.md#v132-beta1-2021-12-9)

Either 1.3.2 [beta](https://www.npmjs.com/package/@azure/communication-calling/v/1.3.2-beta.1) or [stable](https://www.npmjs.com/package/@azure/communication-calling/v/1.3.2)

[2021-12-09 23:10] #413 closed

[2021-12-09 23:13] fizampou commented on #409
Just released.

More info [here](https://github.com/Azure/Communication/blob/master/releasenotes/acs-javascript-calling-library-release-notes.md#v132-beta1-2021-12-9)

Either 1.3.2 [beta](https://www.npmjs.com/package/@azure/communication-calling/v/1.3.2-beta.1) or [stable](https://www.npmjs.com/package/@azure/communication-calling/v/1.3.2)

[2021-12-10 04:28] ferjpi commented on #131
Any update on this?

[2021-12-14 09:39] tompi commented on #429
@raosanat do you have the link to new location for this issue? (couldnt find it...)

[2021-12-19 12:41] Discodir commented on #409
I confirm that iOS 15.2 fixed the bug.

[2022-01-04 12:37] tompi commented on #429
@raosanat Sorry to nag about this, but do you have the new location?

[2022-01-04 14:04] tompi commented on #363
@RinaRish Im gonna have to disagree with this being a feature ask and not a bug ;) The recording of the meeting shows an arbitrary crop of the video... It's kind of the point of a recording to reflect what you saw during the call, right?

This bug will affect all meetings that has at least one participant with a portrait oriented video stream... I understand that the most common usecase is a lands

[2022-01-05 02:40] raosanat commented on #429
Sure let me check.

[2022-01-06 00:22] angiurgiu commented on #400
Thanks for answering our questions. We've taken your feature request into our backlog and will consider it in the future.

[2022-01-18 01:57] koudaiii commented on #371
@jsaurezlee-msft  Hi, I have the same problem. Do you have any updates on this issue?

[2022-01-28 14:28] mkambale commented on #410
@kevinyulu Now with AzureCommunicationCalling-2.0.0, there is a proper error for this on join() call with invalid url. You get this error - **Error Domain=ACSCallingShared Code=93 "Invalid meeting link provided." UserInfo={NSLocalizedDescription=Invalid meeting link provided.}**

[2022-02-01 23:49] RinaRish commented on #363
[AB#2637074](https://dev.azure.com/skype/SCC/_workitems/edit/2637074)

[2022-02-07 20:20] tjprescott opened #438 "[BUG] Audio doesn't work after ongoing was meeting was interrupted through a phone call"
@mkambale commented on [Fri Feb 04 2022](https://github.com/Azure/azure-sdk-for-ios/issues/1146)

**Describe the bug**
If user receives phone call during meeting, user keeps teams call on hold and receives phone call, after the phone call ends and user resumes the call, input and output audio doesn't work.

**To Reproduce**
1. User joins a scheduled meeting using url and token as a guest using his

[2022-02-07 20:22] tjprescott opened #439 "[FEATURE REQ] Calling SDK - iOS - Raw media access - outgoing video"
@antpass79 commented on [Tue Feb 01 2022](https://github.com/Azure/azure-sdk-for-ios/issues/1141)

I can send raw frames through ACS to Teams meeting with Android sdk (https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/voice-video-calling/get-started-raw-media-access).
I saw in the roadmap that the version for Windows UWP is in private preview.
Is there a plan to do the same

[2022-02-07 20:38] mariusu-msft commented on #439
Hi @antpass79,

We are looking into this feature, but we don't currently have a timeline for this.

I'll check with product if we can provide a more accurate timeline soon. If you could share details about your use-case that would be great, so we can document it on our side as part of feature request.

Thanks,
Marius

[2022-02-07 20:44] mariusu-msft commented on #438
Hi,

@mkambale thanks for your report.

Just to be sure, this bug report is for the iOS SDK, and not JavaScript SDK running on Safari, right?

In your application, can you let us know if you are using CallKit at all?

Thanks,
Marius

[2022-02-08 08:33] antpass79 commented on #439
Hi @mariusu-msft,
my company needs to create a mobile app to send custom frames (a mjpeg video) through ACS in a Teams meeting, after creating a new meeting or joining with an extisting one.

We can do it developing an Android app and following the instruction here:
https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/voice-video-calling/get-started-raw-media-access
We created

[2022-02-08 17:49] tjprescott opened #440 "[BUG] CommunicationCalling crashes on hangup"
@tompi commented on [Mon Feb 07 2022](https://github.com/Azure/azure-sdk-for-ios/issues/1152)

**Describe the bug**
Experienced 3 crashes on 2 different iphones yesterday, unfortunately not "our" phones, so cant provide device logs.

***Exception or Stack Trace***
[code]

[code]

**To Reproduce**
Not able to reproduce

**Setup (please complete the following information):**
 - OS: IOS 15.2.1 and 15

[2022-02-09 02:52] mariusu-msft commented on #440
@tompi do you have any telemetry for the calls where this happened? Such as Call ID?

We may need that to be effective at debugging this.

[2022-02-09 14:30] mkambale commented on #438
@mariusu-msft Thanks for the reply.
Yes it is for iOS SDK.
Yes I am using CallKit for observing incoming call status. (func callObserver(_ callObserver: CXCallObserver, callChanged call: CXCall) )

when receives the incoming call, app sets the current meetings call to "ObHold" and then changes to "Resume" when incoming phone call ends.

[2022-02-11 07:54] tompi commented on #440
@mariusu-msft Hey, this just happened on my iphone. Attached blog is what you need to debug right?

Might be something I didnt manage to cleanup, cause it seems this happens if a call(group) goes through, I hang up, and then make a new call pretty quickly, then it crashes.

[acs_sdk-6-3554596564.blog.zip](https://github.com/Azure/Communication/files/8046938/acs_sdk-6-3554596564.blog.zip)

[2022-03-09 11:39] PineapplePie opened #447 "[Android] [Calling - 2.0.0] Absent library logs"
Hi! I can see in docs that there is a possibility to set a log level for JS and Python versions of the library. So I'm curious if it's possible to have on Android as well (something like AzureLogger.setLogLevel(Verbose)) I found a native call sam_initialization_options_set_stdout_logging, but doesn't seem like I can call it from the app. Although, it would be very helpful to debug any issues.

Tha

[2022-03-10 00:25] raosanat commented on #438
We have fixed this and will be available in next beta release.

[2022-03-11 08:02] mkambale commented on #438
@raosanat Thank you

[2022-03-14 18:21] xumo-95 commented on #366
Hi, after calling
`UIDevice.current.setValue(UIInterfaceOrientationMask.portrait.rawValue, forKey: "orientation"`
you can try calling
`UIDevice.current.endGeneratingDeviceOrientationNotifications()` to stop the video from filpping or rotating.

Please feel free to reopen this issue if the problem's not solved by this solution.

[2022-03-23 13:25] tompi commented on #363
Hey @RinaRish ! Do you know the status of the internal issue? (I dont have access...)
(My PM is eager to avoid the cropping...)

[2022-03-23 17:26] eamreyes commented on #418
Subscribing as my previous account was deleted.

[2022-03-28 21:50] akania commented on #67
ADO#2806403

[2022-04-01 04:19] JamestsaiTW opened #449 "I can run the calling sample above fine as a desktop app on x64. If I build it for arm64 and deploy it to a HoloLens I get the exception below when I make the call. Specifically when calling StartCallAsync. Is this expected to work on HoloLens?"
I can run the calling sample above fine as a desktop app on x64.  If I build it for arm64 and deploy it to a HoloLens I get the exception below when I make the call.  Specifically when calling StartCallAsync.  Is this expected to work on HoloLens?

System.Runtime.InteropServices.MissingInteropDataException
HResult=0x80131500
Message=System.Collections.Generic.IEnumerable`1[Azure.WinRT.Communicatio

[2022-04-01 04:30] JamestsaiTW commented on #449
You need to open "Properties/Default.rd.xml" in your UWP project, and add
`
<Type Name="System.Collections.Generic.IEnumerable{}" MarshalObject="Required All"/>
`
to
`<Application> </Application>` and after Comment ``

After you finish it, you can compile your UWP project again. You will run this app on HoloLens!

[2022-04-01 04:30] #449 closed

[2022-04-16 16:37] jomgar commented on #387
Any news on this one? Thank you

[2022-05-04 09:38] antpass79 commented on #439
Hi @mariusu-msft ,
do you have some news about the feature (send raw media access through ACS on IOS)?
even just a vague idea of ​​the date in public preview (this year or the next one) is enough.

thank you,
Antonio

[2022-05-09 09:00] dudeck opened #461 "[BUG] Audio is not working after incoming alarm"
**Describe the bug**
During the Teams meeting when clock alarm income audio on meeting stops working (participant is not hearing others and otherwise) even when alarm is dismissed.

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Set incomming alarm in clock system app on iPhone.
2. Connect to Teams meeting with enabled microphones on both sides.
3. Wait

[2022-05-17 06:40] curelom commented on #363
I've got to agree with tompi.  This shouldn't be considered a feature, but a bug.  When recording with a phone in portrait mode a very large amount of the video is cropped making it unusable.  At best we would have to manually overlay the video so the user knows what section of the video is actually being recorded.

[2022-05-26 07:36] dudeck commented on #461
Yes, we integrated our app with CallKit. That's great that you're working on this feature, we'll use it as soon as it's ready and stable for our purposes.

Although we have a similar issue after a phone call (with a different error code - 561017449), this case is about alarm notification.

I hope you're able to reproduce this issue.

[2022-06-14 15:06] #410 closed

[2022-06-22 02:48] curelom commented on #363
Can you grant access to this?  Says I don't have access

[2022-06-30 11:54] Muthukumar230195 opened #473 "[WEB] : rear camera local preview is rotating on the mobile device"
we are developing the virtual visit web app using azure communication calling web SDK. we also made the web app responsive to make it available on mobile devices. In the mobile device, if the user switches to the rear camera, then the stream preview is showing as mirrored and also rotating when the user rotates the device from portrait view to landscape view.

Code:
![image](https://user-images.gi

[2022-07-01 06:07] Muthukumar230195 commented on #473
![image](https://user-images.githubusercontent.com/50482582/176833958-43c800bc-47ee-47ff-91eb-50076f118165.png)
If I use this option "isMirrored: true", then the rear camera view is working fine, but the front camera view is rotating when the user rotates the device from the portrait view to the landscape view without enabling the "auto-rotate" option.

[2022-07-03 02:51] sgrmhrzn opened #475 "Cannot accept/reject a call once initial invitation is rejected by the same user in azure communication service (web sdk)"
We have a call system that is developed under the Microsoft Teams where we have a bot in our end which determines available user and invites that user. We are trying to implement azure communication service to handle the call actions from our web application. In our our system there is a feature where the call keeps searching for available user and re-routes the call even if it was rejected previo

[2022-09-18 00:22] andersonvieiragomeslopes commented on #439
Hello @antpass79 .

We've had updates on this, maybe it's already available in the alpha version of the sdk:

https://github.com/Azure/azure-sdk/issues/4845
https://github.com/lucianopa-msft/azure-docs/blob/lucianopa/raw-outgoing-video-ios/articles/communication-services/quickstarts/voice-video-calling/includes/raw-media/raw-media-access-ios.md

[2022-09-18 09:43] antpass79 commented on #439
Hello @andersonvieiragomeslopes ,
it's an fantastic news!!!

thank you very very much :)

[2022-09-28 19:06] davideberlein commented on #418
We have the same problem.
The funny thing is that you recently introduced the Environment API to be able to check the browser compatibility but that API actually needs a CallClient first.
Also having some better docs on the falgs of the environment API would also be helpful to determine which flag to best use.

[2022-10-19 22:14] fizampou commented on #385
Hi @sagarjoshi-sct,

You can achieve your asks with existing published versions, please upgrade to a newer version, preferably the [latest one](https://www.npmjs.com/package/@azure/communication-calling/v/1.8.1-beta.1).

On 1.6.0 alpha version we introduce media access APIs where application can send/receive custom audio streams. Here is an example [PR](https://github.com/Azure-Samples/communicati

[2022-10-20 00:24] fizampou commented on #386
Hi @sagarjoshi-sct,

You can achieve your asks with existing published versions, please upgrade to a newer version, preferably the [latest one](https://www.npmjs.com/package/@azure/communication-calling/v/1.8.1-beta.1).

On 1.6.0 alpha version we introduce media access APIs where application can send/receive custom audio streams. Here is an example [PR](https://github.com/Azure-Samples/communicati

[2022-10-21 07:49] sct-akouo commented on #386
@fizampou Thanks for the update.
We will be using this to achieve what is required